Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

default to false rather than nil
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

Fix a typo of the issue number in CHANGELOG
  CHANGELOG.md
Due: none

rubocop -a --only Style/StringLiterals (#2373)
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/attachment.rb
  sentry-ruby/lib/sentry/baggage.rb
  sentry-ruby/lib/sentry/breadcrumb/sentry_logger.rb
  sentry-ruby/lib/sentry/check_in_event.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/core_ext/object/deep_dup.rb
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
  sentry-ruby/lib/sentry/cron/monitor_config.rb
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/graphql.rb
  sentry-ruby/lib/sentry/interfaces/mechanism.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/lib/sentry/logger.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/metrics/aggregator.rb
  sentry-ruby/lib/sentry/metrics/set_metric.rb
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/rack.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/rake.rb
  sentry-ruby/lib/sentry/release_detector.rb
  sentry-ruby/lib/sentry/session_flusher.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/lib/sentry/utils/real_ip.rb
Due: sentry-ruby

use `self.` instead of module name
  sentry-ruby/lib/sentry/utils/env_helper.rb
Due: sentry-ruby

add tests
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Fix rubocop setup (for some envs)
  .rubocop.yml
  Gemfile
  sentry-delayed_job/.rubocop.yml
  sentry-opentelemetry/.rubocop.yml
  sentry-rails/.rubocop.yml
  sentry-resque/.rubocop.yml
  sentry-sidekiq/.rubocop.yml
Due: sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

[sentry-opentelemetry] rubocop -a --only Style/StringLiterals
  sentry-opentelemetry/lib/sentry/opentelemetry/propagator.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
Due: sentry-opentelemetry

[sentry-rails] rubocop -a --only Style/StringLiterals
  sentry-rails/Gemfile
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/lib/sentry/rails/railtie.rb
Due: sentry-rails

[sentry-resque] rubocop -a --only Style/StringLiterals
  sentry-resque/lib/sentry/resque.rb
Due: sentry-resque

[sentry-sidekiq] rubocop -a --only Style/StringLiterals
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
Due: sentry-sidekiq

Fix rubocop setup (for some envs) (#2377)
  .rubocop.yml
  Gemfile
  sentry-delayed_job/.rubocop.yml
  sentry-opentelemetry/.rubocop.yml
  sentry-opentelemetry/lib/sentry/opentelemetry/propagator.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-rails/.rubocop.yml
  sentry-rails/Gemfile
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-resque/.rubocop.yml
  sentry-resque/lib/sentry/resque.rb
  sentry-sidekiq/.rubocop.yml
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
Due: sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

feat: Add support for $SENTRY_DEBUG and $SENTRY_SPOTLIGHT (#2374)
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/utils/env_helper.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Support Rails 7.2 on CI
  .github/workflows/sentry_rails_test.yml
  sentry-rails/Gemfile
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/isolated/active_job_activation.rb
  sentry-rails/spec/sentry/generator_spec.rb
  sentry-rails/spec/sentry/rails/client_spec.rb
Due: sentry-rails

Use Rails config to silence deprecation
  sentry-rails/spec/dummy/test_rails_app/app.rb
Due: sentry-rails

Support Rails 7.2 on CI (#2382)
  .github/workflows/sentry_rails_test.yml
  sentry-rails/Gemfile
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/isolated/active_job_activation.rb
  sentry-rails/spec/sentry/generator_spec.rb
  sentry-rails/spec/sentry/rails/client_spec.rb
Due: sentry-rails

Improve sidekiq-cron patch
  sentry-sidekiq/lib/sentry/sidekiq/cron/job.rb
  sentry-sidekiq/spec/fixtures/sidekiq-cron-schedule.yml
  sentry-sidekiq/spec/sentry/sidekiq/cron/job_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Add a generic way for skipping specs
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/profiler_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Add a generic way for skipping specs (#2385)
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/profiler_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Remove rubocop from the bundle when running tests on CI
  .github/workflows/sentry_ruby_test.yml
  Gemfile
Due: none

Test against latest rack and redis-rb
  .github/workflows/sentry_ruby_test.yml
Due: none

Measure coverage under ruby 3.3
  .github/workflows/sentry_ruby_test.yml
Due: none

Fix rack spec when rack is not present
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

Improve CI (#2388)
  .github/workflows/sentry_ruby_test.yml
  Gemfile
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

add changelog entry
  CHANGELOG.md
Due: none

Fix a typo of the issue number in CHANGELOG (#2375)
  CHANGELOG.md
Due: none

all-repos: update actions/upload-artifact to v4 (#2359)
  .github/workflows/build_batch_release.yml
  .github/workflows/build_release.yml
Due: none

Improve sidekiq-cron patch (#2387)
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/cron/job.rb
  sentry-sidekiq/spec/fixtures/sidekiq-cron-schedule.yml
  sentry-sidekiq/spec/sentry/sidekiq/cron/job_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Set default app dirs pattern
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/spec/sentry/backtrace/lines_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Update changelog
  CHANGELOG.md
Due: none

Set default app dirs pattern (#2390)
  CHANGELOG.md
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/spec/sentry/backtrace/lines_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Simplify Attachment#infer_filename
  sentry-ruby/lib/sentry/attachment.rb
Due: sentry-ruby

Small refactor on Profiler's frames collection
  sentry-ruby/lib/sentry/profiler.rb
Due: sentry-ruby

Verifies that client is available before sending breadcrumbs
  CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
Due: sentry-ruby

Minor refactors (#2392)
  sentry-ruby/lib/sentry/attachment.rb
  sentry-ruby/lib/sentry/profiler.rb
Due: sentry-ruby

fix: Safe-navigate to session flusher
  sentry-ruby/lib/sentry/hub.rb
Due: sentry-ruby

Verifies that client is available before sending breadcrumbs (#2394)
  CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
Due: sentry-ruby

Fix error events missing a DSC when there's an active span
  CHANGELOG.md
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/span_spec.rb
Due: sentry-ruby

Fix error events missing a DSC when there's an active span (#2408)
  CHANGELOG.md
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/span_spec.rb
Due: sentry-ruby

Add new `strip_backtrace_load_path` boolean config (default true) to enable disabling load path stripping
  .gitignore
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_builder_spec.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_spec.rb
Due: sentry-ruby

Add new `strip_backtrace_load_path` boolean config (default true) to enable disabling load path stripping (#2409)
  .gitignore
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_builder_spec.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_spec.rb
Due: sentry-ruby

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec
  sentry-rails: any of: sentry-rails/, but not: **/spec
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec
  sentry-resque: any of: sentry-resque/, but not: **/spec
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec
