Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

[vscode] improve workspace setup
  sentry-ruby.code-workspace
Due: none

Improve docker setup for local dev (#2616)
  .devcontainer/Dockerfile
  sentry-ruby.code-workspace
Due: none

Set active_job_report_after_job_retries to true by default
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: sentry-rails

Use test jobs defined in support file
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/support/test_jobs.rb
Due: none

Introduce active_job_report_on_retry_error
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: sentry-rails

Fix spec
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: none

Adjust spec skipping logic
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

wip
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

Refactor id generation to use Utils.uuid method
  sentry-ruby/lib/sentry/check_in_event.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/lib/sentry/utils/uuid.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
Due: sentry-ruby

Refactor id generation to use Utils.uuid method (#2618)
  sentry-ruby/lib/sentry/check_in_event.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/lib/sentry/utils/uuid.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
Due: sentry-ruby

Introduce log event buffering
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Skip failing spec under jruby
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
Due: none

Move alias_method closer to the related method
  sentry-ruby/lib/sentry/log_event_buffer.rb
Due: sentry-ruby

Fix typo in ThreadedPeriodicWorker
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
Due: sentry-ruby

Introduce log event buffering (#2619)
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Stop running vernier specs under 3.2 due to a bug in Vernier
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: none

Stop running vernier specs under 3.2 due to a bug in Vernier (#2622)
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: none

chore: add form elements instead of freetext
  .github/ISSUE_TEMPLATE/01-feature.md
  .github/ISSUE_TEMPLATE/01-feature.yml
  .github/ISSUE_TEMPLATE/02-improvement.md
  .github/ISSUE_TEMPLATE/02-improvement.yml
  .github/ISSUE_TEMPLATE/03-bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/maintainer-blank.yml
Due: none

chore: add form elements instead of freetext (#2623)
  .github/ISSUE_TEMPLATE/01-feature.md
  .github/ISSUE_TEMPLATE/01-feature.yml
  .github/ISSUE_TEMPLATE/02-improvement.md
  .github/ISSUE_TEMPLATE/02-improvement.yml
  .github/ISSUE_TEMPLATE/03-bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/maintainer-blank.yml
Due: none

Introduce active_job_report_on_retry_error (#2617)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/support/test_jobs.rb
Due: sentry-rails

Rename logger => sdk_logger
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/backpressure_monitor.rb
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/metrics/aggregator.rb
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/session_flusher.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport/spotlight_transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby, sentry-rails

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove reader that we don't need here
  sentry-ruby/lib/sentry/client.rb
Due: sentry-ruby

Remove another reader that we don't need here
  sentry-ruby/lib/sentry/log_event_buffer.rb
Due: sentry-ruby

Rename logger->sdk_logger in LoggingHelper too
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/utils/logging_helper.rb
Due: sentry-ruby

Deprecate config.{logger,logger=}
  sentry-delayed_job/spec/spec_helper.rb
  sentry-opentelemetry/spec/spec_helper.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/isolated/active_job_activation.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-resque/spec/spec_helper.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/background_worker_spec.rb
  sentry-ruby/spec/sentry/backpressure_monitor_spec.rb
  sentry-ruby/spec/sentry/breadcrumb/http_logger_spec.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/excon_spec.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
  sentry-ruby/spec/sentry/graphql_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/integrable_spec.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/metrics/aggregator_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport/spotlight_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/support/Rakefile.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-ruby

YARD docs for structured logger
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/structured_logger.rb
Due: sentry-ruby

Add StructuredLogger and re-purpose Sentry.logger
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/logging/device.rb
  sentry-ruby/lib/sentry/structured_logger.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Remove obsolete comment
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: none

Add support for message templates
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/structured_logger.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Support Hash-based log templates too
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/structured_logger.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Remove redundant assignment
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Ensure we don't set message.template when body is not a template
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
Due: sentry-ruby

Lazy-load parameters
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Reduce object allocations
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Use attr readers consistently
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Remove unused reader
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby
