Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
ignore:
  - "**/spec"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Add origin to OpenTelemetry
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

Add origin to Resque
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-resque/lib/sentry/resque.rb
  sentry-resque/spec/sentry/tracing_spec.rb
Due: sentry-resque, sentry-delayed_job

Add origin to Sidekiq
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: sentry-sidekiq

Add origin to Rails
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/action_cable.rb
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/action_view_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/active_storage_subscriber.rb
  sentry-rails/spec/sentry/rails/action_cable_spec.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_view_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Due: sentry-rails

`+=` instead of `<<` (#2317)
  CHANGELOG.md
  sentry-ruby/lib/sentry/test_helper.rb
Due: sentry-ruby

Add span and trace origins (#2319)
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
  sentry-rails/lib/sentry/rails/action_cable.rb
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/action_view_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/active_storage_subscriber.rb
  sentry-rails/spec/sentry/rails/action_cable_spec.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_view_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-resque/lib/sentry/resque.rb
  sentry-resque/spec/sentry/tracing_spec.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/redis.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/redis_spec.rb
  sentry-ruby/spec/sentry/span_spec.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Log envelope delivery message with debug instead of info
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/rake_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/support/Rakefile.rb
Due: sentry-ruby

Update changelog
  CHANGELOG.md
Due: none

Log envelope delivery message with debug instead of info (#2320)
  CHANGELOG.md
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/rake_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/support/Rakefile.rb
Due: sentry-ruby

Show contributors on README.md
  sentry-ruby/README.md
Due: sentry-ruby

Fix CI for rack 3.1
  Gemfile
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
Due: sentry-ruby

Fix CI for rack 3.1 (#2327)
  Gemfile
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
Due: sentry-ruby

Don't use array for transaction names and sources on scope
  CHANGELOG.md
  sentry-ruby/bin/console
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

Don't use array for transaction names and sources on scope (#2324)
  CHANGELOG.md
  sentry-ruby/bin/console
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

Changelog for 5.18.0
  CHANGELOG.md
Due: none

Changelog for 5.18.0 (#2328)
  CHANGELOG.md
Due: none

release: 5.18.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Add breaking clarification for scope.transaction_names
  CHANGELOG.md
Due: none

Add breaking clarification for scope.transaction_names (#2331)
  CHANGELOG.md
Due: none

Fix typos
  sentry-rails/lib/sentry/rails/railtie.rb
Due: sentry-rails

feat: allow to set custom status code for different exception classes
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

add changelog
  CHANGELOG.md
Due: none

Fix
  sentry-rails/Gemfile
Due: sentry-rails

Bump sqlite3 to 1.7.* series for Ruby 3.3
  .github/workflows/build_batch_release.yml
  sentry-rails/Gemfile
Due: sentry-rails

Avoid using Gem::Specification to determine Sentry gems' paths
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
Due: sentry-rails

Drop `Gem::Specification`'s usage so it doesn't break bundler standalone (#2335)
  .github/workflows/build_batch_release.yml
  CHANGELOG.md
  sentry-rails/Gemfile
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
Due: sentry-rails

Prepare changelog for 5.18.1
  CHANGELOG.md
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

Prepare changelog for 5.18.1 (#2336)
  CHANGELOG.md
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

release: 5.18.1
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Ignore Sidekiq::JobRetry::Handled exception
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
  sentry-sidekiq/spec/sentry/sidekiq/configuration_spec.rb
Due: sentry-sidekiq

Style/TrailingCommaInArrayLiteral
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
Due: sentry-sidekiq

Use Concurrent.usable_processor_count when it is available
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Use Concurrent.usable_processor_count when it is available (#2339)
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Show contributors on README.md (#2326)
  sentry-ruby/README.md
Due: sentry-ruby

Make links in `sentry-rails` gemspec more accurate
  sentry-rails/sentry-rails.gemspec
Due: sentry-rails

Make the same URI changes for `sentry-sidekiq` gemspec
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-sidekiq

Make the same URI changes for `sentry-delayed_job` gemspec
  sentry-delayed_job/sentry-delayed_job.gemspec
Due: sentry-delayed_job
