Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

fix(sidekiq): fix failing integration spec (#2809)
  sentry-sidekiq/spec/isolated/rails_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: none

Enhance SentryReporter initialization to prevent multiple enhancements
  sentry-good_job/lib/sentry/good_job/active_job_extensions.rb
Due: none

Remove unused enhanced_context and enhanced_tags methods from context_helpers.rb
  sentry-good_job/lib/sentry/good_job/context_helpers.rb
Due: none

Add reload hook for Sentry cron monitoring setup
  sentry-good_job/lib/sentry/good_job/cron_helpers.rb
Due: none

Update gemspec file with new author and contact information, and change GitHub repository URL
  sentry-good_job/sentry-good_job.gemspec
Due: none

tests(rails): add integration tests for Sequel/Rails tracing
  sentry-rails/Gemfile
  sentry-rails/spec/dummy/test_rails_app/app/controllers/sequel_users_controller.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/isolated/sequel_tracing_spec.rb
Due: sentry-rails

feat(sequel): add Sequel database extension for query instrumentation
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry/sequel.rb
  sentry-ruby/spec/sentry/sequel_spec.rb
Due: sentry-ruby

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Automatic collection of Sequel queries (#2814)
  CHANGELOG.md
  sentry-rails/Gemfile
  sentry-rails/spec/dummy/test_rails_app/app/controllers/sequel_users_controller.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/isolated/sequel_tracing_spec.rb
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry/sequel.rb
  sentry-ruby/spec/sentry/sequel_spec.rb
Due: sentry-ruby, sentry-rails

wip
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/metric_event.rb
  sentry-ruby/lib/sentry/metric_event_buffer.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/scope.rb
Due: sentry-ruby

fix(delayed_job): fix tests for DJ 4.2.0
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
Due: none

fix(delayed_job): fix tests for DJ 4.2.0 (#2816)
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
Due: none

Handle params or nested objects correctly
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Add tests
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: none

wip
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/metric_event.rb
  sentry-ruby/lib/sentry/metric_event_buffer.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
Due: sentry-ruby

Add mise.toml to .gitignore
  .gitignore
Due: none

fix: prevent SDK crash when SDK logging fails
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/utils/logging_helper_spec.rb
Due: sentry-ruby

Rubo👮❤️
  sentry-ruby/spec/sentry/utils/logging_helper_spec.rb
Due: none

use exception message instead of original message
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/utils/logging_helper_spec.rb
Due: sentry-ruby

dry & add sanitized original msg in stderr output
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/utils/logging_helper_spec.rb
Due: sentry-ruby

more Rubo👮❤️
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/utils/logging_helper_spec.rb
Due: sentry-ruby

guard against any error in stderr logging
  sentry-ruby/lib/sentry/utils/logging_helper.rb
Due: sentry-ruby

Implemnet new `Sentry.metrics` functionality
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/metric_event.rb
  sentry-ruby/lib/sentry/metric_event_buffer.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/metric_event_buffer_spec.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

Update sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/hub.rb
Due: sentry-ruby

Don't send empty envelope
  sentry-ruby/lib/sentry/client.rb
Due: sentry-ruby

Implement new `Sentry.metrics` functionality (#2818)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/metric_event.rb
  sentry-ruby/lib/sentry/metric_event_buffer.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/metric_event_buffer_spec.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

Handle more extra attribute types when logging (#2815)
  CHANGELOG.md
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Add stacktrace to stderr logging
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/utils/logging_helper_spec.rb
Due: sentry-ruby

🧽 🧽 🧽
  sentry-ruby/lib/sentry/utils/logging_helper.rb
Due: sentry-ruby

fix: prevent SDK crash when SDK logging fails (#2817)
  .gitignore
  CHANGELOG.md
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/utils/logging_helper_spec.rb
Due: sentry-ruby

feat: add support for OpenTelemetry messaging/queue system spans
  CHANGELOG.md
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

feat: add support for OpenTelemetry messaging/queue system spans (#2685)
  CHANGELOG.md
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

Unify Logs and Metrics implementations
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/metric_event.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/utils/telemetry_attributes.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

chore(devcontainer): use node from features
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  spec/apps/svelte-mini/package-lock.json
Due: none

chore(devcontainer): add 4.0 and update the rest
  .github/workflows/build_images.yml
Due: none

chore(devcontainer): use node from features + update images (#2827)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/build_images.yml
  spec/apps/svelte-mini/package-lock.json
Due: none

ci(release): Switch from action-prepare-release to Craft
  .github/workflows/changelog-preview.yml
  .github/workflows/prepare_batch_release.yml
Due: none

ci(release): Restore GitHub App token authentication
  .github/workflows/prepare_batch_release.yml
Due: none

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
