Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Fix coverage by making sure isolated specs have SimpleCov.command_name
  .github/workflows/sentry_delayed_job_test.yml
  sentry-rails/spec/versioned/2.7/activejob_spec.rb
  sentry-ruby/Rakefile
  sentry-ruby/spec/isolated/init.rb
  sentry-ruby/spec/isolated/init_spec.rb
  sentry-ruby/spec/isolated/puma_spec.rb
Due: sentry-ruby

Fix coverage by making sure isolated specs have SimpleCov.command_name (#2629)
  .github/workflows/sentry_delayed_job_test.yml
  sentry-rails/spec/versioned/2.7/activejob_spec.rb
  sentry-ruby/Rakefile
  sentry-ruby/spec/isolated/init.rb
  sentry-ruby/spec/isolated/init_spec.rb
  sentry-ruby/spec/isolated/puma_spec.rb
Due: sentry-ruby

Fix workflow and add codecov component badges
  sentry-ruby/README.md
Due: sentry-ruby

Fix workflow and add codecov component badges (#2630)
  sentry-ruby/README.md
Due: sentry-ruby

Revert "[ci] exclude head from the matrix for now (#2624)"
  .github/workflows/sentry_ruby_test.yml
Due: none

Add cgi to bundle for ruby >= 3.5
  Gemfile
Due: none

Fix workflow links in readme
  sentry-ruby/README.md
Due: sentry-ruby

Fix workflow links in readme (#2632)
  sentry-ruby/README.md
Due: sentry-ruby

Re-add ruby head to ci (#2631)
  .github/workflows/sentry_ruby_test.yml
  Gemfile
Due: none

fix(docs): Fix typo in parameter name (#2599)
  sentry-ruby/lib/sentry/span.rb
Due: sentry-ruby

Add support for `before_log_send`
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Handle dropped log events
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Update CHANGELOG
  CHANGELOG.md
Due: none

Enhance log event processing with before_send_log callback and record discarded events
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Use Sentry::Utils.uuid
  sentry-ruby/lib/sentry/client.rb
Due: sentry-ruby

Refactor log event processing to count discarded logs instead of storing them
  sentry-ruby/lib/sentry/client.rb
Due: sentry-ruby

Support for before_send_log option (#2634)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Remove sentry-raven folder from workspace configuration (#2626)
  sentry-ruby.code-workspace
Due: none

fix(tests): Increase latency tolerance in SentryContextServerMiddleware spec
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: none

chore(workflows): Set timeout for all test workflows to 10 minutes
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

Fix flaky spec for jruby (#2635)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: none

doc: fix default rails version on CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat(sentry-rails): Allow `severity` to pass what is available at `level` when using ActiveSupport::ErrorReporter
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

Update install step in README
  sentry-ruby/README.md
Due: sentry-ruby

doc: fix default rails version on CONTRIBUTING.md (#2636)
  CONTRIBUTING.md
Due: none

Update install step in README (#2638)
  sentry-ruby/README.md
Due: sentry-ruby

WIP - simplify LogEvent
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/scope.rb
Due: sentry-ruby

WIP - optimize value_type
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

WIP - optimize serialize
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

WIP - optimize serialize_attributes
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

[devcontainer] switch to /workspace/sentry
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  sentry-ruby/spec/sentry/profiler_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: none

docs: add warning about unmaintained example and sample code
  sentry-ruby/README.md
Due: sentry-ruby

Simplify LogEvent
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/scope.rb
Due: sentry-ruby

Optimize value_type
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Optimize serialize
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Optimize serialize_attributes
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Stop creating intermediate iso timestamps
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Fix double-timestamping
  sentry-ruby/lib/sentry/client.rb
Due: sentry-ruby
