Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
ignore:
  - "**/spec"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Restore rack in Gemfile
  sentry-ruby/Gemfile
Due: sentry-ruby

Rename config.profiler -> config.profiler_class
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

Do not re-raise if Vernier crashes
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: sentry-ruby

Restore setting thread id as '0'
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

Simplify Output#stacks
  sentry-ruby/lib/sentry/vernier/output.rb
Due: sentry-ruby

Remove app_dirs_pattern fallback
  sentry-ruby/lib/sentry/vernier/profiler.rb
Due: sentry-ruby

Minor style tweak
  sentry-ruby/lib/sentry/vernier/output.rb
Due: sentry-ruby

Update CHANGELOG
  CHANGELOG.md
Due: none

Simplify dumping stacks
  sentry-ruby/lib/sentry/vernier/output.rb
Due: sentry-ruby

Even better rspec skipper
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Add early-return so that Vernier::Profiler won't be defined if vernier is not bundled
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: sentry-ruby

Better profiler_class setter in config
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Fix for codecov
  sentry-ruby/lib/sentry/vernier/profiler.rb
Due: sentry-ruby

Experimental support for multi-threaded profiling using Vernier (#2372)
  CHANGELOG.md
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/profiler/helpers.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/lib/sentry/vernier/output.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/profiler_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
  sentry-ruby/spec/spec_helper.rb
  sentry-ruby/spec/support/profiler.rb
  sentry-ruby/spec/support/stackprof_results.json
Due: sentry-ruby

Remove redundant string freeze calls
  .rubocop.yml
  sentry-rails/lib/sentry/rails/action_cable.rb
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/backtrace_cleaner.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/action_view_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/active_storage_subscriber.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/baggage.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-sidekiq/lib/sentry/sidekiq/context_filter.rb
Due: sentry-ruby, sentry-rails, sentry-sidekiq

Update tests to account for new comments
  sentry-ruby/spec/sentry/interfaces/stacktrace_builder_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: sentry-ruby

Update changelog
  CHANGELOG.md
Due: none

Fix Ruby head spec
  sentry-ruby/spec/sentry/client_spec.rb
Due: sentry-ruby

Changelog for 5.21.0
  CHANGELOG.md
Due: none

Changelog for 5.21.0 (#2423)
  CHANGELOG.md
Due: none

release: 5.21.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Introduce RSpec matchers
  sentry-ruby/lib/sentry/rspec.rb
  sentry-ruby/spec/sentry/rspec/matchers_spec.rb
Due: sentry-ruby

RSpec matchers (#2424)
  CHANGELOG.md
  sentry-ruby/lib/sentry/rspec.rb
  sentry-ruby/spec/sentry/rspec/matchers_spec.rb
Due: sentry-ruby

RescuedExceptionInterceptor: Handle empty configuration
  sentry-rails/lib/sentry/rails/rescued_exception_interceptor.rb
Due: sentry-rails

Fix issues with stopping Vernier
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: sentry-ruby

Fix issues with stopping Vernier (#2429)
  CHANGELOG.md
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: sentry-ruby

[delayed_job] update Gemfile
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

[delayed_job] update CI setup
  .github/workflows/sentry_delayed_job_test.yml
Due: none

[delayed_job] fix caching bundler on CI
  .github/workflows/sentry_delayed_job_test.yml
Due: none

[delayed_job] no need to install sqlite-dev on CI
  .github/workflows/sentry_delayed_job_test.yml
Due: none

Fix bundle cache on CI
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  sentry-sidekiq/Makefile
Due: sentry-sidekiq

[sidekiq] remove test run step from Makefile + restore bundle install
  .github/workflows/sentry_sidekiq_test.yml
  sentry-sidekiq/Makefile
Due: sentry-sidekiq

[resque] simplify running specs with/without Rails on CI
  .github/workflows/sentry_resque_test.yml
  sentry-resque/Gemfile
  sentry-resque/Gemfile_with_rails.rb
Due: sentry-resque

RescuedExceptionInterceptor: Handle empty configuration
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/rescued_exception_interceptor.rb
Due: sentry-rails

Fix bundle cache on CI (#2432)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  sentry-resque/Gemfile
  sentry-resque/Gemfile_with_rails.rb
  sentry-sidekiq/Makefile
Due: sentry-sidekiq, sentry-resque
