Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
ignore:
  - "**/spec"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Update CHANGELOG for 5.22.1 (#2496)
  CHANGELOG.md
Due: none

Default to internal_error rather than unknown_error
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
Due: sentry-opentelemetry

Add tests for SpanProcessor#update_span_status
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

Update CHANGELOG
  CHANGELOG.md
Due: none

release: 5.22.1
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Replace release bot with GH app (#2491)
  .github/workflows/prepare_batch_release.yml
  .github/workflows/prepare_raven_release.yml
Due: none

add report_after_job_retries support for activejob
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
Due: sentry-rails

require configuration
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
Due: sentry-rails

handle already_supported_by_sentry_integration
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

copy other logic
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

changelog
  sentry-rails/CHANGELOG.md
Due: sentry-rails

changelog
  CHANGELOG.md
  sentry-rails/CHANGELOG.md
Due: sentry-rails

flatten configuration to rails.actibve_job_report_after_job_retries
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails

add config default / spec
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: sentry-rails

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add tests
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

try fixing includes
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Update CHANGELOG.md
  sentry-ruby/CHANGELOG.md
Due: sentry-ruby

Improve the accuracy of duration calculations in cron jobs monitoring (#2471)
  CHANGELOG.md
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
Due: sentry-ruby

Add Metrics.duration_(start,end)
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
  sentry-ruby/lib/sentry/metrics/timing.rb
  sentry-ruby/spec/sentry/cron/monitor_check_ins_spec.rb
Due: sentry-ruby

Default to internal_error rather than unknown_error (#2473)
  CHANGELOG.md
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

Update CHANGELOG.md (#2502)
  CHANGELOG.md
Due: none

Add Metrics.duration_(start,end) (#2501)
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
  sentry-ruby/lib/sentry/metrics/timing.rb
  sentry-ruby/spec/sentry/cron/monitor_check_ins_spec.rb
Due: sentry-ruby

Require testing support files explicitly instead of Dir.glob
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Warn when before_send and before_send_transaction callbacks return non-events
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Due: sentry-ruby

Update changelog
  CHANGELOG.md
Due: none

Add multi-root workspace configuration file
  CONTRIBUTING.md
  sentry-ruby.code-workspace
Due: none

Use attempt_threshold to skip reporting on first N attempts
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Due: sentry-sidekiq

Update tons of actions, with ruby 3.4
  .github/workflows/build_batch_release.yml
  .github/workflows/build_release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/prepare_batch_release.yml
  .github/workflows/prepare_raven_release.yml
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_raven_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

Add code.namespace support, which is possible in 3.4
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-ruby/lib/sentry/backtrace.rb
Due: sentry-ruby, sentry-rails

Fixes backtracecleaner with inline templates
  sentry-rails/lib/sentry/rails/backtrace_cleaner.rb
Due: sentry-rails

Add CHANGELOG entry [ci skip]
  CHANGELOG.md
Due: none

Add multi-root workspace configuration file (#2505)
  CONTRIBUTING.md
  sentry-ruby.code-workspace
Due: none

Test Ruby 3.4; Upgrade actions workflows versions (#2506)
  .github/workflows/build_batch_release.yml
  .github/workflows/build_release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/prepare_batch_release.yml
  .github/workflows/prepare_raven_release.yml
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_raven_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/backtrace_cleaner.rb
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-ruby/lib/sentry/backtrace.rb
Due: sentry-ruby, sentry-rails

Fix syntax in workflow files
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

Use attempt_threshold to skip reporting on first N attempts (#2503)
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Due: sentry-sidekiq

Ignore Sidekiq::JobRetry::Handled exception (#2337)
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
  sentry-sidekiq/spec/sentry/sidekiq/configuration_spec.rb
Due: sentry-sidekiq

Fix ActiveJob tests for Rails 7.2 and 8.0
  sentry-rails/Gemfile
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails
