Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Update docs
  sentry-ruby/lib/sentry/structured_logger.rb
Due: sentry-ruby

Fix issues with parameters handling and extra attributes
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/structured_logger.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Fix spec
  sentry-ruby/spec/sentry/log_event_spec.rb
Due: none

Re-add Sentry.logger but with a deprecation warning
  sentry-ruby/lib/sentry-ruby.rb
Due: sentry-ruby

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove _experiments namespace from config
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

Fix Configuration#logger
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Add StructuredLogger and re-purpose Sentry.logger
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/logging/device.rb
  sentry-ruby/lib/sentry/structured_logger.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

YARD docs for structured logger
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/structured_logger.rb
Due: sentry-ruby

Remove obsolete comment
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: none

Add support for message templates
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/structured_logger.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Support Hash-based log templates too
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/structured_logger.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Remove redundant assignment
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Ensure we don't set message.template when body is not a template
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
Due: sentry-ruby

Reduce object allocations
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Lazy-load parameters
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Use attr readers consistently
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Remove unused reader
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Auto-flush log events when adding and fix flush
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Add enabled_logs toplevel config
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Rework logger init to work with enabled_logs config
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Remove unused Device logging class
  sentry-ruby/lib/sentry/logging/device.rb
Due: sentry-ruby

More examples in CHANGELOG
  CHANGELOG.md
Due: none

Fix parameter naming in log event attributes
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Add new Sentry.logger (#2620)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/structured_logger.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

[ci] exclude head from the matrix for now
  .github/workflows/sentry_ruby_test.yml
Due: none

[ci] exclude head from the matrix for now (#2624)
  .github/workflows/sentry_ruby_test.yml
Due: none

Remove obsolete entry from CHANGELOG
  CHANGELOG.md
Due: none

Remove obsolete entry from CHANGELOG (#2625)
  CHANGELOG.md
Due: none

Remove sentry-raven folder from workspace configuration
  sentry-ruby.code-workspace
Due: none

changelog for 5.24.0
  CHANGELOG.md
Due: none

changelog for 5.24.0 (#2627)
  CHANGELOG.md
Due: none

release: 5.24.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Inherit secrets to fix CODECOV_TOKEN not present in sub actions
  .github/workflows/tests.yml
Due: none

Inherit secrets to fix CODECOV_TOKEN not present in sub actions (#2628)
  .github/workflows/tests.yml
Due: none

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
