Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

refactor(rails): rename error_context to sanitize_context
  sentry-rails/lib/sentry/rails/error_reporter_context.rb
  sentry-rails/lib/sentry/rails/error_subscriber.rb
Due: sentry-rails

README.md: Drop broken Dependabot version compatibility badge
  sentry-sidekiq/README.md
Due: sentry-sidekiq

fix(rails): guard execution context with send_default_pii
  sentry-rails/lib/sentry/rails/error_reporter_context.rb
  sentry-rails/spec/active_job/shared_examples/error_context.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

fix(rails): guard execution context with send_default_pii (#3043)
  sentry-rails/lib/sentry/rails/error_reporter_context.rb
  sentry-rails/spec/active_job/shared_examples/error_context.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

ci: Replace secrets: inherit with explicit CODECOV_TOKEN pass
  .github/workflows/gem_test.yml
  .github/workflows/tests.yml
Due: none

ci: Replace secrets: inherit with explicit CODECOV_TOKEN pass (#3047)
  .github/workflows/gem_test.yml
  .github/workflows/tests.yml
Due: none

Fix trace_id mismatch for logs emitted before CaptureExceptions runs
  sentry-rails/lib/sentry/rails/capture_context.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/capture_context_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby, sentry-rails

release: 6.7.0
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
  sentry-yabeda/lib/sentry/yabeda/version.rb
  sentry-yabeda/sentry-yabeda.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

trim changelog
  CHANGELOG.md
Due: none

tweak changelog
  CHANGELOG.md
Due: none

README.md: Drop broken Dependabot version compatibility badge (#3042)
  sentry-sidekiq/README.md
Due: sentry-sidekiq

ci(relock): Trigger update lockfiles on release commit
  .github/workflows/update_lockfiles.yml
Due: none

ci(relock): Trigger update lockfiles on release commit (#3048)
  .github/workflows/update_lockfiles.yml
Due: none

ci: Use booleans for apt instead of string
  .github/workflows/gem_test.yml
  .github/workflows/tests.yml
Due: none

ci: Use booleans for apt instead of string (#3050)
  .github/workflows/gem_test.yml
  .github/workflows/tests.yml
Due: none

feat(data-collection): Add base DataCollection configuration with defaults and backfill
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/data_collection_spec.rb
Due: sentry-ruby

feat(data-collection): add configuration and sensitive key filtering
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/lib/sentry/data_collection/key_value_collection.rb
  sentry-ruby/spec/sentry/data_collection/key_value_collection_spec.rb
Due: sentry-ruby

feat(data-collection): configure and filter collected data
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/user_propagation.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: sentry-ruby, sentry-rails, sentry-sidekiq

feat(data-collection): request data collection
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/lib/sentry/data_collection/key_value_collection.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/data_collection/key_value_collection_spec.rb
  sentry-ruby/spec/sentry/data_collection_spec.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

feat(data-collection): Port redis, net:http, faraday and excon integrations
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/lib/sentry/excon/middleware.rb
  sentry-ruby/lib/sentry/faraday.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/lib/sentry/redis.rb
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/excon_spec.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/redis_spec.rb
  sentry-ruby/spec/sentry/utils/http_tracing_spec.rb
Due: sentry-ruby

feat(data-collection): Port Rails controller and ActiveStorage
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/lib/sentry/rails/tracing/active_storage_subscriber.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry/data_collection/key_value_collection.rb
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/data_collection/key_value_collection_spec.rb
  sentry-ruby/spec/sentry/utils/http_tracing_spec.rb
Due: sentry-ruby, sentry-rails

feat(data-collection): Port Rails log subscribers
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/parameter_filter.rb
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/support/shared_examples_for_parameter_filter.rb
  sentry-ruby/lib/sentry/data_collection.rb
Due: sentry-ruby, sentry-rails

feat(data-collection): Add base DataCollection configuration with defaults and backfill (#3022)
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/data_collection_spec.rb
Due: sentry-ruby

feat(data-collection): add configuration and sensitive key filtering (#3025)
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/lib/sentry/data_collection/key_value_collection.rb
  sentry-ruby/spec/sentry/data_collection/key_value_collection_spec.rb
Due: sentry-ruby

feat(data-collection): configure and filter collected data (#3028)
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/user_propagation.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: sentry-ruby, sentry-rails, sentry-sidekiq

feat(data-collection): Port redis, net:http, faraday and excon (#3032)
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/lib/sentry/excon/middleware.rb
  sentry-ruby/lib/sentry/faraday.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/lib/sentry/redis.rb
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/excon_spec.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/redis_spec.rb
  sentry-ruby/spec/sentry/utils/http_tracing_spec.rb
Due: sentry-ruby

feat(data-collection): request data collection (#3030)
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/lib/sentry/data_collection/key_value_collection.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/data_collection/key_value_collection_spec.rb
  sentry-ruby/spec/sentry/data_collection_spec.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

feat(data-collection): Port Rails controller and ActiveStorage (#3033)
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/lib/sentry/rails/tracing/active_storage_subscriber.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry/data_collection/key_value_collection.rb
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/data_collection/key_value_collection_spec.rb
  sentry-ruby/spec/sentry/utils/http_tracing_spec.rb
Due: sentry-ruby, sentry-rails

feat(data-collection): Port Rails log subscribers (#3034)
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/parameter_filter.rb
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/support/shared_examples_for_parameter_filter.rb
  sentry-ruby/lib/sentry/data_collection.rb
Due: sentry-ruby, sentry-rails

fix(rails): set dummy rails app before calling initializers
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
Due: none

fix(rails): set dummy rails app before calling initializers (#3055)
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
Due: none

wololo!
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/wololo.rb
Due: sentry-ruby

feat!: Remove enable_logs
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/active_job/shared_examples/structured_logging.rb
  sentry-rails/spec/active_job/shared_examples/tracing/user_propagation.rb
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/isolated/rails_logger_patch_spec.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/structured_logging_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/debug_structured_logger.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/isolated/sentry_logger_spec.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
  sentry-ruby/spec/sentry/debug_structured_logger_spec.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/metric_event_buffer_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
  spec/apps/rails-mini/app.rb
  spec/spec_helper.rb
Due: sentry-ruby, sentry-rails

feat! Remove enable_metrics
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-yabeda/README.md
  sentry-yabeda/lib/sentry/yabeda/adapter.rb
  sentry-yabeda/lib/sentry/yabeda/configuration.rb
  sentry-yabeda/spec/sentry/yabeda/adapter_spec.rb
  sentry-yabeda/spec/sentry/yabeda/collector_spec.rb
  sentry-yabeda/spec/sentry/yabeda/integration_spec.rb
  sentry-yabeda/spec/spec_helper.rb
Due: sentry-ruby

feat!: Remove enable_logs (#3053)
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/active_job/shared_examples/structured_logging.rb
  sentry-rails/spec/active_job/shared_examples/tracing/user_propagation.rb
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/isolated/rails_logger_patch_spec.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/structured_logging_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/debug_structured_logger.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/isolated/sentry_logger_spec.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
  sentry-ruby/spec/sentry/debug_structured_logger_spec.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/metric_event_buffer_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
  spec/apps/rails-mini/app.rb
  spec/spec_helper.rb
Due: sentry-ruby, sentry-rails

feat! Remove enable_metrics (#3061)
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-yabeda/README.md
  sentry-yabeda/lib/sentry/yabeda/adapter.rb
  sentry-yabeda/lib/sentry/yabeda/configuration.rb
  sentry-yabeda/spec/sentry/yabeda/adapter_spec.rb
  sentry-yabeda/spec/sentry/yabeda/collector_spec.rb
  sentry-yabeda/spec/sentry/yabeda/integration_spec.rb
  sentry-yabeda/spec/spec_helper.rb
Due: sentry-ruby

feat!(otlp): setup_otlp_traces_exporter and setup_propagator now default to false
  sentry-opentelemetry/lib/sentry/opentelemetry/configuration.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_setup.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/configuration_spec.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/otlp_setup_spec.rb
Due: sentry-opentelemetry

feat!(otlp): setup_otlp_traces_exporter and setup_propagator now default to false (#3063)
  sentry-opentelemetry/lib/sentry/opentelemetry/configuration.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_setup.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/configuration_spec.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/otlp_setup_spec.rb
Due: sentry-opentelemetry

feat(data-collection): Gate ActiveJob arguments and ExecutionContext inclusion
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/error_reporter_context.rb
  sentry-rails/spec/active_job/shared_examples/argument_serialization.rb
  sentry-rails/spec/active_job/shared_examples/error_context.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/versioned/2.7/activejob_spec.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
Due: sentry-ruby, sentry-rails

feat(data-collection): Gate ActiveJob arguments and ExecutionContext inclusion (#3064)
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/error_reporter_context.rb
  sentry-rails/spec/active_job/shared_examples/argument_serialization.rb
  sentry-rails/spec/active_job/shared_examples/error_context.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/versioned/2.7/activejob_spec.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
Due: sentry-ruby, sentry-rails
