Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

feat(delayed_job): add queue metrics and enhanced observability
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
Due: sentry-delayed_job

chore: X handle update
  sentry-ruby/README.md
Due: sentry-ruby

fix(rails): improve AR tracing performance
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/backtrace/line.rb
  sentry-ruby/spec/sentry/backtrace/lines_spec.rb
Due: sentry-ruby, sentry-rails

Update CHANGELOG
  CHANGELOG.md
Due: none

Update dependency for sentry-ruby to version 6.1.0 in the sentry-good_job gemspec file.
  sentry-good_job/sentry-good_job.gemspec
Due: none

chore: X handle update (#2770)
  sentry-ruby/README.md
Due: sentry-ruby

WIP
  sentry-rails/Gemfile
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
Due: sentry-rails

fix(jruby): more margin for jruby in a flaky spec
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: none

chore(jruby): remove conditional spec execution
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: none

Apply rubocop fixes
  sentry-good_job/bin/console
  sentry-good_job/bin/setup
  sentry-good_job/spec/sentry/good_job/integration_spec.rb
Due: none

Update CHANGELOG to include sentry-good_job integration feature
  CHANGELOG.md
Due: none

changelog: add breaking change for improved cron monitor slug formatting
  CHANGELOG.md
Due: none

fix: improve regex for cron monitor slug formatting to handle edge cases
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
Due: sentry-ruby

chore(jruby): fixes and updates (#2772)
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: none

Add missing require
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
Due: sentry-rails

Simplify cache
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-ruby/lib/sentry/backtrace.rb
Due: sentry-ruby, sentry-rails

[rails] improve AR tracing performance (#2769)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/backtrace/line.rb
  sentry-ruby/spec/sentry/backtrace/lines_spec.rb
Due: sentry-ruby, sentry-rails

Ignore new rails rate_limit errors
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails

Fix configuration to include TooManyRequests error
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix(rails): properly skip silenced logs from AR
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

fix(rails): properly skip silenced logs from AR (#2775)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

chore(specs): minor formatting fix
  sentry-ruby/spec/sentry/client_spec.rb
Due: none

fix(specs): remove global class from client spec
  sentry-ruby/spec/sentry/client_spec.rb
Due: none

fix(logs): skip malformed utf-8 messages
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/utils/encoding_helper.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Small clean up in client spec (#2778)
  sentry-ruby/spec/sentry/client_spec.rb
Due: none

codecov: wait for 100 builds
  codecov.yml
Due: none

codecov: wait for 100 builds (#2779)
  codecov.yml
Due: none

fix(logs): skip malformed utf-8 messages (#2777)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/utils/encoding_helper.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

fix(logs): don't choke on malformed attributes
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Fix initialized check in Sentry::Rails::CaptureExceptions
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
Due: sentry-rails

Fix initialized check in Sentry::Rails::CaptureExceptions (#2783)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
Due: sentry-rails

Replace malformed strings instead of dropping logs
  .devcontainer/run
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/utils/encoding_helper.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Add another test scenario
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: none

fix(logs): don't choke on malformed attributes (#2780)
  .devcontainer/run
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/utils/encoding_helper.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Update CHANGELOG (#2784)
  CHANGELOG.md
Due: none

release: 6.1.1
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

fix(rails): handle positioned binds in logging
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
