Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Remove jar-dependencies pin (#2556)
  Gemfile
Due: none

Add spec:versioned rake task
  sentry-rails/Rakefile
Due: sentry-rails

Add a spec checking range serialization in ActiveJob
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Ensure begin-less and end-less ranges work too
  sentry-rails/Rakefile
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/spec_helper.rb
  sentry-rails/spec/support/test_jobs.rb
  sentry-rails/spec/versioned/2.7/activejob_spec.rb
Due: sentry-rails

Fix argument serialization for ranges
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Update CHANGELOG
  CHANGELOG.md
Due: none

[rubocop] ignore versioned specs
  .rubocop.yml
Due: none

Fix a crash when ActiveJob context include a range with TimeWithZone (#2548)
  .rubocop.yml
  CHANGELOG.md
  sentry-rails/Rakefile
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/spec_helper.rb
  sentry-rails/spec/support/test_jobs.rb
  sentry-rails/spec/versioned/2.7/activejob_spec.rb
Due: sentry-rails

Prevent starting Vernier in nested transactions
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/transactions/profiler_spec.rb
Due: sentry-ruby

Document new Hub methods as private
  sentry-ruby/lib/sentry/hub.rb
Due: sentry-ruby

Prevent starting Vernier in nested transactions (#2528)
  CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/transactions/profiler_spec.rb
Due: sentry-ruby

Set up webmock for specs
  sentry-ruby/Gemfile
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Replace faulty spec with something more useful
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Stub requests in event sending spec
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Due: sentry-ruby

Use sentry request stubbing when needed
  sentry-ruby/spec/contexts/with_request_mock.rb
  sentry-ruby/spec/sentry/breadcrumb/http_logger_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Fix faraday spec even though it sends HTTP request
  sentry-ruby/spec/sentry/faraday_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

DRY up toggling webmock in specs
  sentry-ruby/spec/contexts/with_request_mock.rb
  sentry-ruby/spec/sentry/breadcrumb/http_logger_spec.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Fix problematic spec
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/rspec/matchers_spec.rb
Due: sentry-ruby

Fix flaky specs (#2561)
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/contexts/with_request_mock.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/rspec/matchers_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

[sidekiq] Add sidekiq from main for testing
  sentry-sidekiq/Gemfile
Due: sentry-sidekiq

[sidekiq] add basic Vernier spec
  sentry-sidekiq/Gemfile
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Trigger codecov manually after Test WFs are done
  .github/workflows/codecov.yml
  codecov.yml
Due: none

Trigger codecov manually after Test WFs are done (#2562)
  .github/workflows/codecov.yml
  codecov.yml
Due: none

Run all tests in a single workflow with CodeCov
  .github/workflows/codecov.yml
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_raven_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/tests.yml
Due: none

Specify sha for ruby_versions workflow
  .github/workflows/tests.yml
Due: none

Add codecov token
  .github/workflows/tests.yml
Due: none

Better CI setup (#2563)
  .github/workflows/codecov.yml
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_raven_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/tests.yml
Due: none

Add spec for Resque.inline = true
  sentry-resque/spec/sentry/resque_spec.rb
Due: sentry-resque

Handle the payload's class being an actual class
  sentry-resque/lib/sentry/resque.rb
  sentry-resque/spec/sentry/resque_spec.rb
Due: sentry-resque

Add a CHANGELOG entry
  CHANGELOG.md
Due: none

Remove potential reliance on ActiveSupport::Inflector#constantize
  sentry-resque/lib/sentry/resque.rb
Due: sentry-resque

Remove empty line after context block
  sentry-resque/spec/sentry/resque_spec.rb
Due: sentry-resque

Revert "Remove potential reliance on ActiveSupport::Inflector#constantize"
  sentry-resque/lib/sentry/resque.rb
Due: sentry-resque

Extract complex retry conditionals into a method
  sentry-resque/lib/sentry/resque.rb
Due: sentry-resque

TypeError when payload class is already a constant (#2564)
  CHANGELOG.md
  sentry-resque/lib/sentry/resque.rb
  sentry-resque/spec/sentry/resque_spec.rb
Due: sentry-resque

Use File.open in LineCache
  sentry-ruby/lib/sentry/linecache.rb
Due: sentry-ruby

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec
  sentry-rails: any of: sentry-rails/, but not: **/spec
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec
  sentry-resque: any of: sentry-resque/, but not: **/spec
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec
