Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

fix: Pin actions to SHA and add permissions blocks
  .github/workflows/build_batch_release.yml
  .github/workflows/build_images.yml
  .github/workflows/build_release.yml
  .github/workflows/changelog-preview.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/lint.yml
  .github/workflows/prepare_batch_release.yml
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/tests.yml
Due: none

fix: Use github.event.inputs for workflow_dispatch inputs
  .github/workflows/prepare_batch_release.yml
Due: none

fix: Use correct action version SHAs (restore original versions)
  .github/workflows/build_batch_release.yml
  .github/workflows/build_images.yml
  .github/workflows/build_release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/lint.yml
  .github/workflows/prepare_batch_release.yml
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/tests.yml
Due: none

fix: Clean up action version comments
  .github/workflows/build_batch_release.yml
  .github/workflows/build_images.yml
  .github/workflows/build_release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/lint.yml
  .github/workflows/prepare_batch_release.yml
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/tests.yml
Due: none

feat(std_lib_logger): add support for filtering
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Reduce hash allocations
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/metric_event.rb
  sentry-ruby/lib/sentry/scope.rb
Due: sentry-ruby

Update sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Fix transform_values
  sentry-ruby/lib/sentry/metric_event.rb
Due: sentry-ruby

Optimize scope attribute setting
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/scope.rb
Due: sentry-ruby

Unify Logs and Metrics implementations (#2826)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/metric_event.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/utils/telemetry_attributes.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

feat(std_lib_logger): add support for filtering (#2829)
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Unify LogEventBuffer and MetricEventBuffer logic
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/metric_event_buffer.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/metric_event_buffer_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

Apply suggestions from code review
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
Due: sentry-ruby

log_error
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
Due: sentry-ruby

Update sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Due: none

Unify LogEventBuffer and MetricEventBuffer logic (#2830)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/metric_event_buffer.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/metric_event_buffer_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

Have a higher max limit for TelemetryEventBuffer after which we completely drop events
  CHANGELOG.md
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/metric_event_buffer.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

Update sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: none

Max drop limit for TelemetryEventBuffer after which we completely drop events (#2831)
  CHANGELOG.md
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/metric_event_buffer.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

Lazily start `TelemetryEventBuffer`s
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

move ensure_thread inside mutex
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
Due: sentry-ruby

Lazily start TelemetryEventBuffer threads (#2832)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

Update Craft SHA to 1c58bfd57bfd6a967b6f3fc92bead2c42ee698ce
  .github/workflows/prepare_batch_release.yml
Due: none

Remove changelog-preview workflow per review feedback
  .github/workflows/changelog-preview.yml
Due: none

fix: revert extraneous changes to non-release workflow files
  .github/workflows/build_batch_release.yml
  .github/workflows/build_images.yml
  .github/workflows/build_release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/lint.yml
  .github/workflows/prepare_batch_release.yml
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/tests.yml
Due: none

build(craft): Fix release workflows and config
  .github/workflows/prepare_batch_release.yml
Due: none

build(craft): Update Craft action to c6e2f04
  .github/workflows/prepare_batch_release.yml
Due: none

Enable metrics by default
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
Due: sentry-ruby

Enable metrics by default (#2835)
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
Due: sentry-ruby

changelog for 6.3.0
  CHANGELOG.md
Due: none

changelog for 6.3.0 (#2836)
  CHANGELOG.md
Due: none

fix: add explicit dependency on logger for Ruby 4
  CHANGELOG.md
  sentry-ruby/sentry-ruby.gemspec
Due: sentry-ruby

add configuration for capturing queue time
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Extract, normalize & add queue time to transaction
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

release: 6.3.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Test app for queue time in Sentry
  test_app/sentry_queue_test.rb
Due: none

Fix redos issue
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  test_app/sentry_queue_test.rb
Due: sentry-ruby

move test app
  sentry-ruby/test-app/sentry_queue_test.rb
Due: sentry-ruby

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
