Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

fix(active_job): widen manual flushing to rails < 6.1
  sentry-rails/spec/active_job/support/harness.rb
Due: none

refactor(active_job): make the spec harness adapter-agnostic
  sentry-rails/spec/active_job/shared_examples/tracing/trace_propagation.rb
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/active_job/support/test_adapter_context.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: none

test(active_job): verify the AJ tracing suite passes on the :sidekiq adapter
  sentry-rails/Gemfile
  sentry-rails/spec/active_job/sidekiq_adapter_spec.rb
  sentry-rails/spec/active_job/support/sidekiq_adapter_context.rb
Due: sentry-rails

perf(active_job): boot the dummy app once per spec group
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/active_job/support/sidekiq_adapter_context.rb
Due: none

tests(active_job): add basic scenario for active_job_propagate_traces
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: none

test(e2e): end-to-end ActiveJob distributed-tracing spec
  spec/apps/svelte-mini/src/App.svelte
  spec/features/active_job_tracing_spec.rb
Due: none

refa(active_job): log more details when adding sentry payload fails
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

refa(active_job): store our stuff under single _sentry ivar
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/support/test_adapter_context.rb
Due: sentry-rails

tests(active_job): request-based hub isolation coverage
  sentry-rails/spec/dummy/test_rails_app/app/controllers/hello_controller.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/sentry/rails/active_job_hub_isolation_spec.rb
Due: none

refa(active_job): better thread isolation spec
  sentry-rails/spec/active_job/shared_examples/tracing/worker_hub_isolation.rb
  sentry-rails/spec/active_job/support/harness.rb
Due: none

fix(active_job): calc latency to reduce flakiness
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
Due: none

feat(rails): add dj/resque adapter specs
  .devcontainer/.env.example
  .devcontainer/docker-compose.yml
  .github/workflows/e2e_tests.yml
  .mise.toml
  sentry-rails/Gemfile
  sentry-rails/spec/active_job/delayed_job_adapter_spec.rb
  sentry-rails/spec/active_job/resque_adapter_spec.rb
  sentry-rails/spec/active_job/support/delayed_job_adapter_context.rb
  sentry-rails/spec/active_job/support/resque_adapter_context.rb
  sentry-rails/spec/dummy/test_rails_app/db/schema.rb
  spec/apps/rails-mini/Gemfile
  spec/apps/rails-mini/app.rb
  spec/apps/rails-mini/worker.rb
  spec/features/active_job_tracing_spec.rb
  spec/spec_helper.rb
Due: sentry-rails

refactor(active_job): ensure enqueue won't crash due to sentry crashing
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/producer_span.rb
Due: sentry-rails

fix(active_job): symbolize user keys for proper scope handling
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/user_propagation.rb
Due: sentry-rails

tests(rails): ensure queue.publish is emitted regardless of propagate traces setting
  sentry-rails/spec/active_job/shared_examples/tracing/trace_propagation.rb
Due: none

tests(rails): ensure our instrumentation failures do not break AJ backends
  sentry-rails/spec/active_job/shared_examples/tracing/distributed_tracing.rb
  sentry-rails/spec/active_job/shared_examples/tracing/instrumentation_resilience.rb
Due: none

refactor(rails): remove dead defaulting to {} for user
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

refactor(rails): use consumer_transaction helper
  sentry-rails/spec/active_job/shared_examples/tracing/consumer_transaction.rb
Due: none

fix(rails): relax spying to make the spec pass under old rails
  sentry-rails/spec/active_job/shared_examples/tracing/instrumentation_resilience.rb
Due: none

fix(active_job): use `background: true` like integration gems
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/error_capture.rb
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/active_job/support/manual_background_worker.rb
Due: sentry-rails

feat(client-reports): Record log_byte and trace_metric_byte outcomes
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/spec_helper.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

feat(client-reports): Record log_byte and trace_metric_byte outcomes (#2997)
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/spec_helper.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

refactor(active_job): simpler allowlist calc
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

refactor(active_job): streamline test job defs
  sentry-rails/spec/active_job/shared_examples/adapter_skipping.rb
  sentry-rails/spec/active_job/shared_examples/argument_serialization.rb
  sentry-rails/spec/active_job/shared_examples/error_capture.rb
  sentry-rails/spec/active_job/shared_examples/scheduled_jobs.rb
  sentry-rails/spec/active_job/shared_examples/tracing/consumer_transaction.rb
  sentry-rails/spec/active_job/shared_examples/tracing/instrumentation_resilience.rb
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
  sentry-rails/spec/active_job/shared_examples/tracing/producer_span.rb
  sentry-rails/spec/active_job/shared_examples/tracing/trace_propagation.rb
  sentry-rails/spec/active_job/shared_examples/tracing/user_propagation.rb
  sentry-rails/spec/active_job/support/harness.rb
Due: none

refactor(active_job): shorten comment about spec skipping
  sentry-rails/spec/active_job/support/delayed_job_adapter_context.rb
  sentry-rails/spec/active_job/support/resque_adapter_context.rb
Due: none

refactor(active_job): shorten spec desc
  sentry-rails/spec/active_job/support/sidekiq_adapter_context.rb
Due: none

chore(deps): bump locks
  sentry-rails/gemfiles/ruby-2.7_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.0_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.1_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.1_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.1.3.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.1.3.gemfile.lock
  sentry-rails/gemfiles/ruby-jruby-9.4.14.0_rails-7.1.0.gemfile.lock
Due: sentry-rails

feat(rails): initial support for Solid Queue
  sentry-rails/.gitignore
  sentry-rails/Gemfile
  sentry-rails/spec/active_job/solid_queue_spec.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/dummy/test_rails_app/db/queue_schema.rb
Due: sentry-rails

feat: New set_attribute api
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/utils/telemetry_attributes.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

feat: New set_attribute api (#2998)
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/utils/telemetry_attributes.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

ci(devcontainer): Don't use caches for docker build
  .github/workflows/build_images.yml
Due: none

ci(devcontainer): Don't use caches for docker build (#2999)
  .github/workflows/build_images.yml
Due: none

chore: Move rubocop to mise
  .github/workflows/lint.yml
  .mise.toml
  .rubocop.yml
  AGENTS.md
  Gemfile.dev
  Gemfile.rubocop
  Gemfile.rubocop.lock
  bin/test
  sentry-delayed_job/.rubocop.yml
  sentry-opentelemetry/.rubocop.yml
  sentry-rails/.rubocop.yml
  sentry-resque/.rubocop.yml
  sentry-ruby/.rubocop.yml
  sentry-sidekiq/.rubocop.yml
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

ci: Bump action SHAs
  .github/workflows/build_images.yml
  .github/workflows/build_release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/gem_test.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/update_lockfiles.yml
  .github/workflows/validate-pr.yml
Due: none
