Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
ignore:
  - "**/spec"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Revert "Add date range to licence (#2516)" (#2518)
  LICENSE
Due: none

Stop relying on fugit
  sentry-sidekiq/lib/sentry/sidekiq-scheduler/scheduler.rb
Due: sentry-sidekiq

Update CHANGELOG
  CHANGELOG.md
Due: none

Stop relying on fugit (#2519)
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq-scheduler/scheduler.rb
Due: sentry-sidekiq

Prep CHANGELOG for rel 5.22.2
  CHANGELOG.md
Due: none

Prep CHANGELOG for rel 5.22.2 (#2521)
  CHANGELOG.md
Due: none

release: 5.22.2
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Update CHANGELOG (#2527)
  CHANGELOG.md
Due: none

Allow before_send* callbacks to return Hash
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Due: sentry-ruby

Print deprecation message when users pass a Hash to before_send* callbacks
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Due: sentry-ruby

Update changelog
  CHANGELOG.md
Due: none

Accept Hash in `before_send*` callbacks again (#2529)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Due: sentry-ruby

Changelog for 5.22.3
  .github/workflows/sentry_delayed_job_test.yml
  CHANGELOG.md
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

Changelog for 5.22.3 (#2532)
  .github/workflows/sentry_delayed_job_test.yml
  CHANGELOG.md
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

release: 5.22.3
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Fix handling of cron with tz in Cron::Job
  sentry-sidekiq/lib/sentry-sidekiq.rb
  sentry-sidekiq/lib/sentry/sidekiq-scheduler/scheduler.rb
  sentry-sidekiq/lib/sentry/sidekiq/cron/helpers.rb
  sentry-sidekiq/lib/sentry/sidekiq/cron/job.rb
  sentry-sidekiq/spec/fixtures/sidekiq-cron-schedule.yml
  sentry-sidekiq/spec/sentry/sidekiq/cron/job_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Fix handling of cron with tz in Cron::Job (#2530)
  CHANGELOG.md
  sentry-sidekiq/lib/sentry-sidekiq.rb
  sentry-sidekiq/lib/sentry/sidekiq-scheduler/scheduler.rb
  sentry-sidekiq/lib/sentry/sidekiq/cron/helpers.rb
  sentry-sidekiq/lib/sentry/sidekiq/cron/job.rb
  sentry-sidekiq/spec/fixtures/sidekiq-cron-schedule.yml
  sentry-sidekiq/spec/sentry/sidekiq/cron/job_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Revert "[rails] support string errors in error reporter (#2464)"
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

Revert "[rails] support string errors in error reporter (#2464)" (#2533)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

Prevent starting Vernier in nested transactions
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/transactions/profiler_spec.rb
Due: sentry-ruby

Deprecate enable_tracing in favor of traces_sample_rate
  CHANGELOG.md
  sentry-rails/lib/generators/sentry_generator.rb
  sentry-rails/spec/sentry/generator_spec.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/metrics/aggregator_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
Due: sentry-ruby, sentry-rails

Remove jar-dependencies pin
  Gemfile
Due: none

Add back jruby to delayed_job
  .github/workflows/sentry_delayed_job_test.yml
Due: none

Introduce Configuration#validate
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Add a simple validate DSL to Configuration
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

Remove unused method
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

Construct error message in the validation itself
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

Stricter specs
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Fix spec for non-vernier setup
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Introduce Configuration#validate (#2537)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Deprecate config.metrics and Sentry::Metrics
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/metrics/aggregator.rb
  sentry-ruby/lib/sentry/metrics/configuration.rb
  sentry-ruby/lib/sentry/metrics/counter_metric.rb
  sentry-ruby/lib/sentry/metrics/distribution_metric.rb
  sentry-ruby/lib/sentry/metrics/gauge_metric.rb
  sentry-ruby/lib/sentry/metrics/local_aggregator.rb
  sentry-ruby/lib/sentry/metrics/metric.rb
  sentry-ruby/lib/sentry/metrics/set_metric.rb
  sentry-ruby/lib/sentry/metrics/timing.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_builder_spec.rb
  sentry-ruby/spec/sentry/metrics/aggregator_spec.rb
  sentry-ruby/spec/sentry/metrics/configuration_spec.rb
  sentry-ruby/spec/sentry/metrics/counter_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/distribution_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/gauge_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/local_aggregator_spec.rb
  sentry-ruby/spec/sentry/metrics/metric_spec.rb
  sentry-ruby/spec/sentry/metrics/set_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/timing_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/span_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Fix regression with CheckInEvent in before_send
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Due: sentry-ruby

Fix regression with CheckInEvent in before_send (#2541)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Due: sentry-ruby

Don't log warnings about missing deps when profiling is not enabled
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby
