Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

try a different way
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: none

Fix formatting
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix for jruby
  sentry-rails/spec/spec_helper.rb
Due: none

Properly detach retry_stopped.active_job subscriber
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

Fix flaky specs, I think
  sentry-rails/lib/sentry/rails/railtie.rb
Due: sentry-rails

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix spec for old rails
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: none

[sidekiq] Add sidekiq from main for testing (#2578)
  sentry-sidekiq/Gemfile
Due: sentry-sidekiq

[sidekiq] add basic Vernier spec (#2465)
  sentry-sidekiq/Gemfile
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Add new sidekiq config
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Due: sentry-sidekiq

Update dev container setup (#2576)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

Gracefully fail on malformed utf-8 breadcrumb message
  CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Gracefully fail on malformed utf-8 breadcrumb message (#2582)
  CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Add new sidekiq config (#2581)
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Due: sentry-sidekiq

Add max_nesting of 10 to breadcrumbs data serialization
  CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
Due: sentry-ruby

Add max_nesting of 10 to breadcrumbs data serialization (#2583)
  CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
Due: sentry-ruby

Fix breadcrumb serialization error to be an object
  CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/spec/sentry/breadcrumb_buffer_spec.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
Due: sentry-ruby

Fix breadcrumb serialization error to be an object (#2584)
  CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/spec/sentry/breadcrumb_buffer_spec.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
Due: sentry-ruby

Remove user_segment from DSC
  CHANGELOG.md
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/transaction.rb
Due: sentry-ruby

Remove user_segment from DSC (#2586)
  CHANGELOG.md
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/transaction.rb
Due: sentry-ruby

Add sidekiq config propagate_traces to control trace header injection
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/configuration_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: sentry-sidekiq

Only expose keys on span data if is on
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/tracing/active_storage_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
Due: sentry-rails

Remove unused locals
  sentry-ruby/spec/sentry/breadcrumb/http_logger_spec.rb
  sentry-ruby/spec/sentry/breadcrumb/redis_logger_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: none

Fix indentation
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: none

Update to support Sidekiq::Cron 2.2
  sentry-sidekiq/lib/sentry/sidekiq/cron/job.rb
Due: sentry-sidekiq

Update changelog
  CHANGELOG.md
Due: none

Fix compatibility issues with `sidekiq-cron` `2.2.0` (#2591)
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/cron/job.rb
Due: sentry-sidekiq

Remove useless request mocking setup
  sentry-ruby/spec/contexts/with_request_mock.rb
Due: none

Remove unnecessary transport_class assignment
  sentry-ruby/spec/sentry/excon_spec.rb
Due: none

Remove unnecessary perform_basic_setup calls
  sentry-ruby/spec/sentry_spec.rb
Due: none

add report_after_job_retries support for activejob
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
Due: sentry-rails

handle already_supported_by_sentry_integration
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

require configuration
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
Due: sentry-rails

copy other logic
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

changelog
  sentry-rails/CHANGELOG.md
Due: sentry-rails

changelog
  CHANGELOG.md
  sentry-rails/CHANGELOG.md
Due: sentry-rails

flatten configuration to rails.actibve_job_report_after_job_retries
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails
