Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Update CHANGELOG
  CHANGELOG.md
Due: none

fix(rails): handle positioned binds in logging (#2787)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

fix(rails): fix logging of cached queries with binds
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

chore(specs): remove rails < 5.1 skip thingie
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: none

fix(rails): fix logging of cached queries with binds (#2789)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

Update CHANGELOG for 6.1.2
  CHANGELOG.md
Due: none

Update CHANGELOG for 6.1.2 (#2790)
  CHANGELOG.md
Due: none

release: 6.1.2
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

feat: include otel as custom sampling contex (#2683)
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

Update CHANGELOG (#2791)
  CHANGELOG.md
Due: none

Ignore new rails rate_limit errors
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails

Fix configuration to include TooManyRequests error
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails

feat: Ignore ActionController::TooManyRequests for Rails 8.1.1+
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: sentry-rails

chore(rails): add postgresql to test/CI
  .devcontainer/docker-compose.yml
  .github/workflows/sentry_rails_test.yml
  sentry-rails/Gemfile
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/dummy/test_rails_app/db/.gitkeep
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

fix(logging): prevent log errors from crashing main thread
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
Due: sentry-ruby

chore: remove unused constant
  sentry-ruby/lib/sentry/utils/encoding_helper.rb
Due: sentry-ruby

fix(logging): prevent log errors from crashing main thread (#2795)
  CHANGELOG.md
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
Due: sentry-ruby

Update CHANGELOG for 6.1.3
  CHANGELOG.md
Due: none

chore: remove unused constant (#2796)
  sentry-ruby/lib/sentry/utils/encoding_helper.rb
Due: sentry-ruby

fix(logging): rescue from unexpected errors when getting binds
  sentry-rails/lib/sentry/rails/log_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

fix(logging): don't crash if getting db connection info failed
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

Just rescue from any error
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

Fix spec and remove redundant resques
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

fix(logging): improve error handling in AR subscriber (#2798)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/log_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

Update CHANGELOG (#2799)
  CHANGELOG.md
Due: none

release: 6.2.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Handle params or nested objects correctly
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Fix discord invites
  CONTRIBUTING.md
  sentry-ruby/README.md
Due: sentry-ruby

Fix discord invites (#2804)
  CONTRIBUTING.md
  sentry-ruby/README.md
Due: sentry-ruby

Update sentry-ruby dependency to version 6.2.0 in the gemspec file
  sentry-good_job/sentry-good_job.gemspec
Due: none

Handle empty frames case gracefully with local vars
  CHANGELOG.md
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Handle empty frames case gracefully with local vars (#2807)
  CHANGELOG.md
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Ignore new rails rate limit errors (#2774)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: sentry-rails

fix(sidekiq): fix failing integration spec
  sentry-sidekiq/spec/isolated/rails_spec.rb
Due: none

chore(sidekiq): establish SIDEKIQ_VERSION const
  sentry-sidekiq/spec/isolated/rails_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: none
