Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

ci: Local bin/relock flow with mise (#2980)
  .devcontainer/run
  .github/workflows/update_lockfiles.yml
  .mise.devcontainer.toml
  .mise.toml
  CONTRIBUTING.md
  bin/relock
Due: none

ci: Restrict mise to 2 concurrent installs
  .github/workflows/update_lockfiles.yml
Due: none

ci: Restrict mise to 2 concurrent installs (#2984)
  .github/workflows/update_lockfiles.yml
Due: none

ci: Fix update_lockfiles PR summary
  .github/workflows/update_lockfiles.yml
Due: none

ci: Fix update_lockfiles PR summary (#2986)
  .github/workflows/update_lockfiles.yml
Due: none

ci: Move all rubies to a separate mise ci env
  .devcontainer/run
  .github/workflows/update_lockfiles.yml
  .mise.ci.toml
  .mise.devcontainer.toml
  .mise.toml
  CONTRIBUTING.md
  bin/relock
Due: none

ci: Move all rubies to a separate mise ci env (#2988)
  .devcontainer/run
  .github/workflows/update_lockfiles.yml
  .mise.ci.toml
  .mise.devcontainer.toml
  .mise.toml
  CONTRIBUTING.md
  bin/relock
Due: none

test: Add bin/test helper to invoke specs with mise
  AGENTS.md
  CONTRIBUTING.md
  bin/lib/matrix.rb
  bin/relock
  bin/test
  sentry-delayed_job/bin/test
  sentry-opentelemetry/bin/test
  sentry-rails/bin/test_old
  sentry-resque/bin/test
  sentry-ruby/bin/test
  sentry-sidekiq/bin/test
  sentry-yabeda/bin/test
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

fix(test): kill global workers during global clean up
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
Due: sentry-ruby

fix(test): kill global workers during global clean up (#2990)
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
Due: sentry-ruby

test: Add bin/test helper to invoke specs with mise (#2983)
  AGENTS.md
  CONTRIBUTING.md
  bin/lib/matrix.rb
  bin/relock
  bin/test
  sentry-delayed_job/bin/test
  sentry-opentelemetry/bin/test
  sentry-rails/bin/test_old
  sentry-resque/bin/test
  sentry-ruby/bin/test
  sentry-sidekiq/bin/test
  sentry-yabeda/bin/test
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

test: Fix timecop flake in transport
  sentry-ruby/spec/sentry/transport_spec.rb
Due: none

test: Fix timecop flake in transport (#2993)
  sentry-ruby/spec/sentry/transport_spec.rb
Due: none

ci(relock): Normalize platforms
  bin/relock
Due: none

ci(relock): Normalize platforms (#2995)
  bin/relock
Due: none

add gnu platform and regen
  bin/relock
  sentry-opentelemetry/gemfiles/ruby-3.1.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-3.2.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-3.3.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-3.4.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-4.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.1.3.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-6.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-7.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.1.3.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3.1_redis-5.3.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-3_redis-4.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.1.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.2.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.3.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.4.gemfile.lock
  sentry-yabeda/gemfiles/ruby-4.0.gemfile.lock
Due: sentry-ruby, sentry-rails, sentry-opentelemetry

ci: Use bin/test and mise in test workflows
  .github/actions/setup-mise/action.yml
  .github/workflows/gem_test.yml
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/sentry_yabeda_test.yml
  .github/workflows/tests.yml
  .github/workflows/update_lockfiles.yml
  bin/lib/matrix.rb
  bin/test
  sentry-delayed_job/README.md
  sentry-opentelemetry/README.md
  sentry-rails/README.md
  sentry-resque/Gemfile
  sentry-resque/README.md
  sentry-sidekiq/README.md
  sentry-yabeda/README.md
Due: sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

remove ruby platform
  sentry-opentelemetry/gemfiles/ruby-3.0.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-3.1.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-3.2.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-3.3.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-3.4.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-4.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.1.3.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-6.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-7.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.1.3.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3.1_redis-5.3.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-3_redis-4.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.0.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.1.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.2.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.3.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.4.gemfile.lock
  sentry-yabeda/gemfiles/ruby-4.0.gemfile.lock
Due: sentry-ruby, sentry-rails, sentry-opentelemetry

Revert "remove ruby platform"
  sentry-opentelemetry/gemfiles/ruby-3.0.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-3.1.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-3.2.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-3.3.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-3.4.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-4.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.1.3.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-6.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-7.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.1.3.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3.1_redis-5.3.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-3_redis-4.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.0.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.1.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.2.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.3.gemfile.lock
  sentry-yabeda/gemfiles/ruby-3.4.gemfile.lock
  sentry-yabeda/gemfiles/ruby-4.0.gemfile.lock
Due: sentry-ruby, sentry-rails, sentry-opentelemetry

debug pkg
  .github/workflows/gem_test.yml
Due: none

fix pkg config setup-mise
  .github/actions/setup-mise/action.yml
  .github/workflows/gem_test.yml
Due: none

ci: Use bin/test and mise in test workflows (#2994)
  .github/actions/setup-mise/action.yml
  .github/workflows/gem_test.yml
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/sentry_yabeda_test.yml
  .github/workflows/tests.yml
  .github/workflows/update_lockfiles.yml
  bin/lib/matrix.rb
  bin/test
  sentry-delayed_job/README.md
  sentry-opentelemetry/README.md
  sentry-rails/README.md
  sentry-resque/Gemfile
  sentry-resque/README.md
  sentry-sidekiq/README.md
  sentry-yabeda/README.md
Due: sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

feat(rails): emit producer span when enqueueing ActiveJob
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/active_job/shared_examples/tracing/producer_span.rb
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: sentry-rails

feat(rails): add messaging span data to ActiveJob consumer transaction
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: sentry-rails

feat(active_job): propagate allowed user context
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/user_propagation.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: sentry-rails

feat(rails): propagate trace context through ActiveJob payload
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/active_job/shared_examples/tracing/trace_propagation.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: sentry-rails

fixup(rails): account for AJ producer span in active_storage subscriber spec
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
Due: none

refactor(rails): bundle ActiveJob tracing examples into a distributed_tracing meta
  sentry-rails/spec/active_job/shared_examples/tracing/distributed_tracing.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: none

feat(rails): isolate Sentry hub per worker thread for ActiveJob
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/worker_hub_isolation.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: sentry-rails

fixup(rails): widen latency tolerance on Rails < 7 in messaging_span_data spec
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
Due: none

fix(rails): no with_usec in 7.0
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
Due: none

refactor(rails): introduce worker_thread harness hook for the hub-isolation example
  sentry-rails/spec/active_job/shared_examples/tracing/worker_hub_isolation.rb
  sentry-rails/spec/active_job/support/harness.rb
Due: none

feat(active_job): add active_job_propagate_traces config option
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/active_job/shared_examples/tracing/trace_propagation.rb
Due: sentry-rails

fix(active_job): always emit retry count on the consumer transaction
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
Due: sentry-rails

chore(rails): patch AJ test adapter for 5.2
  sentry-rails/spec/active_job/support/harness.rb
Due: none

fix(active_job): avoid shared queue race in jruby
  sentry-rails/spec/active_job/shared_examples/tracing/worker_hub_isolation.rb
Due: none

feat(active_job): set scope tags and context on consumer like Sidekiq
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/consumer_transaction.rb
Due: sentry-rails

fix(active_job): save and restore hub around job execution
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

fix(active_job): correct retry counter
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
  sentry-rails/spec/active_job/support/harness.rb
Due: none

fix(active_job): better specs for thread isolation
  sentry-rails/spec/active_job/shared_examples/tracing/worker_hub_isolation.rb
Due: none

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
