Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

WIP
  .devcontainer/.env.example
  .devcontainer/Dockerfile
  .devcontainer/entrypoint-rails-mini.sh
  .devcontainer/entrypoint-sentry-test.sh
  .github/workflows/e2e_tests.yml
Due: none

WIP
  .devcontainer/.env.example
Due: none

WIP
  .devcontainer/Dockerfile
Due: none

WIP
  .devcontainer/entrypoint-sentry-test.sh
Due: none

WIP
  .github/workflows/e2e_tests.yml
  Rakefile
  sentry-ruby/lib/sentry/transport/debug_transport.rb
  spec/apps/rails-mini/app.rb
  spec/apps/svelte-mini/vite.config.js
Due: sentry-ruby

Add Gemfile.dev as the shared Gemfile for dev
  Gemfile
  Gemfile.dev
  sentry-delayed_job/Gemfile
  sentry-opentelemetry/Gemfile
  sentry-rails/Gemfile
  sentry-resque/Gemfile
  sentry-ruby/Gemfile
  sentry-sidekiq/Gemfile
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Add e2e mini apps with devcontainer setup
  .devcontainer/.env.example
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup
  .gitignore
  sentry-ruby.code-workspace
  spec/apps/rails-mini/Gemfile
  spec/apps/rails-mini/app.rb
  spec/apps/svelte-mini/index.html
  spec/apps/svelte-mini/package-lock.json
  spec/apps/svelte-mini/package.json
  spec/apps/svelte-mini/src/App.svelte
  spec/apps/svelte-mini/src/main.js
  spec/apps/svelte-mini/vite.config.js
Due: none

Add a basic e2e spec for tracing
  .rspec
  Procfile
  Rakefile
  sentry-ruby/spec/spec_helper.rb
  spec/features/tracing_spec.rb
  spec/spec_helper.rb
Due: none

Helpers for e2e tests
  spec/features/tracing_spec.rb
  spec/spec_helper.rb
  spec/support/test_helper.rb
Due: none

Add build_images workflow
  .devcontainer/.env.example
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .github/workflows/build_images.yml
Due: none

Add e2e test workflow
  .devcontainer/run
  .devcontainer/setup
  .github/workflows/e2e_tests.yml
  .gitignore
Due: none

Small clean up
  spec/features/tracing_spec.rb
  spec/support/test_helper.rb
Due: none

Bump docker tag
  .github/workflows/e2e_tests.yml
Due: none

Add Utils::SampleRand
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/utils/sample_rand.rb
  sentry-ruby/spec/sentry/utils/sample_rand_spec.rb
Due: sentry-ruby

Add sample_rand to transaction
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Add sample_rand to propagation context
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/spec/sentry/propagation_context/sample_rand_spec.rb
  sentry-ruby/spec/sentry/propagation_context_spec.rb
Due: sentry-ruby

Add parent_sampled_rate to sampling context
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/transactions/sample_rand_propagation_spec.rb
  sentry-ruby/spec/sentry/transactions/trace_propagation_spec.rb
Due: sentry-ruby

More e2e coverage
  spec/features/tracing_spec.rb
  spec/support/test_helper.rb
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove redundant `attr_reader`
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

WIP
  .devcontainer/.env.example
  .devcontainer/docker-compose.yml
  .devcontainer/run
  .github/workflows/e2e_tests.yml
Due: none

Update .gitignore
  .gitignore
Due: none

Remove obsolete vite setting
  spec/apps/svelte-mini/vite.config.js
Due: none

Fix git dir issue
  .devcontainer/run
Due: none

WIP
  .devcontainer/run
Due: none

Improved devcontainer setup with e2e test mini infra (#2672)
  .devcontainer/.env.example
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/run
  .devcontainer/setup
  .github/workflows/build_images.yml
  .github/workflows/e2e_tests.yml
  .gitignore
  .rspec
  Gemfile
  Gemfile.dev
  Procfile
  Rakefile
  sentry-delayed_job/Gemfile
  sentry-opentelemetry/Gemfile
  sentry-rails/Gemfile
  sentry-resque/Gemfile
  sentry-ruby.code-workspace
  sentry-ruby/Gemfile
  sentry-ruby/spec/spec_helper.rb
  sentry-sidekiq/Gemfile
  spec/apps/rails-mini/Gemfile
  spec/apps/rails-mini/app.rb
  spec/apps/svelte-mini/index.html
  spec/apps/svelte-mini/package-lock.json
  spec/apps/svelte-mini/package.json
  spec/apps/svelte-mini/src/App.svelte
  spec/apps/svelte-mini/src/main.js
  spec/apps/svelte-mini/vite.config.js
  spec/features/tracing_spec.rb
  spec/spec_helper.rb
  spec/support/test_helper.rb
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Remove redundant `attr_reader` (#2673)
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Turn SampleRand into a class
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/utils/sample_rand.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/propagation_context/sample_rand_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transactions/sample_rand_propagation_spec.rb
  sentry-ruby/spec/sentry/transactions/trace_propagation_spec.rb
  sentry-ruby/spec/sentry/utils/sample_rand_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

More tests
  sentry-ruby/spec/sentry/transactions/sample_rand_propagation_spec.rb
Due: none

WIP - introduce Rails::LogSubscriber
  sentry-rails/lib/sentry/rails.rb
  sentry-rails/lib/sentry/rails/log_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
Due: sentry-rails

WIP - add LogSubscribers::ActiveRecordSubscriber
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

WIP - add ActiveJobSubscriber
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
Due: sentry-rails

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
