Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Remove upper limit on graphql gem version
  sentry-ruby/Gemfile
Due: sentry-ruby

Remove upper limit on graphql gem version (#2362)
  sentry-ruby/Gemfile
Due: sentry-ruby

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix dup so that attachment references are fresh on with_scope
  sentry-ruby/lib/sentry/scope.rb
Due: sentry-ruby

Add support for attachments
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/attachment.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/sentry-ruby.gemspec
  sentry-ruby/spec/fixtures/attachment.txt
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Add payload length to attachment
  sentry-ruby/lib/sentry/attachment.rb
Due: sentry-ruby

Re-add content_type but as an optional attr
  sentry-ruby/lib/sentry/attachment.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Fix skipping 'connect' spans
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

Include transaction data in the trace context
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/span_spec.rb
Due: sentry-ruby

Remove unused add_to_transactions
  sentry-ruby/lib/sentry/attachment.rb
Due: sentry-ruby

Include transaction data in the trace context (#2365)
  CHANGELOG.md
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/span_spec.rb
Due: sentry-ruby

Fix skipping 'connect' spans (#2364)
  CHANGELOG.md
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

File/attachment uploads (#2357)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/attachment.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/sentry-ruby.gemspec
  sentry-ruby/spec/fixtures/attachment.txt
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Update CHANGELOG.md (#2366)
  CHANGELOG.md
Due: none

Use `Concurrent.available_processor_count` instead of `Concurrent.usable_processor_count`
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

Use `Concurrent.available_processor_count` instead of `Concurrent.usable_processor_count` (#2358)
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

Include Sentry meta tag in the layout automatically
  sentry-rails/lib/generators/sentry_generator.rb
  sentry-rails/spec/sentry/generator_spec.rb
Due: sentry-rails

Fix sidekiq spec when sentry-rails is enabled
  sentry-sidekiq/spec/sentry/rails_spec.rb
Due: sentry-sidekiq

Add --inject-meta option
  sentry-rails/lib/generators/sentry_generator.rb
  sentry-rails/spec/sentry/generator_spec.rb
Due: sentry-rails

Include Sentry meta tag in the layout automatically (#2369)
  CHANGELOG.md
  sentry-rails/lib/generators/sentry_generator.rb
  sentry-rails/spec/sentry/generator_spec.rb
  sentry-sidekiq/spec/sentry/rails_spec.rb
Due: sentry-rails, sentry-sidekiq

Changelog for 5.19.0
  CHANGELOG.md
Due: none

Changelog for 5.19.0 (#2370)
  CHANGELOG.md
Due: none

release: 5.19.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Add Faraday instruction to changelog
  CHANGELOG.md
Due: none

Add Faraday instruction to changelog (#2371)
  CHANGELOG.md
Due: none

rubocop -a --only Style/StringLiterals
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/attachment.rb
  sentry-ruby/lib/sentry/baggage.rb
  sentry-ruby/lib/sentry/breadcrumb/sentry_logger.rb
  sentry-ruby/lib/sentry/check_in_event.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/core_ext/object/deep_dup.rb
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
  sentry-ruby/lib/sentry/cron/monitor_config.rb
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/graphql.rb
  sentry-ruby/lib/sentry/interfaces/mechanism.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/lib/sentry/logger.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/metrics/aggregator.rb
  sentry-ruby/lib/sentry/metrics/set_metric.rb
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/rack.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/rake.rb
  sentry-ruby/lib/sentry/release_detector.rb
  sentry-ruby/lib/sentry/session_flusher.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/lib/sentry/utils/real_ip.rb
Due: sentry-ruby

feat: Add support for $SENTRY_DEBUG and $SENTRY_SPOTLIGHT
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/utils/env_helper.rb
Due: sentry-ruby

rubocop power!
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/utils/env_helper.rb
Due: sentry-ruby

add changelog entry
  CHANGELOG.md
Due: none

changelog with pr ref
  CHANGELOG.md
Due: none

try again
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/utils/env_helper.rb
Due: sentry-ruby

now?
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

maybe now?
  sentry-ruby/lib/sentry/utils/env_helper.rb
Due: sentry-ruby

fix typo
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec
  sentry-rails: any of: sentry-rails/, but not: **/spec
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec
  sentry-resque: any of: sentry-resque/, but not: **/spec
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec
