Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
ignore:
  - "**/spec"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Upload coverage from all test runs
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

WIP
  sentry-rails/spec/dummy/test_rails_app/app.rb
Due: sentry-rails

Upload coverage from all test runs (#2430)
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

[rails] disable eager loading in make_basic_app
  sentry-rails/spec/dummy/test_rails_app/app.rb
Due: sentry-rails

[rails] disable eager loading in make_basic_app (#2434)
  sentry-rails/spec/dummy/test_rails_app/app.rb
Due: sentry-rails

Add basic specs
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Add ActiveSupport for cache module
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/tracing/active_support_subscriber.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_support_subscriber_spec.rb
Due: sentry-rails

Fix ignoring spec files in codecov
  codecov.yml
Due: none

Fix ignoring spec files in codecov (#2437)
  codecov.yml
Due: none

Add ActiveSupport for cache module (#2380)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/tracing/active_support_subscriber.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_support_subscriber_spec.rb
Due: sentry-rails

Make Sentry.{close,get_main_hub} thread-safe
  sentry-ruby/lib/sentry-ruby.rb
Due: sentry-ruby

Ignore Sidekiq::JobRetry::Handled exception
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
  sentry-sidekiq/spec/sentry/sidekiq/configuration_spec.rb
Due: sentry-sidekiq

Style/TrailingCommaInArrayLiteral
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
Due: sentry-sidekiq

Update CHANGELOG
  CHANGELOG.md
Due: none

RescuedExceptionInterceptor: Handle empty configuration
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/rescued_exception_interceptor.rb
Due: sentry-rails

Enforce latest rubygems on CI
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Enforce latest rubygems on CI (#2439)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Remove old psych from bundles
  sentry-delayed_job/Gemfile
  sentry-sidekiq/Gemfile
Due: sentry-sidekiq, sentry-delayed_job

Make Sentry.{close,get_main_hub} thread-safe
  sentry-ruby/lib/sentry-ruby.rb
  sentry-sidekiq/Gemfile
Due: sentry-ruby, sentry-sidekiq

Make Sentry.{close,get_main_hub} thread-safe (#2436)
  sentry-ruby/lib/sentry-ruby.rb
  sentry-sidekiq/Gemfile
Due: sentry-ruby, sentry-sidekiq

Revert "Enforce latest rubygems on CI (#2439)"
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Add childspan for Sidekiq Queue instrumentation
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Remove unneeded exception alloc
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
Due: sentry-sidekiq

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Set root op instead of nested spans
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Due: sentry-sidekiq

Revert "Enforce latest rubygems on CI (#2439)" (#2441)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Fix send_default_pii handling in rails controller spans
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Due: sentry-rails

Fix send_default_pii handling in rails controller spans (#2443)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Due: sentry-rails

Add Excon instrumentation
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/excon.rb
  sentry-ruby/lib/sentry/excon/middleware.rb
  sentry-ruby/spec/sentry/excon_spec.rb
Due: sentry-ruby

Add missing specs
  sentry-ruby/spec/sentry/excon_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Add CHANGELOG
  CHANGELOG.md
Due: none

Fix Rubocop
  sentry-ruby/lib/sentry/excon/middleware.rb
  sentry-ruby/spec/sentry/excon_spec.rb
Due: sentry-ruby

Fix spec support for Ruby < 3
  sentry-ruby/spec/sentry/excon_spec.rb
Due: sentry-ruby

Simplify ActiveJob specs setup
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Simplify ActiveJob specs setup
  sentry-rails/Gemfile
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Update sentry-rails' Gemfile conditions to support Rails 7.2
  sentry-rails/Gemfile
Due: sentry-rails
