Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

test: fix flaky request timing tests
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: none

test: fix flaky request timing tests (#2882)
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: none

fix: Don't transform attributes in place in metrics
  sentry-ruby/lib/sentry/metric_event.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
Due: sentry-ruby

fix: Don't transform attributes in place in metrics (#2883)
  sentry-ruby/lib/sentry/metric_event.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
Due: sentry-ruby

feat(sentry-ruby): Add RubyLLM integration for AI agent tracing
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry/ruby_llm.rb
  sentry-ruby/spec/sentry/ruby_llm_spec.rb
Due: sentry-ruby

feat(transport): Handle HTTP 413 response for oversized envelopes
  sentry-ruby/lib/sentry/exceptions.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Due: sentry-ruby

fix(release-detector): Prefer HEROKU_BUILD_COMMIT over deprecated HEROKU_SLUG_COMMIT
  sentry-ruby/lib/sentry/release_detector.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

feat(transport): Handle HTTP 413 response for oversized envelopes (#2885)
  sentry-ruby/lib/sentry/exceptions.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Due: sentry-ruby

fix(release-detector): Prefer HEROKU_BUILD_COMMIT over deprecated HEROKU_SLUG_COMMIT (#2886)
  sentry-ruby/lib/sentry/release_detector.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

feat(otlp): Add collector_url option to OTLP integration
  sentry-opentelemetry/Gemfile
  sentry-opentelemetry/lib/sentry/opentelemetry/configuration.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_setup.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/configuration_spec.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/otlp_setup_spec.rb
Due: sentry-opentelemetry

Remove unused headers variable in collector_url branch
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_setup.rb
Due: sentry-opentelemetry

Support trilogy adapter
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
Due: sentry-rails

Update CHANGELOG.md
  CHANGELOG.md
Due: none

remove changelog
  CHANGELOG.md
Due: none

fix: Map `trilogy` database adapter to `mysql` for Query Insights compatibility (#2656)
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
Due: sentry-rails

feat(otlp): Add collector_url option to OTLP integration (#2887)
  sentry-opentelemetry/Gemfile
  sentry-opentelemetry/lib/sentry/opentelemetry/configuration.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_setup.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/configuration_spec.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/otlp_setup_spec.rb
Due: sentry-opentelemetry

fix(rails): set mechanism.handled based on error handling status
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-rails/spec/sentry/rails/error_subscriber_spec.rb
Due: sentry-rails

fix(rails): set mechanism.handled based on error handling status (#2892)
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-rails/spec/sentry/rails/error_subscriber_spec.rb
Due: sentry-rails

fix: Copy event processors on Scope#dup
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

fix: Copy event processors on Scope#dup (#2893)
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

release: 6.5.0
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Add release detection from Kamal deployment
  sentry-ruby/lib/sentry/release_detector.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

fix: Do not overwrite baggage header contents if it already exists
  CHANGELOG.md
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Due: sentry-ruby

fix(specs): stop sidekiq-scheduler after each test
  sentry-sidekiq/spec/sentry/sidekiq-scheduler/scheduler_spec.rb
Due: none

fix(specs): stop sidekiq-scheduler after each test (#2897)
  sentry-sidekiq/spec/sentry/sidekiq-scheduler/scheduler_spec.rb
Due: none

fix: Do not overwrite baggage header contents if it already exists (#2896)
  CHANGELOG.md
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Due: sentry-ruby

docs: add AGENTS.md and CLAUDE.md symlink
  AGENTS.md
  CLAUDE.md
Due: none

perf: cache Frame objects in StacktraceBuilder by Line identity
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
Due: sentry-ruby

perf: use shallow dup instead of deep_dup for Scope and BreadcrumbBuffer
  sentry-ruby/lib/sentry/breadcrumb_buffer.rb
  sentry-ruby/lib/sentry/scope.rb
Due: sentry-ruby

docs: add AGENTS.md and CLAUDE.md symlink (#2900)
  AGENTS.md
  CLAUDE.md
Due: none

perf: reduce memory allocations by ~53% during exception capture
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/backtrace/line.rb
  sentry-ruby/lib/sentry/breadcrumb_buffer.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
  sentry-ruby/lib/sentry/linecache.rb
  sentry-ruby/lib/sentry/scope.rb
Due: sentry-ruby

perf: Optimize lowercase check in RequestInterface
  sentry-ruby/lib/sentry/interfaces/request.rb
Due: sentry-ruby

perf: Optimize lowercase check in RequestInterface (#2908)
  sentry-ruby/lib/sentry/interfaces/request.rb
Due: sentry-ruby

perf: avoid unnecessary allocations in hot paths
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/backtrace/line.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
Due: sentry-ruby

perf: avoid unnecessary allocations in hot paths (#2902)
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/backtrace/line.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
Due: sentry-ruby

perf: optimize LineCache to reduce allocations
  sentry-ruby/lib/sentry/linecache.rb
Due: sentry-ruby

perf: optimize LineCache to reduce allocations (#2903)
  sentry-ruby/lib/sentry/linecache.rb
Due: sentry-ruby

chore: pin GitHub Actions to full-length commit SHAs
  .github/workflows/build_images.yml
  .github/workflows/build_release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/tests.yml
Due: none

fix: Add block syntax support to StructuredLogger for compatibility
  sentry-ruby/lib/sentry/structured_logger.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
