Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

add tests
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

add config default / spec
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: sentry-rails

skip retry_on tests with rails < 5.1
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: none

move class declaration into rail > 5.1 block
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: none

try a different way
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix formatting
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Fix for jruby
  sentry-rails/spec/spec_helper.rb
Due: none

Properly detach retry_stopped.active_job subscriber
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

Fix spec for old rails
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix flaky specs, I think
  sentry-rails/lib/sentry/rails/railtie.rb
Due: sentry-rails

[active_job] support exception reporting only after last retry failed (#2573)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

Improve test setup (#2590)
  sentry-ruby/spec/contexts/with_request_mock.rb
  sentry-ruby/spec/sentry/excon_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: none

wip - initial work on bench
  sentry-rails/Gemfile
  sentry-rails/benchmarks/active_record.rb
  sentry-rails/benchmarks/application.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-1.rb
  sentry-rails/spec/dummy/test_rails_app/config/database.yml
Due: sentry-rails

Add sidekiq config propagate_traces to control trace header injection (#2588)
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/configuration_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: sentry-sidekiq

Only expose ActiveStorage keys on span data if send_default_pii is on
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/tracing/active_storage_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
Due: sentry-rails

[active_job] patch retry_job to report all errors during retries
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

[active_job] dry-up capturing logic a bit
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

[sidekiq] run tests against released 8.0.0
  .github/workflows/sentry_sidekiq_test.yml
Due: none

[sidekiq] display Sidekiq version before suite
  sentry-sidekiq/spec/spec_helper.rb
Due: none

[sidekiq] use sidekiq-scheduler 6.0.0.beta
  sentry-sidekiq/Gemfile
Due: sentry-sidekiq

[sidekiq] fix handling of latency under 8.0
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/error_handler_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

[sidekiq] default to 8.0.0
  sentry-sidekiq/Gemfile
Due: sentry-sidekiq

[sidekiq] dry up context setup in the spec
  sentry-sidekiq/spec/sentry/sidekiq/error_handler_spec.rb
Due: none

[sidekiq] unify latency specs for 8.0 and below
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

fix(docs): Fix typo in parameter name
  sentry-ruby/lib/sentry/span.rb
Due: sentry-ruby

WIP - initial work on LogEvent support
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/logging_feature.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Basic spec for Sentry::Logger
  sentry-ruby/lib/sentry/logger.rb
  sentry-ruby/spec/sentry/logger_spec.rb
Due: sentry-ruby

Initial work on Sentry::Logging
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/logger.rb
  sentry-ruby/lib/sentry/logging.rb
  sentry-ruby/lib/sentry/logging/device.rb
  sentry-ruby/lib/sentry/logging/handler.rb
  sentry-ruby/lib/sentry/logging_feature.rb
  sentry-ruby/spec/sentry/logger_spec.rb
  sentry-ruby/spec/sentry/logging_spec.rb
Due: sentry-ruby

Fix handling of log levels
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/logging_spec.rb
Due: sentry-ruby

Add remaining levels to Sentry::Logging
  sentry-ruby/lib/sentry/logging/device.rb
  sentry-ruby/lib/sentry/logging/handler.rb
  sentry-ruby/spec/sentry/logging_spec.rb
Due: sentry-ruby

Add missing frozen_strings_literal comment
  sentry-ruby/lib/sentry/logging.rb
Due: sentry-ruby

Support logging with extra attributes
  sentry-ruby/lib/sentry/logging/device.rb
  sentry-ruby/spec/sentry/logging_spec.rb
Due: sentry-ruby

Update GH issue templates for Linear compatibility
  .github/ISSUE_TEMPLATE/01-feature.md
  .github/ISSUE_TEMPLATE/02-improvement.md
  .github/ISSUE_TEMPLATE/03-bug.yml
Due: none

Update GH issue templates for Linear compatibility (#2607)
  .github/ISSUE_TEMPLATE/01-feature.md
  .github/ISSUE_TEMPLATE/02-improvement.md
  .github/ISSUE_TEMPLATE/03-bug.yml
Due: none

Only expose ActiveStorage keys on span data if send_default_pii is on (#2589)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/tracing/active_storage_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
Due: sentry-rails
