Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

fix(active_job): better specs for thread isolation
  sentry-rails/spec/active_job/shared_examples/tracing/worker_hub_isolation.rb
Due: none

refactor(rails): bundle ActiveJob tracing examples into a distributed_tracing meta
  sentry-rails/spec/active_job/shared_examples/tracing/distributed_tracing.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: none

feat(active_job): add active_job_propagate_traces config option
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/active_job/shared_examples/tracing/trace_propagation.rb
Due: sentry-rails

fixup(rails): widen latency tolerance on Rails < 7 in messaging_span_data spec
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
Due: none

refactor(active_job): make the spec harness adapter-agnostic
  sentry-rails/spec/active_job/shared_examples/tracing/trace_propagation.rb
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/active_job/support/test_adapter_context.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: none

refactor(rails): introduce worker_thread harness hook for the hub-isolation example
  sentry-rails/spec/active_job/shared_examples/tracing/worker_hub_isolation.rb
  sentry-rails/spec/active_job/support/harness.rb
Due: none

perf(active_job): boot the dummy app once per spec group
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/active_job/support/sidekiq_adapter_context.rb
Due: none

fix(rails): no with_usec in 7.0
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
Due: none

feat(active_job): set scope tags and context on consumer like Sidekiq
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/consumer_transaction.rb
Due: sentry-rails

chore(rails): patch AJ test adapter for 5.2
  sentry-rails/spec/active_job/support/harness.rb
Due: none

fix(active_job): correct retry counter
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
  sentry-rails/spec/active_job/support/harness.rb
Due: none

refa(active_job): store our stuff under single _sentry ivar
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/support/test_adapter_context.rb
Due: sentry-rails

refa(active_job): log more details when adding sentry payload fails
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

tests(active_job): add basic scenario for active_job_propagate_traces
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: none

tests(active_job): request-based hub isolation coverage
  sentry-rails/spec/dummy/test_rails_app/app/controllers/hello_controller.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/sentry/rails/active_job_hub_isolation_spec.rb
Due: none

feat(rails): add dj/resque adapter specs
  .devcontainer/.env.example
  .devcontainer/docker-compose.yml
  .github/workflows/e2e_tests.yml
  .mise.toml
  sentry-rails/Gemfile
  sentry-rails/spec/active_job/delayed_job_adapter_spec.rb
  sentry-rails/spec/active_job/resque_adapter_spec.rb
  sentry-rails/spec/active_job/support/delayed_job_adapter_context.rb
  sentry-rails/spec/active_job/support/resque_adapter_context.rb
  sentry-rails/spec/dummy/test_rails_app/db/schema.rb
  spec/apps/rails-mini/Gemfile
  spec/apps/rails-mini/app.rb
  spec/apps/rails-mini/worker.rb
  spec/features/active_job_tracing_spec.rb
  spec/spec_helper.rb
Due: sentry-rails

refa(active_job): better thread isolation spec
  sentry-rails/spec/active_job/shared_examples/tracing/worker_hub_isolation.rb
  sentry-rails/spec/active_job/support/harness.rb
Due: none

fix(active_job): calc latency to reduce flakiness
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
Due: none

chore: update lockfiles
  sentry-rails/gemfiles/ruby-2.7_rails-5.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-2.7_rails-6.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-2.7_rails-6.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-2.7_rails-7.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-2.7_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.0_rails-6.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.0_rails-7.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.0_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.1_rails-6.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.1_rails-7.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.1_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.1_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-6.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-7.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-6.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-7.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.1.3.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-6.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-7.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.1.3.gemfile.lock
Due: sentry-rails

feat(rails): initial support for Solid Queue
  sentry-rails/.gitignore
  sentry-rails/Gemfile
  sentry-rails/spec/active_job/solid_queue_spec.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/dummy/test_rails_app/db/queue_schema.rb
Due: sentry-rails

chore(rails): update lock files
  sentry-rails/Gemfile
  sentry-rails/gemfiles/ruby-3.1_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.1_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.1.3.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.1.3.gemfile.lock
  sentry-rails/spec/active_job/solid_queue_spec.rb
Due: sentry-rails

relock wip
  .github/workflows/update_lockfiles.yml
  bin/relock
Due: none

Support Render request start nanosecond timestamps
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

ci: Declarative test matrix
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/sentry_yabeda_test.yml
  .github/workflows/tests.yml
  .github/workflows/update_lockfiles.yml
  sentry-delayed_job/gemfiles/ruby-jruby.gemfile.lock
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-delayed_job/test-matrix.json
  sentry-opentelemetry/gemfiles/ruby-head.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-jruby.gemfile.lock
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-opentelemetry/test-matrix.json
  sentry-rails/gemfiles/ruby-jruby_rails-6.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-jruby_rails-7.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-jruby_rails-7.1.0.gemfile.lock
  sentry-rails/sentry-rails.gemspec
  sentry-rails/test-matrix.json
  sentry-resque/gemfiles/ruby-head.gemfile.lock
  sentry-resque/sentry-resque.gemspec
  sentry-resque/test-matrix.json
  sentry-ruby/gemfiles/ruby-head_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-head_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-head_rack-3_redis-4.gemfile.lock
  sentry-ruby/sentry-ruby-core.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-ruby/test-matrix.json
  sentry-sidekiq/sentry-sidekiq.gemspec
  sentry-sidekiq/test-matrix.json
  sentry-yabeda/gemfiles/ruby-head.gemfile.lock
  sentry-yabeda/sentry-yabeda.gemspec
  sentry-yabeda/test-matrix.json
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

test: Fix flaky transport specs with timecop
  sentry-ruby/spec/sentry/transport_spec.rb
Due: none

ci: Declarative test matrix (#2977)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/sentry_yabeda_test.yml
  .github/workflows/tests.yml
  .github/workflows/update_lockfiles.yml
  sentry-delayed_job/gemfiles/ruby-jruby.gemfile.lock
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-delayed_job/test-matrix.json
  sentry-opentelemetry/gemfiles/ruby-head.gemfile.lock
  sentry-opentelemetry/gemfiles/ruby-jruby.gemfile.lock
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-opentelemetry/test-matrix.json
  sentry-rails/gemfiles/ruby-jruby_rails-6.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-jruby_rails-7.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-jruby_rails-7.1.0.gemfile.lock
  sentry-rails/sentry-rails.gemspec
  sentry-rails/test-matrix.json
  sentry-resque/gemfiles/ruby-head.gemfile.lock
  sentry-resque/sentry-resque.gemspec
  sentry-resque/test-matrix.json
  sentry-ruby/gemfiles/ruby-head_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-head_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-head_rack-3_redis-4.gemfile.lock
  sentry-ruby/sentry-ruby-core.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-ruby/test-matrix.json
  sentry-sidekiq/sentry-sidekiq.gemspec
  sentry-sidekiq/test-matrix.json
  sentry-yabeda/gemfiles/ruby-head.gemfile.lock
  sentry-yabeda/sentry-yabeda.gemspec
  sentry-yabeda/test-matrix.json
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

test: Fix flaky transport specs with timecop (#2978)
  sentry-ruby/spec/sentry/transport_spec.rb
Due: none

fix resque checksums
  sentry-resque/gemfiles/ruby-4.0.gemfile.lock
Due: sentry-resque

relock wip
  .github/workflows/update_lockfiles.yml
  .mise.toml
  CONTRIBUTING.md
  bin/relock
Due: none

separate mise env for devcontainer
  .devcontainer/run
  .mise.devcontainer.toml
Due: none

bot comments
  bin/relock
Due: none

Add a --force option to delete lockfile before update
  bin/relock
Due: none

separate out checksums only if supported
  bin/relock
Due: none

readability
  bin/relock
Due: none

add linux cflags note
  CONTRIBUTING.md
Due: none

single update command, show command executed
  bin/relock
Due: none

fix workflow grep
  .github/workflows/update_lockfiles.yml
Due: none

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
