Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Fix MetricEvent timestamp serialization to float
  CHANGELOG.md
  sentry-ruby/lib/sentry/metric_event.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
Due: sentry-ruby

Fix MetricEvent timestamp serialization to float (#2862)
  CHANGELOG.md
  sentry-ruby/lib/sentry/metric_event.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
Due: sentry-ruby

Fix CGI imports for ruby 4.x
  CHANGELOG.md
  sentry-ruby/lib/sentry/baggage.rb
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

Fix CGI imports for ruby 4.x (#2863)
  CHANGELOG.md
  sentry-ruby/lib/sentry/baggage.rb
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

Treat sidekiq nil retry as true
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Due: sentry-sidekiq

Treat sidekiq nil retry as true (#2864)
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Due: sentry-sidekiq

fix(rack): Validate t= prefixed values in parse_request_start_header
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

chore(repo): Add Claude Code settings with basic permissions (#2839)
  .claude/settings.json
Due: none

Always include scope user data in telemetry
  CHANGELOG.md
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

Update sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
Due: sentry-ruby

Always include scope user data in telemetry (#2866)
  CHANGELOG.md
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/metric_event_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

Ignore vernier on ruby 4.1.0
  sentry-ruby/Gemfile
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Ignore vernier on ruby 4.1.0 (#2867)
  sentry-ruby/Gemfile
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

fix(rack): Handle whitespace and comma-separated X-Request-Start values
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

fix(rack): Coerce puma.request_body_wait to Float before comparison
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

feat: queue time capture for Rack (#2838)
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

prepare changelog for 6.4.0
  CHANGELOG.md
Due: none

prepare changelog for 6.4.0 (#2868)
  CHANGELOG.md
Due: none

ci(release): Switch from action-prepare-release to Craft (#2828)
  .github/workflows/prepare_batch_release.yml
Due: none

fix changelog
  CHANGELOG.md
Due: none

fix changelog (#2869)
  CHANGELOG.md
Due: none

release: 6.4.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Switch craft changelog to auto and remove danger
  .craft.yml
  .github/workflows/danger.yml
Due: none

Switch craft changelog to auto and remove danger (#2870)
  .craft.yml
  .github/workflows/danger.yml
Due: none

Simplify naming of release workflows
  .github/workflows/build_batch_release.yml
  .github/workflows/build_release.yml
  .github/workflows/release.yml
Due: none

Simplify naming of release workflows (#2871)
  .github/workflows/build_batch_release.yml
  .github/workflows/build_release.yml
  .github/workflows/release.yml
Due: none

Track request queue time in sentry-rails
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
Due: sentry-ruby, sentry-rails

fix(rails): Track request queue time in Rails middleware
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
Due: sentry-ruby, sentry-rails

fix(rails): Track request queue time in Rails middleware (#2877)
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
Due: sentry-ruby, sentry-rails

release: 6.4.1
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

feat: Implement strict trace continuation
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/dsn_spec.rb
  sentry-ruby/spec/sentry/propagation_context_spec.rb
Due: sentry-ruby

fix: Update http_spec baggage assertion to include sentry-org_id
  sentry-ruby/spec/sentry/net/http_spec.rb
Due: none

cleanup
  sentry-ruby/lib/sentry/baggage.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/lib/sentry/propagation_context.rb
Due: sentry-ruby

remove useless accessor and call to_s on org_id setter
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/spec/sentry/dsn_spec.rb
Due: sentry-ruby

feat: Implement strict trace continuation (#2872)
  sentry-ruby/lib/sentry/baggage.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/dsn_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/propagation_context_spec.rb
Due: sentry-ruby

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
