Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Change implementation to Range
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Due: sentry-ruby

Deprecate metrics
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/metrics/configuration.rb
  sentry-ruby/spec/sentry/metrics/configuration_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
Due: sentry-ruby

Add `config.trace_ignore_status_codes` to control which status codes don't get traced (#2725)
  .gitignore
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Due: sentry-ruby

Deprecate metrics (#2726)
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/metrics/configuration.rb
  sentry-ruby/spec/sentry/metrics/configuration_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
Due: sentry-ruby

changelog for 5.28.0
  CHANGELOG.md
Due: none

changelog for 5.28.0 (#2727)
  CHANGELOG.md
Due: none

release: 5.28.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Don't send client reports for profiles if profiling is disabled
  CHANGELOG.md
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Don't send client reports for profiles if profiling is disabled (#2728)
  CHANGELOG.md
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Remove and and all metrics related code
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/metrics/aggregator.rb
  sentry-ruby/lib/sentry/metrics/configuration.rb
  sentry-ruby/lib/sentry/metrics/counter_metric.rb
  sentry-ruby/lib/sentry/metrics/distribution_metric.rb
  sentry-ruby/lib/sentry/metrics/gauge_metric.rb
  sentry-ruby/lib/sentry/metrics/local_aggregator.rb
  sentry-ruby/lib/sentry/metrics/metric.rb
  sentry-ruby/lib/sentry/metrics/set_metric.rb
  sentry-ruby/lib/sentry/metrics/timing.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_builder_spec.rb
  sentry-ruby/spec/sentry/metrics/aggregator_spec.rb
  sentry-ruby/spec/sentry/metrics/configuration_spec.rb
  sentry-ruby/spec/sentry/metrics/counter_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/distribution_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/gauge_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/local_aggregator_spec.rb
  sentry-ruby/spec/sentry/metrics/metric_spec.rb
  sentry-ruby/spec/sentry/metrics/set_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/timing_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/span_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Remove deprecated capture_exception_frame_locals
  CHANGELOG.md
  sentry-rails/examples/rails-6.0/config/initializers/sentry.rb
  sentry-rails/examples/rails-7.0/config/initializers/sentry.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby, sentry-rails

Remove deprecated config.enable_tracing
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Remove deprecated config.logger
  CHANGELOG.md
  sentry-rails/benchmarks/allocation_comparison.rb
  sentry-rails/benchmarks/allocation_report.rb
  sentry-rails/examples/minimum-rails/app.rb
  sentry-ruby/benchmarks/allocation_comparison.rb
  sentry-ruby/benchmarks/allocation_report.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby, sentry-rails

Remove deprecated Sentry::Rails::Tracing::ActionControllerSubscriber
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/instrument_payload_cleanup_helper.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
Due: sentry-rails

Remove and and all metrics related code (#2729)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/lib/sentry/metrics/aggregator.rb
  sentry-ruby/lib/sentry/metrics/configuration.rb
  sentry-ruby/lib/sentry/metrics/counter_metric.rb
  sentry-ruby/lib/sentry/metrics/distribution_metric.rb
  sentry-ruby/lib/sentry/metrics/gauge_metric.rb
  sentry-ruby/lib/sentry/metrics/local_aggregator.rb
  sentry-ruby/lib/sentry/metrics/metric.rb
  sentry-ruby/lib/sentry/metrics/set_metric.rb
  sentry-ruby/lib/sentry/metrics/timing.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_builder_spec.rb
  sentry-ruby/spec/sentry/metrics/aggregator_spec.rb
  sentry-ruby/spec/sentry/metrics/configuration_spec.rb
  sentry-ruby/spec/sentry/metrics/counter_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/distribution_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/gauge_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/local_aggregator_spec.rb
  sentry-ruby/spec/sentry/metrics/metric_spec.rb
  sentry-ruby/spec/sentry/metrics/set_metric_spec.rb
  sentry-ruby/spec/sentry/metrics/timing_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/span_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Remove deprecated Sentry::Rails::Tracing::ActionControllerSubscriber (#2733)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/instrument_payload_cleanup_helper.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
Due: sentry-rails

Remove deprecated `config.logger` (#2732)
  CHANGELOG.md
  sentry-rails/benchmarks/allocation_comparison.rb
  sentry-rails/benchmarks/allocation_report.rb
  sentry-rails/examples/minimum-rails/app.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/instrument_payload_cleanup_helper.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
  sentry-ruby/benchmarks/allocation_comparison.rb
  sentry-ruby/benchmarks/allocation_report.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby, sentry-rails

Remove deprecated config.enable_tracing (#2731)
  CHANGELOG.md
  sentry-rails/benchmarks/allocation_comparison.rb
  sentry-rails/benchmarks/allocation_report.rb
  sentry-rails/examples/minimum-rails/app.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/instrument_payload_cleanup_helper.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
  sentry-ruby/benchmarks/allocation_comparison.rb
  sentry-ruby/benchmarks/allocation_report.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby, sentry-rails

Remove deprecated `config.capture_exception_frame_locals` (#2730)
  CHANGELOG.md
  sentry-rails/benchmarks/allocation_comparison.rb
  sentry-rails/benchmarks/allocation_report.rb
  sentry-rails/examples/minimum-rails/app.rb
  sentry-rails/examples/rails-6.0/config/initializers/sentry.rb
  sentry-rails/examples/rails-7.0/config/initializers/sentry.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/instrument_payload_cleanup_helper.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
  sentry-ruby/benchmarks/allocation_comparison.rb
  sentry-ruby/benchmarks/allocation_report.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby, sentry-rails

patch
  lib/concurrent_ruby.rb
Due: none

Remove Transaction deprecations
  CHANGELOG.md
  sentry-opentelemetry/lib/sentry/opentelemetry/propagator.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transactions/trace_propagation_spec.rb
Due: sentry-ruby, sentry-opentelemetry

Remove Transaction deprecations (#2736)
  CHANGELOG.md
  sentry-opentelemetry/lib/sentry/opentelemetry/propagator.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transactions/trace_propagation_spec.rb
Due: sentry-ruby, sentry-opentelemetry

Refactor LoggingHelper
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/backpressure_monitor.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/session_flusher.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/background_worker_spec.rb
  sentry-ruby/spec/sentry/backpressure_monitor_spec.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport/spotlight_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Remove deprecated Event#configuration
  CHANGELOG.md
  sentry-ruby/lib/sentry/event.rb
Due: sentry-ruby

Remove deprecated Event#configuration (#2740)
  CHANGELOG.md
  sentry-ruby/lib/sentry/event.rb
Due: sentry-ruby

Remove deprecated client methods
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client_spec.rb
Due: sentry-ruby

Remove deprecated client methods (#2741)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client_spec.rb
Due: sentry-ruby

Remove hub from Transaction#initialize
  CHANGELOG.md
  sentry-rails/spec/sentry/rails/tracing/action_view_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_support_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/span_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transactions/trace_propagation_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Change default profiler interval to 1000 microseconds
  sentry-ruby/lib/sentry/profiler.rb
Due: sentry-ruby

Changelog/test
  CHANGELOG.md
  sentry-ruby/spec/sentry/profiler_spec.rb
Due: none

Not clear to me how to actually run the tests so I'm gonna go with what I know works
  sentry-ruby/spec/sentry/profiler_spec.rb
Due: none

Bump required_ruby_version to 2.7
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  CHANGELOG.md
  Gemfile.dev
  sentry-delayed_job/Gemfile
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/Gemfile
  sentry-rails/sentry-rails.gemspec
  sentry-resque/Gemfile
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/Gemfile
  sentry-ruby/sentry-ruby-core.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-sidekiq/Gemfile
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Bump required_ruby_version to 2.7 (#2743)
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  CHANGELOG.md
  Gemfile.dev
  sentry-delayed_job/Gemfile
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/Gemfile
  sentry-rails/sentry-rails.gemspec
  sentry-resque/Gemfile
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/Gemfile
  sentry-ruby/sentry-ruby-core.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-sidekiq/Gemfile
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Remove hub from Transaction#initialize (#2739)
  CHANGELOG.md
  sentry-rails/spec/sentry/rails/tracing/action_view_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_support_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/span_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transactions/trace_propagation_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Add new config.profiles_sample_interval
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/profiler_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: sentry-ruby

chore(ci): Migrate danger workflow from v2 to v3
  .github/workflows/danger.yml
Due: none

chore(ci): Migrate danger workflow from v2 to v3 (#2748)
  .github/workflows/danger.yml
Due: none

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
