Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

WIP
  sentry-rails/spec/active_job/solid_queue_spec.rb
Due: none

fixup: do not crash on rails w/o SQ
  sentry-rails/spec/active_job/solid_queue_spec.rb
Due: none

test(rails): run distributed_tracing shared example against :solid_queue
  sentry-rails/spec/active_job/solid_queue_spec.rb
Due: none

fixup: fix syntax for older rubies
  sentry-rails/spec/active_job/solid_queue_spec.rb
Due: none

feat(rails): initial support for Solid Queue
  sentry-rails/.gitignore
  sentry-rails/Gemfile
  sentry-rails/spec/active_job/solid_queue_spec.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/dummy/test_rails_app/db/queue_schema.rb
Due: sentry-rails

fix(stacktrace): stop leaking internal frame state into event payload
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_spec.rb
Due: sentry-ruby

fix(stacktrace): stop leaking internal frame state into event payload (#2962)
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_spec.rb
Due: sentry-ruby

release: 6.6.0
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
  sentry-yabeda/lib/sentry/yabeda/version.rb
  sentry-yabeda/sentry-yabeda.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

changelog
  CHANGELOG.md
Due: none

refactor(telemetry): simplify re-entrant deadlock fix to single mutex guard
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
  sentry-yabeda/lib/sentry/yabeda/adapter.rb
  sentry-yabeda/spec/sentry/yabeda/adapter_spec.rb
Due: sentry-ruby

only guard add_item
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

release: 6.6.1
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
  sentry-yabeda/lib/sentry/yabeda/version.rb
  sentry-yabeda/sentry-yabeda.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

fix(metrics): Dup attributes in capture_metric
  sentry-ruby/lib/sentry/hub.rb
Due: sentry-ruby

fix(metrics): Dup attributes in capture_metric (#2965)
  sentry-ruby/lib/sentry/hub.rb
Due: sentry-ruby

release: 6.6.2
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
  sentry-yabeda/lib/sentry/yabeda/version.rb
  sentry-yabeda/sentry-yabeda.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

ci: Weekly lockfile generation CI job
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/tests.yml
  .github/workflows/update_lockfiles.yml
  .gitignore
Due: none

ci: Weekly lockfile generation CI job (#2966)
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/tests.yml
  .github/workflows/update_lockfiles.yml
  .gitignore
Due: none

ci: Generate both gemfile and lock
  .github/workflows/update_lockfiles.yml
Due: none

ci: Generate both gemfile and lock (#2967)
  .github/workflows/update_lockfiles.yml
Due: none

ci(lockgen): Reorder gemfile eval
  .github/workflows/update_lockfiles.yml
Due: none

ci(lockgen): Reorder gemfile eval (#2968)
  .github/workflows/update_lockfiles.yml
Due: none

skip changelog
  .github/workflows/update_lockfiles.yml
Due: none

ci: use ghcr image mirror for redis service (latest 7.0.8-bullseye)
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

ci: use ghcr image mirror for redis service (latest 7.0.8-bullseye) (#2970)
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

ci(lockgen): Use generated gemfiles in test workflows
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/sentry_yabeda_test.yml
Due: none

ci(lockgen): Use generated gemfiles in test workflows (#2971)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/sentry_yabeda_test.yml
Due: none

fix(rails): make Action Cable handle_open/handle_close overrides public
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/action_cable.rb
  sentry-rails/spec/sentry/rails/action_cable_spec.rb
Due: sentry-rails

feat(rails): emit producer span when enqueueing ActiveJob
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/active_job/shared_examples/tracing/producer_span.rb
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: sentry-rails

feat(rails): isolate Sentry hub per worker thread for ActiveJob
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/worker_hub_isolation.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: sentry-rails

feat(active_job): propagate allowed user context
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/user_propagation.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: sentry-rails

feat(rails): propagate trace context through ActiveJob payload
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/active_job/shared_examples/tracing/trace_propagation.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: sentry-rails

feat(rails): add messaging span data to ActiveJob consumer transaction
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/active_job/test_adapter_spec.rb
Due: sentry-rails

fixup(rails): account for AJ producer span in active_storage subscriber spec
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
Due: none

fix(active_job): widen manual flushing to rails < 6.1
  sentry-rails/spec/active_job/support/harness.rb
Due: none

fix(active_job): avoid shared queue race in jruby
  sentry-rails/spec/active_job/shared_examples/tracing/worker_hub_isolation.rb
Due: none

test(active_job): verify the AJ tracing suite passes on the :sidekiq adapter
  sentry-rails/Gemfile
  sentry-rails/spec/active_job/sidekiq_adapter_spec.rb
  sentry-rails/spec/active_job/support/sidekiq_adapter_context.rb
Due: sentry-rails

test(e2e): end-to-end ActiveJob distributed-tracing spec
  spec/apps/svelte-mini/src/App.svelte
  spec/features/active_job_tracing_spec.rb
Due: none

fix(active_job): always emit retry count on the consumer transaction
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
Due: sentry-rails

fix(active_job): save and restore hub around job execution
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails
