Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

[ci] update jruby versions
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/tests.yml
Due: none

[sidekiq] skip installing vernier on jruby
  sentry-sidekiq/Gemfile
Due: sentry-sidekiq

[rails] skip problematic specs (see #2612)
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: none

[sidekiq] skip vernier spec
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Due: none

[sidekiq] restore running tests against jruby 9.4.x
  .github/workflows/sentry_sidekiq_test.yml
Due: none

Fix jruby on CI (#2609)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/tests.yml
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-sidekiq/Gemfile
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Due: sentry-sidekiq

Update CHANGELOG
  CHANGELOG.md
Due: none

[sidekiq] use sidekiq-scheduler 6.0.0.beta
  sentry-sidekiq/Gemfile
Due: sentry-sidekiq

[sidekiq] display Sidekiq version before suite
  sentry-sidekiq/spec/spec_helper.rb
Due: none

[sidekiq] run tests against released 8.0.0
  .github/workflows/sentry_sidekiq_test.yml
Due: none

[sidekiq] fix handling of latency under 8.0
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/error_handler_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

[sidekiq] remove redundant spec
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: none

Sidekiq 8.0 updates (#2570)
  .github/workflows/sentry_sidekiq_test.yml
  CHANGELOG.md
  sentry-sidekiq/Gemfile
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/error_handler_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

[active_job] patch retry_job to report all errors during retries
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

[active_job] dry-up capturing logic a bit
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

Rework to use event
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/railtie.rb
Due: sentry-rails

Detach retry_handler in specs
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

DRY up event handling
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

Add a common handler_error_event
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

Add some comments to explain this tricky logic
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

Introduce LogEvent
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
Due: sentry-ruby

Introduce `log` data category in events
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
Due: sentry-ruby

Support for LogEvent in Transport
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Introduce Sentry.capture_log
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Rework LogEvent serialization
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Add more info to serialized log events
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
Due: sentry-ruby

Use each_with_object for consistency
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Grab trace_id from contexts[:trace]
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Add parent_span_id
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Add parent_span_id and nest sentry info under attributes
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Set SDK info under attributes correctly
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
Due: sentry-ruby

rubocop
  sentry-ruby/spec/sentry/log_event_spec.rb
Due: none

server_name -> address
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Introduce Sentry.capture_log (#2606)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Fix flaky spec
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: none

Fix flaky spec (#2614)
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: none

[active_job] report on each retry failure (#2598)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

[docker] fix ruby-lsp setup
  .devcontainer/Dockerfile
Due: none
