Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

chore(specs): add solid queue to e2e specs
  .devcontainer/.env.example
  .github/workflows/e2e_tests.yml
  .mise.toml
  spec/apps/rails-mini/Gemfile
  spec/apps/rails-mini/app.rb
  spec/apps/rails-mini/db/queue_schema.rb
  spec/apps/rails-mini/worker.rb
Due: none

chore(e2e): auto-bundle if needed when serving apps
  .mise.toml
Due: none

chore(e2e): use ActiveSupport::Logger for proper supression support
  spec/apps/rails-mini/app.rb
Due: none

fix(e2e): define env vars for manual testing
  .mise.toml
Due: none

Add dev dependency on faraday-net_http_persistent
  sentry-ruby/Gemfile
  sentry-ruby/gemfiles/ruby-2.7_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-2.7_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-2.7_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-0_redis-5.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-2_redis-5.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-3_redis-5.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.3_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.3_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.3_rack-3.1_redis-5.3.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.3_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3.1_redis-5.3.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-jruby-9.4.14.0_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-jruby-9.4.14.0_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-jruby-9.4.14.0_rack-3_redis-4.gemfile.lock
Due: sentry-ruby

Add spec showing double counting of Faraday spans when using net_http_persistent adapter
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: none

Fix double counting of Faraday spans when using net_http_persistent adapter
  sentry-ruby/lib/sentry/faraday.rb
Due: sentry-ruby

feat: add config.isolation_level for fiber-safe hub storage
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/hub_storage.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/hub_storage_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

fix(rails): route ActiveJob hub save/restore through HubStorage
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

fix: sync HubStorage on post-init isolation_level change; stabilize specs
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/hub_storage_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

simplify, remove HubStorage, add internal apis
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/hub_storage.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/hub_storage_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby, sentry-rails

fix(active_job): Consumer span op should be queue.process
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/consumer_transaction.rb
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/sentry/rails/active_job_hub_isolation_spec.rb
  spec/features/active_job_tracing_spec.rb
Due: sentry-rails

chore(devcontainer): simpler setup w/o docker compose
  .devcontainer/.env.example
  .devcontainer/Dockerfile
  .devcontainer/VERSION
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/features/tools/devcontainer-feature.json
  .devcontainer/features/tools/install.sh
  .devcontainer/run
  .devcontainer/setup
  .github/workflows/build_images.yml
  .github/workflows/e2e_tests.yml
  .gitignore
  .mise.toml
  CONTRIBUTING.md
Due: none

chore(devcontainer): for e2e install playwright in headless only
  .devcontainer/VERSION
  .devcontainer/features/tools/install.sh
Due: none

refactor(devcontainer): rename run to ci-run as now only CI needs it
  .devcontainer/ci-run
  .devcontainer/run
  .github/workflows/e2e_tests.yml
Due: none

refactor(devcontainer): drop dep on playwright
  .devcontainer/Dockerfile
  .devcontainer/features/tools/devcontainer-feature.json
  .devcontainer/features/tools/install.sh
  .github/workflows/build_images.yml
  spec/spec_helper.rb
Due: none

chore(devcontainer): bump version
  .devcontainer/VERSION
Due: none

refactor(devcontainer): use "latest" for the ruby version
  .devcontainer/features/tools/devcontainer-feature.json
  .mise.toml
Due: none

refactor(devcontainer): add redis-server as a dev/test/ci dep
  .devcontainer/devcontainer.json
  .github/workflows/e2e_tests.yml
  .mise.toml
Due: none

refactor(devcontainer): install mise via feature
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/features/tools/devcontainer-feature.json
  .devcontainer/features/tools/install.sh
Due: none

fix: correct Scope extra parameter typo
  sentry-ruby/lib/sentry/scope.rb
Due: sentry-ruby

fix(ci): make ancient rubies compile under Apple Ms arch
  .mise.ci.toml
Due: none

chore(ci): temporarly increase timeout
  .github/workflows/gem_test.yml
Due: none

feat(active_job): derive messaging.system from configured queue adapter
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
  sentry-rails/spec/active_job/shared_examples/tracing/producer_span.rb
  sentry-ruby/lib/sentry/span.rb
Due: sentry-ruby, sentry-rails

fix(active_job): correct messaging attribute values and types
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
  sentry-rails/spec/active_job/shared_examples/tracing/producer_span.rb
Due: sentry-rails

test(active_job): cover queue-convention span attributes
  sentry-rails/spec/active_job/shared_examples/tracing/messaging_span_data.rb
  sentry-rails/spec/active_job/shared_examples/tracing/trace_propagation.rb
  sentry-rails/spec/active_job/solid_queue_spec.rb
Due: none

fix(rails): ensure Rails.error.set_context is set in requests
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/error_reporter_context.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/hello_controller.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

fix(rails): ensure Rails.error.set_context is set in ActiveJob
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/shared_examples/error_context.rb
Due: sentry-rails

refactor(rails): extract common serializer for AJ and Error Context
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/error_reporter_context.rb
  sentry-rails/lib/sentry/rails/serializer.rb
  sentry-rails/spec/active_job/shared_examples/error_context.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/hello_controller.rb
  sentry-rails/spec/sentry/rails/serializer_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

fix: isolate hubs inherited through fiber storage
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

test: scope the span spec to fibers
  sentry-ruby/spec/sentry_spec.rb
Due: none

refactor(rails): rename contexts to execution_context helper
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/error_reporter_context.rb
Due: sentry-rails

fix(rails): ensure Rails.error.set_context is not lost (#3024)
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/error_reporter_context.rb
  sentry-rails/lib/sentry/rails/serializer.rb
  sentry-rails/spec/active_job/shared_examples/error_context.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/hello_controller.rb
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/sentry/rails/serializer_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

fix: isolate inherited hubs under hub_isolation_level = :fiber (#3036)
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

fix(rails): filter the context emitted by ErrorSubscriber
  sentry-rails/lib/sentry/rails/error_reporter_context.rb
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

fix(rails): filter the Rails error context
  sentry-rails/lib/sentry/rails/error_reporter_context.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/parameter_filter.rb
  sentry-rails/lib/sentry/rails/parameter_filter.rb
  sentry-rails/spec/active_job/shared_examples/error_context.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/hello_controller.rb
  sentry-rails/spec/sentry/rails/error_reporter_context_spec.rb
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails
