Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

[rails] display ruby/rails ver before specs
  sentry-rails/spec/spec_helper.rb
Due: none

[rails] add structured logger subscribers
  Gemfile.dev
  sentry-rails/Gemfile
  sentry-rails/lib/sentry/rails.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/log_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/parameter_filter.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/lib/sentry/rails/structured_logging.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/isolated/rails_logger_patch_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/parameter_filter_spec.rb
  sentry-rails/spec/sentry/rails/structured_logging_spec.rb
  sentry-rails/spec/spec_helper.rb
  sentry-rails/spec/support/shared_examples_for_parameter_filter.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/test_helper.rb
Due: sentry-ruby, sentry-rails

[rails] add e2e specs for rails structured logging
  sentry-ruby/lib/sentry/debug_structured_logger.rb
  spec/apps/rails-mini/Gemfile
  spec/apps/rails-mini/app.rb
  spec/features/structured_logging_spec.rb
  spec/spec_helper.rb
  spec/support/test_helper.rb
Due: sentry-ruby

Update CHANGELOG
  CHANGELOG.md
Due: none

Update Gemfile.dev
  Gemfile.dev
  sentry-rails/Gemfile
Due: sentry-rails

Clean up Gemfile.dev
  Gemfile.dev
Due: none

[rails] update dummy app's constant
  sentry-rails/spec/dummy/test_rails_app/app.rb
Due: none

[rails] update psych for rails 7.1+
  sentry-rails/Gemfile
Due: sentry-rails

[rails] add bin/test
  .gitignore
  sentry-rails/Gemfile
  sentry-rails/bin/test
Due: sentry-rails

Add DebugStructuredLogger
  sentry-rails/spec/spec_helper.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/debug_structured_logger.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/debug_structured_logger_spec.rb
  spec/support/test_helper.rb
Due: sentry-ruby

Better warning in Sentry.logger
  sentry-ruby/lib/sentry-ruby.rb
Due: sentry-ruby

[rails] add structured logging config/activation
  sentry-rails/lib/sentry/rails.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/lib/sentry/rails/structured_logging.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/structured_logging_spec.rb
Due: sentry-rails

[rails] introduce abstract log subscriber
  sentry-rails/lib/sentry/rails/log_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/parameter_filter.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/sentry/rails/log_subscribers/log_subscriber_spec.rb
  sentry-rails/spec/support/shared_examples_for_parameter_filter.rb
Due: sentry-rails

[rails] add ActionController log subscriber
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
Due: sentry-rails

[rails] add ActiveRecord log subscriber
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

[rails] add ActionMailer log subscriber
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
Due: sentry-rails

Update common gem deps (#2688)
  Gemfile.dev
  sentry-rails/Gemfile
Due: sentry-rails

Rails test runner (#2687)
  .gitignore
  sentry-rails/Gemfile
  sentry-rails/bin/test
  sentry-rails/spec/dummy/test_rails_app/app.rb
Due: sentry-rails

[rails] introduce abstract log subscriber
  sentry-rails/lib/sentry/rails/log_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/parameter_filter.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-rails/spec/support/shared_examples_for_parameter_filter.rb
Due: sentry-rails

[rails] move specs
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: none

[rails] add ActionMailer log subscriber
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/spec/sentry/rails/action_mailer_subscriber_spec.rb
Due: sentry-rails

[rails] add ActiveRecord log subscriber
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/active_record_subscriber_spec.rb
Due: sentry-rails

[rails] add ActionController log subscriber
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails/action_controller_subscriber_spec.rb
Due: sentry-rails

[rails] add structured logging config/activation
  sentry-rails/lib/sentry/rails.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/lib/sentry/rails/structured_logging.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/structured_logging_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

[rails] add ActiveJob log subscriber
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/spec/sentry/rails/active_job_subscriber_spec.rb
Due: sentry-rails

[rails] add requires
  sentry-rails/lib/sentry/rails/structured_logging.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

Simplify config
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/structured_logging_spec.rb
Due: sentry-rails

Fix debug transport clean up
  sentry-ruby/lib/sentry/test_helper.rb
Due: sentry-ruby

Skip including db attributes if connection is not in the payload
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails
