Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Move VALUE_TYPES up
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Move TOKEN_REGEXP up
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Remove unused DEFAULT_CONTEXT constant
  sentry-ruby/lib/sentry/log_event.rb
Due: sentry-ruby

Update CHANGELOG
  CHANGELOG.md
Due: none

docs: add warning about unmaintained example and sample code (#2646)
  sentry-ruby/README.md
Due: sentry-ruby

[devcontainer] switch to /workspace/sentry (#2645)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  sentry-ruby/spec/sentry/profiler_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: none

Optimize LogEvent to reduce memory consumption (#2643)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/scope.rb
Due: sentry-ruby

Include default user attributes in logs
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

Add user attributes to logs (#2647)
  CHANGELOG.md
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

Update CHANGELOG (#2648)
  CHANGELOG.md
Due: none

release: 5.25.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Use set_http_status in Utils::HttpTracing instead of set_data so that spans get their status set correctly.
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Due: sentry-ruby

Add changelog.
  CHANGELOG.md
Due: none

Skip creating LogEventBuffer if logging is not enabled
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Skip creating LogEventBuffer if logging is not enabled (#2652)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/log_event_buffer_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

implement stblib logger support
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/sentry/std_lib_logger_spec.rb
Due: sentry-ruby

update changelog
  CHANGELOG.md
Due: none

use existing patch to register stdlib logger
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/sentry/std_lib_logger_spec.rb
Due: sentry-ruby

remove unused code
  sentry-ruby/lib/sentry/std_lib_logger.rb
Due: sentry-ruby

fix rubocop lint issues
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/sentry/std_lib_logger_spec.rb
Due: sentry-ruby

Support trilogy adapter
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
Due: sentry-rails

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Isolate sentry logger and std lib logger specs
  sentry-ruby/spec/isolated/sentry_logger_spec.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
Due: none

Call super just once
  sentry-ruby/lib/sentry/std_lib_logger.rb
Due: sentry-ruby

Add SimpleCov command name for SentryLogger specs
  sentry-ruby/spec/isolated/sentry_logger_spec.rb
Due: none

Fix logger patch warning message configuration
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
Due: sentry-ruby

Logger support (#2657)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/isolated/sentry_logger_spec.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
Due: sentry-ruby

[sentry-rails] add support for isolated specs
  lib/sentry/test/rake_tasks.rb
  sentry-rails/Rakefile
  sentry-ruby/Rakefile
Due: sentry-ruby, sentry-rails

[sentry-rails] add tests for Rails logger when :logger patch is enabled
  sentry-rails/spec/isolated/rails_logger_patch_spec.rb
Due: none

Tests for Rails.logger when :logger patch is enabled (#2659)
  lib/sentry/test/rake_tasks.rb
  sentry-rails/Rakefile
  sentry-rails/spec/isolated/rails_logger_patch_spec.rb
  sentry-ruby/Rakefile
Due: sentry-ruby, sentry-rails

Update CHANGELOG (#2660)
  CHANGELOG.md
Due: none

release: 5.26.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Factor out do_request in HTTP transport
  CHANGELOG.md
  sentry-ruby/lib/sentry/transport/http_transport.rb
Due: sentry-ruby

Factor out do_request in HTTP transport (#2662)
  CHANGELOG.md
  sentry-ruby/lib/sentry/transport/http_transport.rb
Due: sentry-ruby

Fix flaky faraday spec
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: none
