Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Use File.open in LineCache (#2566)
  CHANGELOG.md
  sentry-ruby/lib/sentry/linecache.rb
Due: sentry-ruby

Fix backpressure_monitor leaking between specs
  sentry-ruby/spec/sentry/transaction_spec.rb
Due: none

Stub Time.now to avoid random failures in HTTP::Transport spec
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Due: none

Specify branch for yard
  sentry-ruby/Gemfile
Due: sentry-ruby

Reset Sentry global state after each spec run
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Remove codecov workflow
  .github/workflows/codecov.yml
Due: none

Reset global state after each spec run in remaining gems
  sentry-delayed_job/spec/spec_helper.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
  sentry-opentelemetry/spec/spec_helper.rb
  sentry-rails/spec/spec_helper.rb
  sentry-resque/spec/spec_helper.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: none

Add reset_sentry_globals
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Update sentry-ruby/Gemfile
  sentry-ruby/Gemfile
Due: sentry-ruby

Don't use initialized? in reset_sentry_globals!
  sentry-ruby/lib/sentry/test_helper.rb
Due: sentry-ruby

Wrap the whole reset_sentry_globals! in a mutex
  sentry-ruby/lib/sentry/test_helper.rb
Due: sentry-ruby

Update CHANGELOG
  CHANGELOG.md
Due: none

Update java backtrace regexp
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/spec/sentry/backtrace_spec.rb
Due: sentry-ruby

Flaky spec fixes (#2565)
  .github/workflows/codecov.yml
  sentry-delayed_job/spec/spec_helper.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
  sentry-opentelemetry/spec/spec_helper.rb
  sentry-rails/spec/spec_helper.rb
  sentry-resque/spec/spec_helper.rb
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/spec_helper.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-ruby

[raven] use File.open in LineCache
  sentry-raven/lib/raven/linecache.rb
Due: none

Add .devcontainer setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

Update code workspace configuration
  sentry-ruby.code-workspace
Due: none

Use REDIS_HOST in specs
  sentry-ruby/spec/sentry/breadcrumb/redis_logger_spec.rb
  sentry-ruby/spec/sentry/redis_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: none

wip - define latency calc methods based on sidekiq ver
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/error_handler_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

tmp - diplay that we run specs against sidekiq 8
  sentry-sidekiq/spec/spec_helper.rb
Due: none

wip - set test msg depending on sidekiq ver
  sentry-sidekiq/spec/spec_helper.rb
Due: none

fixup! wip - define latency calc methods based on sidekiq ver
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Remove useless request mocking setup
  sentry-ruby/spec/contexts/with_request_mock.rb
Due: none

Remove unnecessary transport_class assignment
  sentry-ruby/spec/sentry/excon_spec.rb
Due: none

Update java backtrace regexp (#2567)
  CHANGELOG.md
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/spec/sentry/backtrace_spec.rb
Due: sentry-ruby

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Specify versions for dev deps
  Gemfile
Due: none

Add .devcontainer setup
  .devcontainer/.env.example
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

Multi ruby devcontainer setup (#2568)
  .devcontainer/.env.example
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  CONTRIBUTING.md
  sentry-ruby.code-workspace
  sentry-ruby/spec/sentry/breadcrumb/redis_logger_spec.rb
  sentry-ruby/spec/sentry/redis_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: none

[raven] use File.open in LineCache (#2571)
  sentry-raven/lib/raven/linecache.rb
Due: none
