Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

feat(data-collection): Allow booleans as shorthand for KeyValueCollection fields
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/lib/sentry/data_collection/key_value_collection.rb
  sentry-ruby/spec/sentry/data_collection/key_value_collection_spec.rb
  sentry-ruby/spec/sentry/data_collection_spec.rb
Due: sentry-ruby

feat(data-collection): Allow booleans as shorthand for KeyValueCollection fields (#3065)
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/lib/sentry/data_collection/key_value_collection.rb
  sentry-ruby/spec/sentry/data_collection/key_value_collection_spec.rb
  sentry-ruby/spec/sentry/data_collection_spec.rb
Due: sentry-ruby

feat(data-collection): Change stack_frame_variables to KeyValueCollection
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/support/test_helper.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/lib/sentry/data_collection/key_value_collection.rb
  sentry-ruby/lib/sentry/error_event.rb
  sentry-ruby/lib/sentry/interfaces/exception.rb
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/data_collection/key_value_collection_spec.rb
  sentry-ruby/spec/sentry/data_collection_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  spec/apps/rails-mini/app.rb
Due: sentry-ruby

feat(data-collection): Change stack_frame_variables to KeyValueCollection (#3066)
  sentry-rails/spec/active_job/support/harness.rb
  sentry-rails/spec/support/test_helper.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/data_collection.rb
  sentry-ruby/lib/sentry/data_collection/key_value_collection.rb
  sentry-ruby/lib/sentry/error_event.rb
  sentry-ruby/lib/sentry/interfaces/exception.rb
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/data_collection/key_value_collection_spec.rb
  sentry-ruby/spec/sentry/data_collection_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  spec/apps/rails-mini/app.rb
Due: sentry-ruby

feat(data-collection): Make rails breadcrumbs respect data collection
  sentry-rails/lib/sentry/rails/breadcrumb/active_support_logger.rb
  sentry-rails/spec/sentry/rails/breadcrumbs/active_support_logger_spec.rb
Due: sentry-rails

feat(data-collection): Make rails breadcrumbs respect data collection (#3068)
  sentry-rails/lib/sentry/rails/breadcrumb/active_support_logger.rb
  sentry-rails/spec/sentry/rails/breadcrumbs/active_support_logger_spec.rb
Due: sentry-rails

release: 7.0.0
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
  sentry-yabeda/lib/sentry/yabeda/version.rb
  sentry-yabeda/sentry-yabeda.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

fix changelog
  CHANGELOG.md
Due: none

Fix trace_id mismatch for logs emitted before CaptureExceptions runs
  sentry-rails/lib/sentry/rails/capture_context.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/capture_context_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby, sentry-rails

fix: store the propagation context in env instead of a boolean flag
  sentry-rails/lib/sentry/rails/capture_context.rb
  sentry-rails/spec/sentry/rails/capture_context_spec.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby, sentry-rails

fix(rails): move CaptureContext in the middleware stack
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

test(rails): stop the uninitialized-Sentry stub leaking into cleanup
  sentry-rails/spec/sentry/rails/capture_context_spec.rb
Due: none

test(e2e): cover establishing trace context
  sentry-ruby/lib/sentry/transport/debug_transport.rb
  spec/apps/rails-mini/app.rb
  spec/features/trace_context_spec.rb
  spec/support/test_helper.rb
Due: sentry-ruby

fix(tracing): use established propagation context's span_id
  sentry-rails/spec/sentry/rails/capture_context_spec.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry_spec.rb
  spec/features/trace_context_spec.rb
Due: sentry-ruby

ci(e2e): commit the rails-mini lockfile
  .gitignore
  spec/apps/rails-mini/Gemfile
  spec/apps/rails-mini/Gemfile.lock
Due: none

ci(e2e): refresh the rails-mini lock off known-vulnerable gems
  spec/apps/rails-mini/Gemfile.lock
Due: none

ci: relock for the e2e apps
  .github/workflows/update_lockfiles.yml
  bin/lib/matrix.rb
  bin/relock
Due: none

ci(e2e): commit the rails-mini lockfile (#3074)
  .github/workflows/update_lockfiles.yml
  .gitignore
  bin/lib/matrix.rb
  bin/relock
  spec/apps/rails-mini/Gemfile
  spec/apps/rails-mini/Gemfile.lock
Due: none

stuff
  CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/utils/encoding_helper.rb
  sentry-ruby/spec/sentry/breadcrumb_buffer_spec.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry/utils/encoding_helper_spec.rb
Due: sentry-ruby

pin json<3 for now in rails
  sentry-rails/Gemfile
  sentry-rails/gemfiles/ruby-2.7_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.0_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.1_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.1_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.2_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.3_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-7.2.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-3.4_rails-8.1.3.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-7.1.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.0.0.gemfile.lock
  sentry-rails/gemfiles/ruby-4.0_rails-8.1.3.gemfile.lock
  sentry-rails/gemfiles/ruby-jruby-9.4.14.0_rails-7.1.0.gemfile.lock
  spec/apps/rails-mini/Gemfile
  spec/apps/rails-mini/Gemfile.lock
Due: sentry-rails

feat: Gracefully handle SDK callback exceptions
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/metric_event_buffer.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/utils/callback_helper.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Due: sentry-ruby

fix: send buffered telemetry on the background worker
  CHANGELOG.md
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

Fix syntax error in CHANGELOG.md example
  CHANGELOG.md
Due: none

feat: Gracefully handle SDK callback exceptions (#3077)
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/log_event_buffer.rb
  sentry-ruby/lib/sentry/metric_event_buffer.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/utils/callback_helper.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Due: sentry-ruby

fix(faraday): Don't double instrument builder
  sentry-ruby/lib/sentry/faraday.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: sentry-ruby

Fix syntax error in CHANGELOG.md example (#3081)
  CHANGELOG.md
Due: none

fix(logs, metrics): Reduce mutex surface area for TelemetryEventBuffer
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

fix(faraday): Don't double instrument builder (#3082)
  sentry-ruby/lib/sentry/faraday.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: sentry-ruby

fix(logs, metrics): Reduce mutex surface area for TelemetryEventBuffer (#3083)
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

fix(metrics, logs): Add a ConditionVariable to TelemetryEventBuffer so that both periodic and size based flushing happen on the buffer thread
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/spec/isolated/sentry_logger_spec.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
  sentry-ruby/spec/sentry/backpressure_monitor_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/sentry/threaded_periodic_worker_spec.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

feat: add failure_issue_threshold and recovery_threshold to cron monitor config
  sentry-ruby/lib/sentry/cron/configuration.rb
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
  sentry-ruby/lib/sentry/cron/monitor_config.rb
  sentry-ruby/spec/sentry/cron/monitor_check_ins_spec.rb
  sentry-ruby/spec/sentry/cron/monitor_config_spec.rb
Due: sentry-ruby

fix(cron): warn on invalid monitor interval units
  sentry-ruby/lib/sentry/cron/monitor_config.rb
  sentry-ruby/spec/sentry/cron/monitor_config_spec.rb
Due: sentry-ruby

fix(crons): Log debug message when monitor config interval unit is invalid
  sentry-ruby/lib/sentry/cron/monitor_config.rb
  sentry-ruby/spec/sentry/cron/monitor_config_spec.rb
Due: sentry-ruby

fix(metrics, logs): Add a ConditionVariable to TelemetryEventBuffer so that both periodic and size based flushing happen on the buffer thread (#3084)
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/spec/isolated/sentry_logger_spec.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
  sentry-ruby/spec/sentry/backpressure_monitor_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/sentry/threaded_periodic_worker_spec.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
Due: sentry-ruby

fix(metrics, logs): Kill telemetry buffer threads on close
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

fix(metrics, logs): Kill telemetry buffer threads on close (#3094)
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

fix(logs, metrics): Make ThreadedPeriodicWorker and TelemetryEventBuffer fork friendly
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/spec_helper.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/spec/spec_helper.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
  spec/support/fork_helper.rb
Due: sentry-ruby
