Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

fix(logs, metrics): Make ThreadedPeriodicWorker and TelemetryEventBuffer fork friendly
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/spec_helper.rb
  sentry-ruby/lib/sentry/session_flusher.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/spec_helper.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
  spec/support/fork_helper.rb
Due: sentry-ruby

fix(logs, metrics): Make ThreadedPeriodicWorker and TelemetryEventBuffer fork friendly (#3097)
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/spec_helper.rb
  sentry-ruby/lib/sentry/session_flusher.rb
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/spec_helper.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
  spec/support/fork_helper.rb
Due: sentry-ruby

feat!: Disable rails structured logging by default
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/sentry-rails.gemspec
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: sentry-rails

feat!: Disable rails structured logging by default (#3102)
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/sentry-rails.gemspec
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: sentry-rails

fix!(tracing): Remove 302/303 from default trace_ignore_status_codes
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

fix!(tracing): Remove 302/303 from default trace_ignore_status_codes (#3103)
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

fix(rails): Read query params safely in around_action
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/posts_controller.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Due: sentry-rails

fix(rails): Read query params safely in around_action (#3106)
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/posts_controller.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Due: sentry-rails

test: Isolate forked tests
  sentry-rails/spec/isolated/rails_exit_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/spec/isolated/forked_workers_spec.rb
  sentry-ruby/spec/sentry/sequel_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
  spec/support/fork_helper.rb
Due: none

test: Isolate forked tests (#3105)
  sentry-rails/spec/isolated/rails_exit_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/spec/isolated/forked_workers_spec.rb
  sentry-ruby/spec/sentry/sequel_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/support/shared_examples_for_telemetry_event_buffers.rb
  spec/support/fork_helper.rb
Due: none

release: 7.1.0
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
  sentry-yabeda/lib/sentry/yabeda/version.rb
  sentry-yabeda/sentry-yabeda.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

fix changelog
  CHANGELOG.md
Due: none

fix graphql spec
  sentry-ruby/spec/sentry/graphql_spec.rb
Due: none

feat: Add feature flag support
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/scope/feature_flags_spec.rb
Due: sentry-ruby

update changelog
  CHANGELOG.md
Due: none

fix(rails): don't load ActionController::Live before initialization
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/isolated/streaming_reporter_spec.rb
Due: sentry-rails

feat(crons): Add rufus-scheduler cron monitoring
  sentry-ruby/Gemfile
  sentry-ruby/gemfiles/ruby-2.7_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-2.7_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-2.7_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.0_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.1_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-0_redis-5.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-2_redis-5.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.2_rack-3_redis-5.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.3_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.3_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.3_rack-3.1_redis-5.3.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.3_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3.1_redis-5.3.gemfile.lock
  sentry-ruby/gemfiles/ruby-3.4_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-4.0_rack-3_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-jruby-9.4.14.0_rack-2_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-jruby-9.4.14.0_rack-3.1_redis-4.gemfile.lock
  sentry-ruby/gemfiles/ruby-jruby-9.4.14.0_rack-3_redis-4.gemfile.lock
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/rufus_scheduler.rb
  sentry-ruby/spec/sentry/rufus_scheduler_spec.rb
Due: sentry-ruby

fix(crons): Harden rufus-scheduler monitor slugs and time zones
  sentry-ruby/lib/sentry/rufus_scheduler.rb
  sentry-ruby/spec/sentry/rufus_scheduler_spec.rb
Due: sentry-ruby

fix(transport): make DummyTransport thread-safe
  sentry-ruby/lib/sentry/transport/dummy_transport.rb
  sentry-ruby/spec/sentry/transport/dummy_transport_spec.rb
Due: sentry-ruby

fix(transport): make DummyTransport thread-safe (#3112)
  sentry-ruby/lib/sentry/transport/dummy_transport.rb
  sentry-ruby/spec/sentry/transport/dummy_transport_spec.rb
Due: sentry-ruby

fix(transport): log directly sent envelopes in DebugTransport
  sentry-ruby/lib/sentry/transport/debug_transport.rb
  sentry-ruby/spec/sentry/transport/debug_transport_spec.rb
Due: sentry-ruby

fix(transport): log directly sent envelopes in DebugTransport (#3113)
  sentry-ruby/lib/sentry/transport/debug_transport.rb
  sentry-ruby/spec/sentry/transport/debug_transport_spec.rb
Due: sentry-ruby

refactor(tracing): set up request propagation context once
  sentry-rails/lib/sentry/rails/capture_context.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/capture_context_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby, sentry-rails

test(e2e): cover trace context of early request logs
  spec/apps/rails-mini/app.rb
  spec/features/trace_context_spec.rb
  spec/support/test_helper.rb
Due: none

Fix trace_id mismatch for logs emitted before CaptureExceptions runs
  sentry-rails/lib/sentry/rails/capture_context.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/capture_context_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby, sentry-rails

fix(tracing): reuse propagation span_id for request transaction
  sentry-rails/spec/sentry/rails/capture_context_spec.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  spec/features/trace_context_spec.rb
Due: sentry-ruby

fix(rails): ignore error-less ActiveJob retry enqueues
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/continuable_spec.rb
Due: sentry-rails

fix(rails): ignore error-less ActiveJob retry enqueues (#3125)
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/active_job/continuable_spec.rb
Due: sentry-rails
