Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

copy other logic
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

require configuration
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
Due: sentry-rails

add report_after_job_retries support for activejob
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
Due: sentry-rails

handle already_supported_by_sentry_integration
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

skip retry_on tests with rails < 5.1
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: none

flatten configuration to rails.actibve_job_report_after_job_retries
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails

changelog
  sentry-rails/CHANGELOG.md
Due: sentry-rails

changelog
  CHANGELOG.md
  sentry-rails/CHANGELOG.md
Due: sentry-rails

move class declaration into rail > 5.1 block
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: none

add tests
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

try a different way
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: none

add config default / spec
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: sentry-rails

Fix formatting
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Properly detach retry_stopped.active_job subscriber
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

Stop byteslicing empty strings in breadcrumbs
  sentry-ruby/lib/sentry/breadcrumb.rb
Due: sentry-ruby

Fix for jruby
  sentry-rails/spec/spec_helper.rb
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix spec for old rails
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: none

Fix flaky specs, I think
  sentry-rails/lib/sentry/rails/railtie.rb
Due: sentry-rails

Stop byteslicing empty strings in breadcrumbs
  CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb.rb
Due: sentry-ruby

Update dev container setup
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

Stop byteslicing empty strings in breadcrumbs (#2574)
  CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb.rb
Due: sentry-ruby

changelog for 5.23.0
  CHANGELOG.md
Due: none

changelog for 5.23.0 (#2577)
  CHANGELOG.md
Due: none

release: 5.23.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

[sidekiq] Add sidekiq from main for testing
  sentry-sidekiq/Gemfile
Due: sentry-sidekiq

[sidekiq] add basic Vernier spec
  sentry-sidekiq/Gemfile
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Minor style fix
  sentry-sidekiq/spec/spec_helper.rb
Due: none

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
