Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Add new config.profiles_sample_interval (#2745)
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/profiler_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: sentry-ruby

fix(logging): auto.logger -> auto.log
  sentry-rails/lib/sentry/rails/log_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/structured_logging_spec.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby, sentry-rails

Update CHANGELOG
  CHANGELOG.md
Due: none

fix(logging): auto.logger -> auto.log (#2749)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/log_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/structured_logging_spec.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby, sentry-rails

feat(monitor_check_ins): enhance slug generation with hash truncation
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
  sentry-ruby/spec/sentry/cron/monitor_check_ins_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq-scheduler/scheduler_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Due: sentry-ruby

feat(monitor_check_ins): add MAX_NAME_LENGTH constant for name validation
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
Due: sentry-ruby

fix(monitor_check_ins): adjust slug length calculation for accuracy
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
Due: sentry-ruby

Introduce sentry-good_job integration with essential files and configurations
  sentry-good_job/.gitignore
  sentry-good_job/.rspec
  sentry-good_job/.rspec_status
  sentry-good_job/.rubocop.yml
  sentry-good_job/CHANGELOG.md
  sentry-good_job/Gemfile
  sentry-good_job/LICENSE.txt
  sentry-good_job/Makefile
  sentry-good_job/README.md
  sentry-good_job/Rakefile
  sentry-good_job/bin/console
  sentry-good_job/bin/setup
  sentry-good_job/example/Gemfile
  sentry-good_job/example/app.rb
  sentry-good_job/lib/sentry-good_job.rb
  sentry-good_job/lib/sentry/good_job.rb
  sentry-good_job/lib/sentry/good_job/configuration.rb
  sentry-good_job/lib/sentry/good_job/cron_monitoring.rb
  sentry-good_job/lib/sentry/good_job/error_handler.rb
  sentry-good_job/lib/sentry/good_job/job_monitor.rb
  sentry-good_job/lib/sentry/good_job/logger.rb
  sentry-good_job/lib/sentry/good_job/version.rb
  sentry-good_job/sentry-good_job.gemspec
  sentry-good_job/spec/sentry/good_job/configuration_spec.rb
  sentry-good_job/spec/sentry/good_job/cron_monitoring_spec.rb
  sentry-good_job/spec/sentry/good_job/error_handler_spec.rb
  sentry-good_job/spec/sentry/good_job/job_monitor_spec.rb
  sentry-good_job/spec/sentry/good_job/logger_spec.rb
  sentry-good_job/spec/sentry/good_job_spec.rb
  sentry-good_job/spec/spec_helper.rb
Due: none

Update .gitignore and remove .rspec_status file
  sentry-good_job/.gitignore
  sentry-good_job/.rspec_status
Due: none

Refactor job monitoring setup in sentry-good_job integration
  sentry-good_job/README.md
  sentry-good_job/lib/sentry-good_job.rb
  sentry-good_job/lib/sentry/good_job.rb
  sentry-good_job/spec/sentry/good_job_spec.rb
Due: none

Refactor error handling in sentry-good_job integration
  sentry-good_job/lib/sentry/good_job/error_handler.rb
  sentry-good_job/spec/sentry/good_job/error_handler_spec.rb
Due: none

Enhance cron monitoring and error handling in sentry-good_job integration
  sentry-good_job/lib/sentry/good_job/cron_monitoring.rb
  sentry-good_job/lib/sentry/good_job/error_handler.rb
  sentry-good_job/spec/sentry/good_job/cron_monitoring_spec.rb
  sentry-good_job/spec/sentry/good_job/error_handler_spec.rb
Due: none

Feature - Optimize query_source_location with cache for clean_frame results
  sentry-rails/benchmark/clean_frame_cache.rb
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
Due: sentry-rails

Optimize cache key to use non-frozen array instead of frozen array
  sentry-rails/benchmark/location_as_key.rb
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
Due: sentry-rails

Always set up the StructuredLogger and no-op capture_log_event if logs are disabled
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Always set up the StructuredLogger and no-op capture_log_event if logs (#2752)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/structured_logger_spec.rb
Due: sentry-ruby

Update configuration option terminology in sentry-good_job integration
  sentry-good_job/CHANGELOG.md
  sentry-good_job/README.md
  sentry-good_job/lib/sentry/good_job/configuration.rb
  sentry-good_job/lib/sentry/good_job/error_handler.rb
  sentry-good_job/spec/sentry/good_job/configuration_spec.rb
  sentry-good_job/spec/sentry/good_job/error_handler_spec.rb
Due: none

Refactor sentry-good_job integration to leverage sentry-rails for ActiveJob functionality
  sentry-good_job/CHANGELOG.md
  sentry-good_job/README.md
  sentry-good_job/example/app.rb
  sentry-good_job/lib/sentry-good_job.rb
  sentry-good_job/lib/sentry/good_job/active_job_extensions.rb
  sentry-good_job/lib/sentry/good_job/configuration.rb
  sentry-good_job/lib/sentry/good_job/context_helpers.rb
  sentry-good_job/lib/sentry/good_job/cron_helpers.rb
  sentry-good_job/lib/sentry/good_job/error_handler.rb
  sentry-good_job/lib/sentry/good_job/job_monitor.rb
  sentry-good_job/spec/sentry/good_job/active_job_extensions_spec.rb
  sentry-good_job/spec/sentry/good_job/configuration_spec.rb
  sentry-good_job/spec/sentry/good_job/context_helpers_spec.rb
  sentry-good_job/spec/sentry/good_job/cron_helpers_spec.rb
  sentry-good_job/spec/sentry/good_job/error_handler_spec.rb
  sentry-good_job/spec/sentry/good_job/job_monitor_spec.rb
  sentry-good_job/spec/sentry/good_job_spec.rb
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

Fix enhance_sentry_reporter method to properly encapsulate patch
  sentry-good_job/lib/sentry/good_job/active_job_extensions.rb
Due: none

Enhance cron monitoring setup in Sentry GoodJob integration
  sentry-good_job/lib/sentry/good_job/cron_helpers.rb
  sentry-good_job/spec/sentry/good_job/cron_helpers_spec.rb
Due: none

Improve error handling in Sentry ActiveJob integration
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

Enhance cron monitoring logging in Sentry GoodJob integration
  sentry-good_job/lib/sentry/good_job/cron_helpers.rb
  sentry-good_job/spec/sentry/good_job/cron_helpers_spec.rb
Due: none

Refactor error handling in cron monitoring setup for Sentry GoodJob integration
  sentry-good_job/lib/sentry/good_job/cron_helpers.rb
Due: none

Refactor transaction initialization in Sentry integrations
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-delayed_job

Refactor transaction handling in Sentry ActiveJob integration
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/send_event_job_spec.rb
Due: sentry-rails

Refactor logging in Sentry GoodJob integration
  sentry-good_job/CHANGELOG.md
  sentry-good_job/README.md
  sentry-good_job/example/app.rb
  sentry-good_job/lib/sentry-good_job.rb
  sentry-good_job/lib/sentry/good_job/configuration.rb
  sentry-good_job/lib/sentry/good_job/cron_helpers.rb
  sentry-good_job/lib/sentry/good_job/logger.rb
  sentry-good_job/spec/sentry/good_job/configuration_spec.rb
  sentry-good_job/spec/sentry/good_job/cron_helpers_spec.rb
  sentry-good_job/spec/sentry/good_job/logger_spec.rb
Due: none

Enhance Sentry GoodJob integration with improved context and span data handling
  sentry-good_job/lib/sentry/good_job/active_job_extensions.rb
  sentry-good_job/spec/sentry/good_job/active_job_extensions_spec.rb
  sentry-good_job/spec/sentry/good_job/configuration_spec.rb
  sentry-good_job/spec/sentry/good_job/context_helpers_spec.rb
  sentry-good_job/spec/sentry/good_job/integration_spec.rb
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

Update README.md for Sentry GoodJob integration
  sentry-good_job/README.md
Due: none

Rubocop cleanup
  sentry-good_job/lib/sentry/good_job/cron_helpers.rb
Due: none

Enhance user context preservation in Sentry integrations
  sentry-good_job/spec/sentry/good_job/integration_spec.rb
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Remove redundant user context preservation tests from Sentry integrations
  sentry-good_job/spec/sentry/good_job/integration_spec.rb
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Make request body reading safe to rewind
  CHANGELOG.md
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

Make request body reading safe to rewind (#2754)
  CHANGELOG.md
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

Bump oversized stacktrace trunction to 500 on both sides
  CHANGELOG.md
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

changelog for 5.28.1
  CHANGELOG.md
Due: none

changelog for 5.28.1 (#2756)
  CHANGELOG.md
Due: none

release: 5.28.1
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

release: 6.0.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

chore(sidekiq): add spec:isolated rake task
  sentry-sidekiq/Rakefile
Due: sentry-sidekiq
