Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Add 5 min timeout to sentry_ruby_test workflow
  .github/workflows/sentry_ruby_test.yml
Due: none

Add 5 min timeout to sentry_ruby_test workflow (#2410)
  .github/workflows/sentry_ruby_test.yml
Due: none

feat: implement llm monitoring with langchainrb integration
  Gemfile
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/ai/langchain.rb
  sentry-ruby/lib/sentry/ai/monitoring.rb
  sentry-ruby/lib/sentry/langchain.rb
Due: sentry-ruby

fix: update call_types and span data
  sentry-ruby/lib/sentry/ai/langchain.rb
  sentry-ruby/lib/sentry/ai/monitoring.rb
Due: sentry-ruby

changelog for 5.20.0
  CHANGELOG.md
Due: none

changelog for 5.20.0 (#2412)
  CHANGELOG.md
Due: none

chore: remove capture message and reorganize code
  sentry-ruby/lib/sentry/ai/langchain.rb
  sentry-ruby/lib/sentry/ai/monitoring.rb
Due: sentry-ruby

Change timeout to 10 min since 5 is not enough
  .github/workflows/sentry_ruby_test.yml
Due: none

Change timeout to 10 min since 5 is not enough (#2414)
  .github/workflows/sentry_ruby_test.yml
Due: none

Skip concurrent threaded test on jruby
  sentry-ruby/spec/sentry/breadcrumb/sentry_logger_spec.rb
Due: sentry-ruby

Skip concurrent threaded test on jruby (#2415)
  sentry-ruby/spec/sentry/breadcrumb/sentry_logger_spec.rb
Due: sentry-ruby

fix changelog
  CHANGELOG.md
Due: none

fix changelog (#2416)
  CHANGELOG.md
Due: none

escaping URLs on http.rb
  sentry-ruby/lib/sentry/net/http.rb
Due: sentry-ruby

ref: adds a small spec to check for non-ascii fields on the path param for Net::HTTPRequest
  sentry-ruby/spec/sentry/net/http_spec.rb
Due: sentry-ruby

Add changelog
  CHANGELOG.md
Due: none

fix: Unable to use sentry when URI contains non-ascii symbols on Net::HTTP traces. (#2417)
  CHANGELOG.md
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Due: sentry-ruby

Prevent Hub from having nil scope and client
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Due: sentry-ruby

Update changelog
  CHANGELOG.md
Due: none

Prevent Hub from having nil scope and client (#2402)
  CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Due: sentry-ruby

release: 5.20.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Ignore rubocop file in spec files
  CHANGELOG.md
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/sentry-rails.gemspec
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/sentry-ruby-core.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Ignore rubocop file in spec files (#2420)
  CHANGELOG.md
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/sentry-rails.gemspec
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/sentry-ruby-core.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

release: 5.20.1
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Fix spec file location
  sentry-ruby/spec/sentry/envelope/item_spec.rb
Due: sentry-ruby

Extract Envelope::Item to its own file
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/envelope/item.rb
Due: sentry-ruby

Add Envelope::Item#size_limit
  sentry-ruby/lib/sentry/envelope/item.rb
Due: sentry-ruby

Make Envelope::Item#{headers,payload} just readers
  sentry-ruby/lib/sentry/envelope/item.rb
Due: sentry-ruby

Memoize Envelope::Item#type in the constructor
  sentry-ruby/lib/sentry/envelope/item.rb
Due: sentry-ruby

Memoize Envelope::Item#data_category
  sentry-ruby/lib/sentry/envelope/item.rb
Due: sentry-ruby

Update CHANGELOG
  CHANGELOG.md
Due: none

Add custom size limit for profile items
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Generalize size limits based on envelope item type (#2421)
  CHANGELOG.md
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/spec/sentry/envelope/item_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Format stackprof_results.json fixture
  sentry-ruby/spec/support/stackprof_results.json
Due: sentry-ruby

Better spec skipping helper
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Fix flaky spec
  sentry-ruby/spec/sentry/profiler_spec.rb
Due: sentry-ruby

Improve profiler helpers coverage
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: sentry-ruby

Add support for Vernier profiler
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/profiler.rb
  sentry-ruby/lib/sentry/profiler/helpers.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/lib/sentry/vernier/output.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
  sentry-ruby/spec/spec_helper.rb
  sentry-ruby/spec/support/profiler.rb
Due: sentry-ruby

Minor style tweak
  sentry-ruby/lib/sentry/vernier/profiler.rb
Due: sentry-ruby

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec
  sentry-rails: any of: sentry-rails/, but not: **/spec
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec
  sentry-resque: any of: sentry-resque/, but not: **/spec
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec
