Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
ignore:
  - "**/spec"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Remove hash based event logic
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport/spotlight_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

changelog
  CHANGELOG.md
Due: none

Drop `async` configuration (#1894)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/send_event_job_spec.rb
  sentry-ruby/examples/crons/README.md
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/background_worker_spec.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport/spotlight_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby, sentry-rails

Notify users when their custom options are discarded
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

Update changelog
  CHANGELOG.md
Due: none

Notify users when their custom options are discarded (#2303)
  CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Due: sentry-ruby

Extract thread control logic into a new ThreadedPeriodicWorker class
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/backpressure_monitor.rb
  sentry-ruby/lib/sentry/metrics/aggregator.rb
  sentry-ruby/lib/sentry/session_flusher.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/spec/sentry/backpressure_monitor_spec.rb
  sentry-ruby/spec/sentry/metrics/aggregator_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
Due: sentry-ruby

Extract thread control logic into a new ThreadedPeriodicWorker class (#2304)
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/backpressure_monitor.rb
  sentry-ruby/lib/sentry/metrics/aggregator.rb
  sentry-ruby/lib/sentry/session_flusher.rb
  sentry-ruby/lib/sentry/threaded_periodic_worker.rb
  sentry-ruby/spec/sentry/backpressure_monitor_spec.rb
  sentry-ruby/spec/sentry/metrics/aggregator_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
Due: sentry-ruby

Decrease the default number of background worker threads by half
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/background_worker_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Decrease the default number of background worker threads by half (#2305)
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/background_worker_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Remove the capture_exception_frame_locals configuration option
  sentry-rails/examples/rails-6.0/config/initializers/sentry.rb
  sentry-rails/examples/rails-7.0/config/initializers/sentry.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby, sentry-rails

Enable automatic graphql tracing with a new `:graphql` patch
  CHANGELOG.md
  Gemfile
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/graphql.rb
  sentry-ruby/spec/sentry/graphql_spec.rb
Due: sentry-ruby

Enable automatic graphql tracing with a new `:graphql` patch (#2308)
  CHANGELOG.md
  Gemfile
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/graphql.rb
  sentry-ruby/spec/sentry/graphql_spec.rb
Due: sentry-ruby

Remove nio4r pin
  Gemfile
Due: none

Remove nio4r pin (#2309)
  Gemfile
Due: none

w3c traceparent
  .gitignore
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Make links in `sentry-rails` gemspec more accurate
  sentry-rails/sentry-rails.gemspec
Due: sentry-rails

Tranform gemspec metadata to a single Hash for `sentry-rails`
  sentry-rails/sentry-rails.gemspec
Due: sentry-rails

Add bug tracker and documentation links into `sentry-rails` gemspec
  sentry-rails/sentry-rails.gemspec
Due: sentry-rails

Make the same URI changes for `sentry-ruby` gemspec
  sentry-ruby/sentry-ruby.gemspec
Due: sentry-ruby

Make the same URI changes for `sentry-sidekiq` gemspec
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-sidekiq

Make the same URI changes for `sentry-rescue` gemspec
  sentry-resque/sentry-resque.gemspec
Due: sentry-resque

Make the same URI changes for `sentry-opentelemetry` gemspec
  sentry-opentelemetry/sentry-opentelemetry.gemspec
Due: sentry-opentelemetry

Make the same URI changes for `sentry-delayed_job` gemspec
  sentry-delayed_job/sentry-delayed_job.gemspec
Due: sentry-delayed_job

Add get_trace_propagation_meta helper
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Add get_trace_propagation_meta helper (#2314)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Make the query source location feature toggleable
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
Due: sentry-rails

Support query source in ActiveRecord spans
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-ruby/lib/sentry/span.rb
Due: sentry-ruby, sentry-rails

Only record query source if it takes longer than db_query_source_threshold_ms
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
Due: sentry-rails

Add query source support to `sentry-rails` (#2313)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-ruby/lib/sentry/span.rb
Due: sentry-ruby, sentry-rails

`+=` instead of `<<`
  CHANGELOG.md
  sentry-ruby/lib/sentry/test_helper.rb
Due: sentry-ruby

Add :origin attribute to span and use in trace context and span hash
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/span_spec.rb
Due: sentry-ruby

Add origin to Rack::CaptureExceptions
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

Add origin to Net::HTTP
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Due: sentry-ruby

Add origin to Redis
  sentry-ruby/lib/sentry/redis.rb
  sentry-ruby/spec/sentry/redis_spec.rb
Due: sentry-ruby

Add origin to Metrics
  sentry-ruby/lib/sentry/metrics.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
Due: sentry-ruby

Add origin to DelayedJob
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
Due: sentry-delayed_job
