Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Update Rails 8 related tests
  sentry-rails/spec/sentry/rails/tracing/active_support_subscriber_spec.rb
Due: sentry-rails

Test against Rails 8.0 on CI
  .github/workflows/sentry_rails_test.yml
  sentry-rails/Gemfile
Due: sentry-rails

Test sentry-rails against Rails 8.0.0 (#2444)
  .github/workflows/sentry_rails_test.yml
  sentry-rails/Gemfile
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_support_subscriber_spec.rb
Due: sentry-rails

RescuedExceptionInterceptor: Handle empty configuration (#2428)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/rescued_exception_interceptor.rb
Due: sentry-rails

Remove timecop_delay from options hash
  CHANGELOG.md
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Add basic specs
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Add childspan for Sidekiq Queue instrumentation
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Fix 1 day
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: sentry-sidekiq

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Set root op instead of nested spans
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Due: sentry-sidekiq

Remove unneeded exception alloc
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
Due: sentry-sidekiq

Adjust feedback
  sentry-sidekiq/Gemfile
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Fix 1.day
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: sentry-sidekiq

Dont use .day helper
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: sentry-sidekiq

Add child_spans for Sidekiq Queue instrumentation (#2403)
  CHANGELOG.md
  sentry-sidekiq/Gemfile
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Add childspan for Sidekiq Queue instrumentation
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/cron/job.rb
  sentry-sidekiq/spec/sentry/sidekiq/cron/job_spec.rb
Due: sentry-sidekiq

Drop `async` configuration (#1894)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/send_event_job_spec.rb
  sentry-ruby/examples/crons/README.md
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/background_worker_spec.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport/spotlight_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby, sentry-rails

Fix specs after rebase
  sentry-rails/spec/sentry/rails/tracing/active_support_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-ruby/lib/sentry/rspec.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/profiler_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: sentry-ruby, sentry-rails

Don't test jruby delayed_job with rails 7.1
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

Don't gate request query strings and form data behind send_default_pii
  CHANGELOG.md
  sentry-ruby/lib/sentry/faraday.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/breadcrumb/http_logger_spec.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Due: sentry-ruby

Reset trace and transaction for sidekiq-cron
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/cron/job.rb
  sentry-sidekiq/spec/sentry/sidekiq/cron/job_spec.rb
Due: sentry-sidekiq

fix: Safe-navigate to session flusher
  sentry-ruby/lib/sentry/hub.rb
Due: sentry-ruby

[delayed_job] pin activerecord-jdbcmysql-adapter to a specific sha for now
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

[sidekiq] fix specs
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/cron/job_spec.rb
Due: sentry-ruby, sentry-sidekiq

[delayed_job] update sqlite for older rubies
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

Fix the build (#2463)
  sentry-delayed_job/Gemfile
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/cron/job_spec.rb
Due: sentry-ruby, sentry-sidekiq, sentry-delayed_job

[rails] support string errors in error reporter
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

Update CHANGELOG
  CHANGELOG.md
Due: none

[rails] log instead of raising when ErrorSubscriber fails
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

[rails] fix spec
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

[rails] support string errors in error reporter (#2464)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

Borrow Rack::Utils for building nested query
  sentry-ruby/lib/sentry/excon/middleware.rb
  sentry-ruby/lib/sentry/utils/http_tracing.rb
Due: sentry-ruby

Add Excon instrumentation
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/excon.rb
  sentry-ruby/lib/sentry/excon/middleware.rb
  sentry-ruby/spec/sentry/excon_spec.rb
Due: sentry-ruby

Fix spec support for Ruby < 3
  sentry-ruby/spec/sentry/excon_spec.rb
Due: sentry-ruby

Add one more specs for more advanced query building in Excon
  sentry-ruby/spec/sentry/excon_spec.rb
Due: sentry-ruby

Handle case for Excon 1+ with Hash as query
  sentry-ruby/lib/sentry/excon/middleware.rb
Due: sentry-ruby

Add CHANGELOG
  CHANGELOG.md
Due: none

Add missing specs
  sentry-ruby/spec/sentry/excon_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Fix Rubocop
  sentry-ruby/lib/sentry/excon/middleware.rb
  sentry-ruby/spec/sentry/excon_spec.rb
Due: sentry-ruby

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec
  sentry-rails: any of: sentry-rails/, but not: **/spec
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec
  sentry-resque: any of: sentry-resque/, but not: **/spec
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec
