Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Update sentry-ruby/lib/sentry/excon/middleware.rb
  sentry-ruby/lib/sentry/excon/middleware.rb
Due: sentry-ruby

Fixes changelog
  CHANGELOG.md
Due: none

Add new specs using the query parameter encoding
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/excon_spec.rb
Due: sentry-ruby

Add Excon instrumentation (#2383)
  CHANGELOG.md
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/excon.rb
  sentry-ruby/lib/sentry/excon/middleware.rb
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/excon_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Add mutex sync to SessionFlusher aggregates
  CHANGELOG.md
  sentry-ruby/lib/sentry/session_flusher.rb
Due: sentry-ruby

Update monitor_check_ins.rb
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
Due: sentry-ruby

Default to internal_error rather than unknown_error
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
Due: sentry-opentelemetry

Don't let backtrace_cleanup_callback affect abs_path
  CHANGELOG.md
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/spec/sentry/backtrace/lines_spec.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_spec.rb
Due: sentry-ruby, sentry-rails

Add mutex sync to SessionFlusher aggregates (#2469)
  CHANGELOG.md
  sentry-ruby/lib/sentry/session_flusher.rb
Due: sentry-ruby

Add tests for SpanProcessor#update_span_status
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

Clear Rails' default backtrace filters from Sentry's backtrace cleaner
  sentry-rails/lib/sentry/rails/backtrace_cleaner.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

Remove premature path-removal filter
  sentry-rails/lib/sentry/rails/backtrace_cleaner.rb
  sentry-rails/spec/sentry/rails/event_spec.rb
Due: sentry-rails

Update changelog
  CHANGELOG.md
Due: none

Update monitor_check_ins.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/cron/monitor_check_ins.rb
Due: sentry-ruby

Test against official Rails 8.0 release
  .github/workflows/sentry_rails_test.yml
  sentry-rails/Gemfile
Due: sentry-rails

Fix sentry-rails' backtrace cleaner issues (#2475)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/backtrace_cleaner.rb
  sentry-rails/spec/sentry/rails/event_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
Due: sentry-rails

Fix missing OpenStruct in raven CI
  sentry-raven/spec/raven/json_spec.rb
Due: none

Fix missing OpenStruct in raven CI (#2480)
  sentry-raven/spec/raven/json_spec.rb
Due: none

Move dev gems to development group
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  Gemfile
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

Test against official Rails 8.0 release (#2479)
  .github/workflows/sentry_rails_test.yml
  sentry-rails/Gemfile
Due: sentry-rails

Pin jar-dependencies for jruby CI
  Gemfile
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

Pin jar-dependencies for jruby CI (#2482)
  Gemfile
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

changelog for 5.22.0
  CHANGELOG.md
Due: none

changelog for 5.22.0 (#2483)
  CHANGELOG.md
Due: none

release: 5.22.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

fix: Safe-navigate to session flusher (#2396)
  sentry-ruby/lib/sentry/hub.rb
Due: sentry-ruby

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#2484)
  CHANGELOG.md
Due: none

Fix latency related nil error for Sidekiq Queues module span data
  CHANGELOG.md
  sentry-ruby/lib/sentry/span.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: sentry-ruby, sentry-sidekiq

Fix ActiveJob tests for Rails 7.2 and 8.0
  sentry-rails/Gemfile
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

Fix latency related nil error for Sidekiq Queues module span data (#2486)
  CHANGELOG.md
  sentry-ruby/lib/sentry/span.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: sentry-ruby, sentry-sidekiq

chore(meta): update issue templates to use issue types
  .github/ISSUE_TEMPLATE/01-feature.md
  .github/ISSUE_TEMPLATE/02-improvement.md
  .github/ISSUE_TEMPLATE/03-bug.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/question.md
Due: none

chore(meta): update issue templates to use issue types (#2488)
  .github/ISSUE_TEMPLATE/01-feature.md
  .github/ISSUE_TEMPLATE/02-improvement.md
  .github/ISSUE_TEMPLATE/03-bug.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/question.md
Due: none

Remove jar-dependencies pin
  Gemfile
Due: none

Replace release bot with GH app
  .github/workflows/prepare_batch_release.yml
  .github/workflows/prepare_raven_release.yml
Due: none

feat: Remove usage of user segment
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/transaction.rb
Due: sentry-ruby

chore: Add changelog entry
  CHANGELOG.md
Due: none

[ci] remove jruby-head until we can address #2490
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
Due: none

[ci] remove jruby-head until we can address #2490 (#2494)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
Due: none

Update CHANGELOG for 5.22.1
  CHANGELOG.md
Due: none

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec
  sentry-rails: any of: sentry-rails/, but not: **/spec
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec
  sentry-resque: any of: sentry-resque/, but not: **/spec
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec
