Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
ignore:
  - "**/spec"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Don't log warnings about missing deps when profiling is not enabled (#2542)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Remove jruby from CI for now
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

Remove jruby from CI for now (#2543)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

changelog for 5.22.4
  CHANGELOG.md
Due: none

changelog for 5.22.4 (#2546)
  CHANGELOG.md
Due: none

release: 5.22.4
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Fix sidekiq test workflow
  .github/workflows/sentry_sidekiq_test.yml
Due: none

Deprecate enable_tracing in favor of traces_sample_rate
  CHANGELOG.md
  sentry-rails/lib/generators/sentry_generator.rb
  sentry-rails/spec/sentry/generator_spec.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/metrics/aggregator_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
Due: sentry-ruby, sentry-rails

Deprecate enable_tracing in favor of traces_sample_rate (#2535)
  CHANGELOG.md
  sentry-rails/lib/generators/sentry_generator.rb
  sentry-rails/spec/sentry/generator_spec.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/metrics/aggregator_spec.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
Due: sentry-ruby, sentry-rails

Add correct breadcrumb levels for 4xx/5xx response codes
  CHANGELOG.md
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/breadcrumb/http_logger_spec.rb
  sentry-ruby/spec/sentry/excon_spec.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: sentry-ruby

Add a spec checking range serialization in ActiveJob
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Fix argument serialization for ranges
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Update CHANGELOG
  CHANGELOG.md
Due: none

Ensure begin-less and end-less ranges work too
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Fix sidekiq test workflow (#2547)
  .github/workflows/sentry_sidekiq_test.yml
Due: none

Add top-level dependabot.yml
  .github/dependabot.yml
Due: none

Add top-level dependabot.yml (#2551)
  .github/dependabot.yml
Due: none

Update sentry-ruby/spec/sentry/breadcrumb/http_logger_spec.rb
  sentry-ruby/spec/sentry/breadcrumb/http_logger_spec.rb
Due: sentry-ruby

Update sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/breadcrumb/http_logger_spec.rb
Due: sentry-ruby

Add missing package-ecosystem
  .github/dependabot.yml
Due: none

Add correct breadcrumb levels for 4xx/5xx response codes (#2549)
  CHANGELOG.md
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/breadcrumb/http_logger_spec.rb
  sentry-ruby/spec/sentry/excon_spec.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: sentry-ruby

Add missing package-ecosystem (#2552)
  .github/dependabot.yml
Due: none

Update dependabot config
  .github/dependabot.yml
Due: none

Update dependabot config (#2553)
  .github/dependabot.yml
Due: none

Use relative path for common Gemfile
  sentry-delayed_job/Gemfile
  sentry-opentelemetry/Gemfile
  sentry-rails/Gemfile
  sentry-resque/Gemfile
  sentry-ruby/Gemfile
  sentry-sidekiq/Gemfile
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Add Sidekiq 8.0 beta to CI metrix
  .github/workflows/sentry_sidekiq_test.yml
Due: none

Add Sidekiq 8.0 beta to CI metrix (#2555)
  .github/workflows/sentry_sidekiq_test.yml
Due: none

WIP
  Gemfile
  sentry-ruby/Gemfile
  sentry-sidekiq/Gemfile
Due: sentry-ruby, sentry-sidekiq

Revert "Remove jruby from CI for now (#2543)"
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

WIP
  sentry-ruby/Gemfile
  sentry-sidekiq/Gemfile
Due: sentry-ruby, sentry-sidekiq

WIP
  Gemfile
Due: none

Add back delayed job
  .github/workflows/sentry_delayed_job_test.yml
Due: none

try remove jdbc pin
  sentry-delayed_job/Gemfile
Due: sentry-delayed_job

Use relative path for common Gemfile (#2554)
  sentry-delayed_job/Gemfile
  sentry-opentelemetry/Gemfile
  sentry-rails/Gemfile
  sentry-resque/Gemfile
  sentry-ruby/Gemfile
  sentry-sidekiq/Gemfile
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Try explicit jar-dependencies install
  .github/workflows/sentry_ruby_test.yml
Due: none

Fix syntax
  .github/workflows/sentry_ruby_test.yml
Due: none

Add explicit jar-dependencies step to all actions
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

Make jruby CI work with explicit jar-dependencies install (#2550)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  Gemfile
  sentry-delayed_job/Gemfile
  sentry-opentelemetry/Gemfile
  sentry-rails/Gemfile
  sentry-resque/Gemfile
  sentry-ruby/Gemfile
  sentry-sidekiq/Gemfile
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Remove jar-dependencies pin
  Gemfile
Due: none
