Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix handling of duration
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
Due: sentry-rails

Set action controller and active record as default log subscribers
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails

Use duration_ms helper
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
Due: sentry-rails

Clean up specs organization
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/support/shared_examples_for_parameter_filter.rb
Due: none

feat: include otel as custom sampling contex
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

More coverage
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

Rails active support log subscribers (#2690)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/log_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/parameter_filter.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/lib/sentry/rails/structured_logging.rb
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/structured_logging_spec.rb
  sentry-rails/spec/spec_helper.rb
  sentry-rails/spec/support/shared_examples_for_parameter_filter.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/debug_structured_logger.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/debug_structured_logger_spec.rb
  spec/apps/rails-mini/Gemfile
  spec/apps/rails-mini/app.rb
  spec/features/structured_logging_spec.rb
  spec/spec_helper.rb
  spec/support/test_helper.rb
Due: sentry-ruby, sentry-rails

Introduce structured_logging config namespace
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/debug_structured_logger.rb
  spec/apps/rails-mini/app.rb
  spec/spec_helper.rb
Due: sentry-ruby

Introduce structured_logging config namespace (#2692)
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/debug_structured_logger.rb
  spec/apps/rails-mini/app.rb
  spec/spec_helper.rb
Due: sentry-ruby

Silence `_perform` method redefinition warning
  sentry-rails/lib/sentry/rails/background_worker.rb
Due: sentry-rails

Silence `_perform` method redefinition warning (#2682)
  sentry-rails/lib/sentry/rails/background_worker.rb
Due: sentry-rails

Update CHANGELOG.md for 5.27.0
  CHANGELOG.md
Due: none

Update CHANGELOG.md for 5.27.0 (#2695)
  CHANGELOG.md
Due: none

release: 5.27.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Skip sentry.message.template when there are no parameters
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
Due: sentry-ruby

feat(sentry-sidekiq): add `report_errors_via_rails` config
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq/configuration_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/error_handler_spec.rb
Due: sentry-sidekiq

Update `CHANGELOG`
  sentry-sidekiq/CHANGELOG.md
Due: sentry-sidekiq

check if top level Rails constant is defined
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
Due: sentry-sidekiq

meta: update pull request template
  .github/pull_request_template.md
Due: none

meta: update pull request template (#2702)
  .github/pull_request_template.md
Due: none

Skip sentry.message.template when there are no parameters (#2700)
  CHANGELOG.md
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
Due: sentry-ruby

Drop `async` configuration (#1894)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/send_event_job_spec.rb
  sentry-ruby/examples/crons/README.md
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/background_worker_spec.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport/spotlight_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby, sentry-rails

Fix specs after rebase
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_support_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-resque/spec/sentry/resque_spec.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/rspec.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/profiler_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: sentry-ruby

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

Update pull_request_template.md (#2704)
  .github/pull_request_template.md
Due: none

Add before_send_check_in
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/integrable_spec.rb
Due: sentry-ruby

Add before_send_check_in (#2703)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/integrable_spec.rb
Due: sentry-ruby

[devcontainer] fix git command in run script
  .devcontainer/run
Due: none

Respect log_level
  sentry-rails/spec/isolated/rails_logger_patch_spec.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
Due: sentry-ruby

[devcontainer] fix git command in run script (#2710)
  .devcontainer/run
Due: none

2696 Respect log_level (#2709)
  CHANGELOG.md
  sentry-rails/spec/isolated/rails_logger_patch_spec.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
Due: sentry-ruby

feat(logging): support for :origin attribute
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby
