Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Update CHANGELOG.md
  CHANGELOG.md
Due: none

auto queue time metric
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

Update sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
Due: sentry-ruby

remove test app
  sentry-ruby/test-app/sentry_queue_test.rb
Due: sentry-ruby

Delete sentry_queue_test.rb
  sentry-ruby/test-app/sentry_queue_test.rb
Due: sentry-ruby

⏰👮🏻
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: none

change name
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Due: sentry-ruby

remove upper bounds
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
Due: sentry-ruby

chore(repo): Add Claude Code settings with basic permissions
  .claude/settings.json
Due: none

Add git and gh command permissions to Claude settings
  .claude/settings.json
Due: none

Add external_propagation_context support
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Add external_propagation_context support (#2841)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

fix: add explicit dependency on logger for Ruby 4 (#2837)
  CHANGELOG.md
  sentry-ruby/sentry-ruby.gemspec
Due: sentry-ruby

WIP: repro
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Due: none

fix(rails): Use ActionDispatch::ExceptionWrapper for correct HTTP status codes
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
Due: sentry-ruby, sentry-rails

Fix test
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Due: none

Update tracing tests
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Due: none

Fix spec 🤞
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Due: none

Add fix for Rails < 6
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Due: none

fix(rails): use `ActionDispatch::ExceptionWrapper` for correct HTTP status code (#2850)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
Due: sentry-ruby, sentry-rails

fix(telemetry): Remove DSN object from envelope header
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
Due: sentry-ruby

fix(telemetry): Convert DSN to string in envelope header
  sentry-ruby/lib/sentry/telemetry_event_buffer.rb
  sentry-ruby/spec/sentry/metrics_spec.rb
Due: sentry-ruby

wip
  sentry-opentelemetry/lib/sentry-opentelemetry.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_propagator.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_setup.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/otlp_propagator_spec.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/otlp_setup_spec.rb
  sentry-opentelemetry/spec/spec_helper.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/lib/sentry/otlp/configuration.rb
  sentry-ruby/spec/sentry/dsn_spec.rb
  sentry-ruby/spec/sentry/otlp/configuration_spec.rb
Due: sentry-ruby, sentry-opentelemetry

changelog for 6.3.1
  CHANGELOG.md
Due: none

changelog for 6.3.1 (#2852)
  CHANGELOG.md
Due: none

release: 6.3.1
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

bump redis in ci
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

bump redis in ci (#2854)
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

Implement OTLP support
  CHANGELOG.md
  sentry-opentelemetry/lib/sentry-opentelemetry.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/configuration.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_propagator.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_setup.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/configuration_spec.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/otlp_propagator_spec.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/otlp_setup_spec.rb
  sentry-opentelemetry/spec/spec_helper.rb
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/dsn_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Due: sentry-ruby, sentry-opentelemetry

Update sentry-opentelemetry/lib/sentry/opentelemetry/otlp_propagator.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_propagator.rb
Due: sentry-opentelemetry

Implement OTLP support (#2853)
  CHANGELOG.md
  sentry-opentelemetry/lib/sentry-opentelemetry.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/configuration.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_propagator.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/otlp_setup.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/configuration_spec.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/otlp_propagator_spec.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/otlp_setup_spec.rb
  sentry-opentelemetry/spec/spec_helper.rb
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/dsn_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Due: sentry-ruby, sentry-opentelemetry

docs: update README to reflect Ruby 4.0 testing support
  sentry-ruby/README.md
Due: sentry-ruby

fix(tests): skip vernier on Ruby head due to compilation issues
  sentry-ruby/spec/spec_helper.rb
Due: none

docs: update README to reflect Ruby 4.0 testing support (#2855)
  sentry-ruby/README.md
Due: sentry-ruby

fix(test_helper): Warn when teardown_sentry_test finds no test scope layer
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/test_helper_spec.rb
Due: sentry-ruby

Resolve #2860 - Do not ignore Job class sidekiq options while assessing retryable job
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
Due: sentry-sidekiq
