Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Fix ActiveJob tests for Rails 7.2 and 8.0 (#2487)
  sentry-rails/Gemfile
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

Update sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/client.rb
Due: sentry-ruby

Improve `before_send` and `before_send_transaction`'s return value handling (#2504)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Fix syntax in workflow files (#2507)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

add report_after_job_retries support for activejob
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
Due: sentry-rails

handle already_supported_by_sentry_integration
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

require configuration
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
Due: sentry-rails

changelog
  sentry-rails/CHANGELOG.md
Due: sentry-rails

copy other logic
  sentry-rails/lib/sentry/rails/active_job.rb
Due: sentry-rails

changelog
  CHANGELOG.md
  sentry-rails/CHANGELOG.md
Due: sentry-rails

flatten configuration to rails.actibve_job_report_after_job_retries
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/active_job/configuration.rb
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails

add config default / spec
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
Due: sentry-rails

add tests
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

skip retry_on tests with rails < 5.1
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Use RFC2396_PARSER explicitly to avoid the warning.
  sentry-ruby/lib/sentry/net/http.rb
Due: sentry-ruby

Add changelog entry.
  CHANGELOG.md
Due: none

move class declaration into rail > 5.1 block
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

try a different way
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: sentry-rails

Fix a crash from ActiveSupport
  sentry-delayed_job/spec/spec_helper.rb
  sentry-rails/spec/isolated/active_job_activation.rb
  sentry-sidekiq/spec/sentry/rails_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-rails, sentry-sidekiq, sentry-delayed_job

Add ostruct for ruby-head
  sentry-opentelemetry/Gemfile
  sentry-resque/Gemfile
  sentry-ruby/Gemfile
Due: sentry-ruby, sentry-resque, sentry-opentelemetry

Fix issues with specs (#2511)
  sentry-delayed_job/spec/spec_helper.rb
  sentry-opentelemetry/Gemfile
  sentry-rails/spec/isolated/active_job_activation.rb
  sentry-resque/Gemfile
  sentry-ruby/Gemfile
  sentry-sidekiq/spec/sentry/rails_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Update CHANGELOG
  CHANGELOG.md
Due: none

Prevent crashes from get_main_hub when in trap context
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Prevent crashes from get_main_hub when in trap context (#2510)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Use SolidQueue as the job enqueuer for development
  sentry-rails/examples/rails-8.0/app/jobs/error_job.rb
  sentry-rails/examples/rails-8.0/config/database.yml
  sentry-rails/examples/rails-8.0/config/environments/development.rb
  sentry-rails/examples/rails-8.0/db/queue_schema.rb
  sentry-rails/examples/rails-8.0/db/schema.rb
  sentry-rails/examples/rails-8.0/test/jobs/error_job_test.rb
Due: sentry-rails

Fallback to DEFAULT_PARSER if RFC2396_PARSER is not found.
  sentry-ruby/lib/sentry/net/http.rb
Due: sentry-ruby

Refactor uri_parser method into a constant.
  sentry-ruby/lib/sentry/net/http.rb
Due: sentry-ruby

Use RFC2396_PARSER explicitly to avoid the warning. (#2509)
  CHANGELOG.md
  sentry-ruby/lib/sentry/net/http.rb
Due: sentry-ruby

Fix flaky trap context spec
  sentry-ruby/spec/isolated/init.rb
  sentry-ruby/spec/isolated/init_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

We really cannot use eager_load in tests
  sentry-sidekiq/spec/sentry/rails_spec.rb
Due: sentry-sidekiq

Fix issues with specs again (#2514)
  sentry-ruby/spec/isolated/init.rb
  sentry-ruby/spec/isolated/init_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
  sentry-sidekiq/spec/sentry/rails_spec.rb
Due: sentry-ruby, sentry-sidekiq

Update README.md
  sentry-ruby/README.md
Due: sentry-ruby

Update README.md (#2515)
  sentry-ruby/README.md
Due: sentry-ruby

Add date range to licence
  LICENSE
Due: none

Add date range to licence (#2516)
  LICENSE
Due: none

Revert "Add date range to licence (#2516)"
  LICENSE
Due: none

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec
  sentry-rails: any of: sentry-rails/, but not: **/spec
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec
  sentry-resque: any of: sentry-resque/, but not: **/spec
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec
