Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

fix(sidekiq): disable :redis patch in specs
  sentry-sidekiq/spec/spec_helper.rb
Due: none

chore(sidekiq): move rails_spec to spec:isolated group
  sentry-sidekiq/spec/isolated/rails_spec.rb
Due: none

chore(ci): remove usage of obsolete env var
  .github/workflows/sentry_sidekiq_test.yml
Due: none

feat(rails): add binds to ActiveRecord logs
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/dummy/test_rails_app/apps/5-2.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-1.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-1.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

chore(rails): remove 5.0 leftovers
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/dummy/test_rails_app/apps/5-0.rb
  sentry-rails/spec/dummy/test_rails_app/configs/5-0.rb
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

chore(rails): remove 5.0 leftovers (#2760)
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/dummy/test_rails_app/apps/5-0.rb
  sentry-rails/spec/dummy/test_rails_app/configs/5-0.rb
Due: none

Binds could be `nil` so don't crash if they are
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
Due: sentry-rails

Follow conventions for db.query.params attributes
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

fix(devcontainer): make things work with jruby
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/run
  .devcontainer/setup
  spec/apps/rails-mini/Gemfile
Due: none

Make it work under jruby too
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
Due: sentry-rails

feat(rails): add binds to ActiveRecord logs (#2761)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
  sentry-rails/spec/dummy/test_rails_app/apps/5-2.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-1.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-1.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

fix(rails): set correct rspec-rails version specs
  sentry-rails/Gemfile
Due: sentry-rails

chore(rails): update versions in bin/test
  sentry-rails/bin/test
Due: sentry-rails

chore(rails): support 8.1 in the Gemfile
  sentry-rails/Gemfile
Due: sentry-rails

chore(rails): add 8.1.0 to matrix
  .github/workflows/sentry_rails_test.yml
Due: none

chore(rails): add --profile to .rspec
  sentry-rails/.rspec
Due: sentry-rails

chore(rails): refactor and fix test app setup
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/hello_controller.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/posts_controller.rb
  sentry-rails/spec/dummy/test_rails_app/app/models/comment.rb
  sentry-rails/spec/dummy/test_rails_app/app/models/post.rb
  sentry-rails/spec/dummy/test_rails_app/app/views/test_template.html.erb
  sentry-rails/spec/dummy/test_rails_app/apps/5-2.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-1.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-1.rb
  sentry-rails/spec/dummy/test_rails_app/config.ru
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/5-2.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/6-0.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/6-1.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/7-0.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/latest.rb
  sentry-rails/spec/dummy/test_rails_app/config/database.yml
  sentry-rails/spec/dummy/test_rails_app/config/environment.rb
  sentry-rails/spec/dummy/test_rails_app/config/storage.yml
  sentry-rails/spec/dummy/test_rails_app/configs/5-2.rb
  sentry-rails/spec/dummy/test_rails_app/configs/6-0.rb
  sentry-rails/spec/dummy/test_rails_app/configs/6-1.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-0.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-1.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-2.rb
  sentry-rails/spec/dummy/test_rails_app/db/schema.rb
  sentry-rails/spec/isolated/rails_logger_patch_spec.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/client_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-rails/spec/spec_helper.rb
  sentry-rails/spec/support/test_helper.rb
  sentry-rails/spec/versioned/2.7/activejob_spec.rb
Due: none

fix(rails): avoid filter_parameters accumulation between spec runs
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-1.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-2.rb
  sentry-rails/spec/spec_helper.rb
Due: none

chore(rails): 8.1 in test setup (#2764)
  .github/workflows/sentry_rails_test.yml
  sentry-rails/Gemfile
  sentry-rails/bin/test
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-1.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-2.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

chore(rails): refactor and fix test app setup
  sentry-rails/.rspec
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/hello_controller.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/posts_controller.rb
  sentry-rails/spec/dummy/test_rails_app/app/models/comment.rb
  sentry-rails/spec/dummy/test_rails_app/app/models/post.rb
  sentry-rails/spec/dummy/test_rails_app/app/views/test_template.html.erb
  sentry-rails/spec/dummy/test_rails_app/apps/5-2.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-1.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-1.rb
  sentry-rails/spec/dummy/test_rails_app/config.ru
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/rails-5.2.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/rails-6.0.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/rails-6.1.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/rails-7.0.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/rails-latest.rb
  sentry-rails/spec/dummy/test_rails_app/config/database.yml
  sentry-rails/spec/dummy/test_rails_app/config/storage.yml
  sentry-rails/spec/dummy/test_rails_app/configs/5-2.rb
  sentry-rails/spec/dummy/test_rails_app/configs/6-0.rb
  sentry-rails/spec/dummy/test_rails_app/configs/6-1.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-0.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-1.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-2.rb
  sentry-rails/spec/dummy/test_rails_app/db/schema.rb
  sentry-rails/spec/isolated/rails_logger_patch_spec.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/client_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/spec_helper.rb
  sentry-rails/spec/support/test_helper.rb
  sentry-rails/spec/versioned/2.7/activejob_spec.rb
  sentry-ruby.code-workspace
Due: sentry-rails

Guard log subscribers with initialized check
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
Due: sentry-rails

Guard log subscribers with initialized check (#2765)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_job_subscriber.rb
  sentry-rails/lib/sentry/rails/log_subscribers/active_record_subscriber.rb
Due: sentry-rails

chore(rails): refactor and fix test app setup (#2762)
  sentry-rails/.rspec
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/hello_controller.rb
  sentry-rails/spec/dummy/test_rails_app/app/controllers/posts_controller.rb
  sentry-rails/spec/dummy/test_rails_app/app/models/comment.rb
  sentry-rails/spec/dummy/test_rails_app/app/models/post.rb
  sentry-rails/spec/dummy/test_rails_app/app/views/test_template.html.erb
  sentry-rails/spec/dummy/test_rails_app/apps/5-2.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-1.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-1.rb
  sentry-rails/spec/dummy/test_rails_app/config.ru
  sentry-rails/spec/dummy/test_rails_app/config/application.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/rails-5.2.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/rails-6.0.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/rails-6.1.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/rails-7.0.rb
  sentry-rails/spec/dummy/test_rails_app/config/applications/rails-latest.rb
  sentry-rails/spec/dummy/test_rails_app/config/database.yml
  sentry-rails/spec/dummy/test_rails_app/config/storage.yml
  sentry-rails/spec/dummy/test_rails_app/configs/5-2.rb
  sentry-rails/spec/dummy/test_rails_app/configs/6-0.rb
  sentry-rails/spec/dummy/test_rails_app/configs/6-1.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-0.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-1.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-2.rb
  sentry-rails/spec/dummy/test_rails_app/db/schema.rb
  sentry-rails/spec/isolated/rails_logger_patch_spec.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/client_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/spec_helper.rb
  sentry-rails/spec/support/test_helper.rb
  sentry-rails/spec/versioned/2.7/activejob_spec.rb
  sentry-ruby.code-workspace
Due: sentry-rails

changelog for 6.1.0
  CHANGELOG.md
Due: none

changelog for 6.1.0 (#2766)
  CHANGELOG.md
Due: none

release: 6.1.0
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

chore(ci): bump jruby 9.4.12.0 -> 9.4.14.0
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/tests.yml
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Due: none

Refactor logging messages in Sentry Good Job integration to remove namespace prefix. This change simplifies log output for cron monitoring and job initialization, enhancing readability in logs.
  sentry-good_job/lib/sentry-good_job.rb
  sentry-good_job/lib/sentry/good_job/cron_helpers.rb
  sentry-good_job/spec/sentry/good_job/cron_helpers_spec.rb
Due: none

chore(ci): remove `jruby` from exclusion list in rails
  .github/workflows/sentry_rails_test.yml
Due: none

fix(jruby): skip expectation under latest jruby too
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
Due: none

chore(ci): add JRUBY_OPTS="--debug" to ENV
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Due: none

chore(ci): update jruby setup (#2767)
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  .github/workflows/tests.yml
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
Due: none

chore(sidekiq): add spec:isolated rake task
  sentry-sidekiq/Rakefile
Due: sentry-sidekiq

Restore redis patch
  sentry-sidekiq/spec/spec_helper.rb
Due: none

Fix specs after restoring redis patch
  sentry-sidekiq/spec/sentry/sidekiq/cron/job_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Due: none

[sidekiq] better and isolated rails specs (#2723)
  .github/workflows/sentry_sidekiq_test.yml
  sentry-sidekiq/Rakefile
  sentry-sidekiq/spec/isolated/rails_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/cron/job_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Due: sentry-sidekiq

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
