Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
  notify:
    manual_trigger: true
ignore:
  - "**/spec/**"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

fix(logging): add missing :origin to logger patch
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
Due: sentry-ruby

fix(logging): add missing :origin to rails logging
  sentry-rails/lib/sentry/rails/log_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
Due: sentry-rails

Update CHANGELOG
  CHANGELOG.md
Due: none

Add `sentry.origin` to log events (#2712)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/log_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_job_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/log_subscribers/active_record_subscriber_spec.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/std_lib_logger.rb
  sentry-ruby/spec/isolated/std_lib_logger_spec.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby, sentry-rails

chore(release): prep 5.27.1
  CHANGELOG.md
Due: none

chore(release): prep 5.27.1 (#2713)
  CHANGELOG.md
Due: none

release: 5.27.1
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Drop `async` configuration (#1894)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/send_event_job_spec.rb
  sentry-ruby/examples/crons/README.md
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/background_worker_spec.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport/spotlight_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby, sentry-rails

Fix specs after rebase
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_support_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-resque/spec/sentry/resque_spec.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/log_event.rb
  sentry-ruby/lib/sentry/rspec.rb
  sentry-ruby/lib/sentry/vernier/profiler.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/log_event_spec.rb
  sentry-ruby/spec/sentry/profiler_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry/vernier/profiler_spec.rb
Due: sentry-ruby

Add before_send_check_in (#2703)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/integrable_spec.rb
Due: sentry-ruby

Remove stacktrace trimming from the SDK
  CHANGELOG.md
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Remove stacktrace trimming from the SDK (#2714)
  CHANGELOG.md
  sentry-ruby/lib/sentry/envelope/item.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby

Default config.enabled_environments to nil instead of []
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

feat(sentry-sidekiq): add `report_errors_via_rails` config
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq/configuration_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/error_handler_spec.rb
Due: sentry-sidekiq

Update `CHANGELOG`
  sentry-sidekiq/CHANGELOG.md
Due: sentry-sidekiq

check if top level Rails constant is defined
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
Due: sentry-sidekiq

Default config.enabled_environments to nil instead of [] (#2716)
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Remove :monotonic_active_support_logger
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/breadcrumb/monotonic_active_support_logger.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/breadcrumbs/active_support_logger_spec.rb
  sentry-rails/spec/sentry/rails/breadcrumbs/monotonic_active_support_logger_spec.rb
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby, sentry-rails

Remove :monotonic_active_support_logger (#2717)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/breadcrumb/monotonic_active_support_logger.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/breadcrumbs/active_support_logger_spec.rb
  sentry-rails/spec/sentry/rails/breadcrumbs/monotonic_active_support_logger_spec.rb
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby, sentry-rails

Fix old logger call in graphql
  CHANGELOG.md
  sentry-ruby/lib/sentry/graphql.rb
Due: sentry-ruby

chore: exercise otel context with tracer_sampler
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: none

feat: include otel as custom sampling contex
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

Fix old logger call in graphql (#2722)
  CHANGELOG.md
  sentry-ruby/lib/sentry/graphql.rb
Due: sentry-ruby

chore(sidekiq): auto-require spec_helper
  sentry-sidekiq/.rspec
Due: sentry-sidekiq

chore(sidekiq): add spec:isolated rake task
  sentry-sidekiq/Rakefile
Due: sentry-sidekiq

chore(sidekiq): move rails spec to spec/isolated
  sentry-sidekiq/spec/isolated/rails_spec.rb
  sentry-sidekiq/spec/sentry/rails_spec.rb
Due: none

chore(ci): remove usage of obsolete env var
  .github/workflows/sentry_sidekiq_test.yml
Due: none

Yield config from its constructor
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

feat(configuration): add before/after callbacks
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

Add new configuration callbacks (#2724)
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Due: sentry-ruby

feat(logging): auto-enable structured_logging
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/structured_logging_spec.rb
Due: sentry-rails

Rework to use a callback
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails

Use new syntax for config callbacks
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails

Add config.trace_ignore_status_codes to control which status codes don't get traced
  .gitignore
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Due: sentry-ruby

No need for parent_config after all
  sentry-rails/lib/sentry/rails/configuration.rb
Due: sentry-rails

feat(logging): auto-enable structured_logging in Rails (#2721)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/log_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/structured_logging_spec.rb
Due: sentry-rails
