Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

codecov.yml:

codecov:
  disable_default_path_fixes: true
ignore:
  - "**/spec"
comment:
  layout: "header, diff, flags, components, tree"
component_management:
  individual_components:
    - component_id: "sentry-ruby"
      paths:
        - "sentry-ruby/"
    - component_id: "sentry-rails"
      paths:
        - "sentry-rails/"
    - component_id: "sentry-sidekiq"
      paths:
        - "sentry-sidekiq/"
    - component_id: "sentry-resque"
      paths:
        - "sentry-resque/"
    - component_id: "sentry-delayed_job"
      paths:
        - "sentry-delayed_job/"
    - component_id: "sentry-opentelemetry"
      paths:
        - "sentry-opentelemetry/"

Make the same URI changes for `sentry-opentelemetry` gemspec
  sentry-opentelemetry/sentry-opentelemetry.gemspec
Due: sentry-opentelemetry

Make the same URI changes for `sentry-ruby` gemspec
  sentry-ruby/sentry-ruby.gemspec
Due: sentry-ruby

Tranform gemspec metadata to a single Hash for `sentry-rails`
  sentry-rails/sentry-rails.gemspec
Due: sentry-rails

Make the same URI changes for `sentry-rescue` gemspec
  sentry-resque/sentry-resque.gemspec
Due: sentry-resque

Add bug tracker and documentation links into `sentry-rails` gemspec
  sentry-rails/sentry-rails.gemspec
Due: sentry-rails

fix changelogs
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/sentry-rails.gemspec
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

Fix typos (#2332)
  sentry-rails/lib/sentry/rails/railtie.rb
Due: sentry-rails

Make links more specific in gemspecs (#2311)
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/sentry-rails.gemspec
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

teardown_sentry_test helper should clear global even processors too
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/test_helper_spec.rb
Due: sentry-ruby

Update changelog
  CHANGELOG.md
Due: none

Don't fail fast on sentry-ruby jobs
  .github/workflows/sentry_ruby_test.yml
Due: none

Suppress the unnecessary “unsupported options notice”
  CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Due: sentry-ruby

Don't overwrite ip_address if already set on user
  CHANGELOG.md
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/spec/sentry/event_spec.rb
Due: sentry-ruby

Update sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Due: sentry-ruby

Suppress the unnecessary “unsupported options notice” (#2349)
  CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Due: sentry-ruby

Drop `async` configuration (#1894)
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/send_event_job_spec.rb
  sentry-ruby/examples/crons/README.md
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/background_worker_spec.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport/spotlight_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Due: sentry-ruby, sentry-rails

`teardown_sentry_test` helper should clear global even processors too (#2342)
  .github/workflows/sentry_ruby_test.yml
  CHANGELOG.md
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/test_helper_spec.rb
Due: sentry-ruby

Don't overwrite ip_address if already set on user (#2350)
  CHANGELOG.md
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/spec/sentry/event_spec.rb
Due: sentry-ruby

Add client reports for span drop counts
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/envelope_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

Add client reports for span drop counts (#2346)
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/envelope_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/spec_helper.rb
Due: sentry-ruby

meta: Changelog for 5.18.2
  CHANGELOG.md
Due: none

meta: Changelog for 5.18.2 (#2353)
  CHANGELOG.md
Due: none

release: 5.18.2
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Due: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

ci: dependency review action
  .github/workflows/dependency-review.yml
Due: none

Require sentry/faraday by default
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/faraday.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: sentry-ruby

Support for Faraday instrumentation
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry/faraday.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: sentry-ruby

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Use prepend in Faraday patch
  sentry-ruby/lib/sentry/faraday.rb
Due: sentry-ruby

Simplify inserting faraday instrumentation
  sentry-ruby/lib/sentry/faraday.rb
Due: sentry-ruby

Ensure none of the spans come from faraday when net/http is used
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: sentry-ruby

Support for tracing Faraday requests (#2345)
  CHANGELOG.md
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/faraday.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: sentry-ruby

Use `Concurrent.available_processor_count` instead of `Concurrent.usable_processor_count`
  sentry-ruby/lib/sentry/configuration.rb
Due: sentry-ruby

all-repos: update actions/upload-artifact to v4
  .github/workflows/build_batch_release.yml
  .github/workflows/build_release.yml
Due: none

Unify Net::HTTP and Faraday implementations
  sentry-ruby/lib/sentry/faraday.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/lib/sentry/utils/http_tracing.rb
Due: sentry-ruby

Fix early return in Faraday when Sentry is not initialized
  sentry-ruby/lib/sentry/faraday.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: sentry-ruby

wip - see if this will fix the specs
  sentry-ruby/Gemfile
Due: sentry-ruby

Use graphql < 2.3.11
  sentry-ruby/Gemfile
Due: sentry-ruby

Unify Net::HTTP and Faraday implementations (#2360)
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry/faraday.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/lib/sentry/utils/http_tracing.rb
  sentry-ruby/spec/sentry/faraday_spec.rb
Due: sentry-ruby
