Repository getsentry/sentry-ruby: changes, and which Codecov flags are due for each by the changed paths.
All: sentry-ruby, sentry-rails, sentry-sidekiq, sentry-resque, sentry-delayed_job, sentry-opentelemetry

WIP - add ActionMailerSubscriber
  sentry-rails/lib/sentry/rails/log_subscribers/action_mailer_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_mailer_subscriber_spec.rb
Due: sentry-rails

WIP - add ActionControllerSubscriber
  sentry-rails/lib/sentry/rails/log_subscribers/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails/log_subscribers/action_controller_subscriber_spec.rb
Due: sentry-rails

WIP - Add Rails::Logger and config extension
  sentry-rails/lib/sentry/rails.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/logger.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/logger_spec.rb
  sentry-rails/spec/spec_helper.rb
Due: sentry-rails

WIP - add DebugStructuredLogger
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/debug_structured_logger.rb
  sentry-ruby/spec/sentry/debug_structured_logger_spec.rb
  spec/support/test_helper.rb
Due: sentry-ruby

WIP - add e2e specs for rails structured logging
  spec/apps/rails-mini/Gemfile
  spec/apps/rails-mini/app.rb
  spec/features/structured_logging_spec.rb
Due: none

[rails] fix bundling for older rubies
  sentry-rails/Gemfile
Due: sentry-rails

[e2e] completely relax rails version requirement
  spec/apps/rails-mini/Gemfile
Due: none

[.devcontainer] make it work under ancient rubies
  .devcontainer/setup
Due: none

[.devcontainer] fix git command for older git
  .devcontainer/run
Due: none

[.devcontainer] add libsqlite3-dev
  .devcontainer/Dockerfile
Due: none

Make devcontainer work with ancient Ruby/Rails (#2679)
  .devcontainer/Dockerfile
  .devcontainer/run
  .devcontainer/setup
  sentry-rails/Gemfile
  spec/apps/rails-mini/Gemfile
Due: sentry-rails

Add sample_rand to propagation context
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/spec/sentry/propagation_context/sample_rand_spec.rb
  sentry-ruby/spec/sentry/propagation_context_spec.rb
Due: sentry-ruby

Add Utils::SampleRand
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/utils/sample_rand.rb
  sentry-ruby/spec/sentry/utils/sample_rand_spec.rb
Due: sentry-ruby

Reduce duplication between Transaction/PropagationContext
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/transaction.rb
Due: sentry-ruby

Improve spec descriptions
  sentry-ruby/spec/sentry/transactions/sample_rand_propagation_spec.rb
Due: none

Turn SampleRand into a class
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/utils/sample_rand.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/propagation_context/sample_rand_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transactions/sample_rand_propagation_spec.rb
  sentry-ruby/spec/sentry/transactions/trace_propagation_spec.rb
  sentry-ruby/spec/sentry/utils/sample_rand_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

Add sample_rand to transaction
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Due: sentry-ruby

More tests
  sentry-ruby/spec/sentry/transactions/sample_rand_propagation_spec.rb
Due: none

Add parent_sampled_rate to sampling context
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/transactions/sample_rand_propagation_spec.rb
  sentry-ruby/spec/sentry/transactions/trace_propagation_spec.rb
Due: sentry-ruby

Remove a spec that made no sense
  sentry-ruby/spec/sentry/transactions/sample_rand_propagation_spec.rb
Due: none

Improve spec descriptions
  sentry-ruby/spec/sentry_spec.rb
Due: none

Stricter parsing of the sample rand value
  sentry-ruby/lib/sentry/utils/sample_rand.rb
  sentry-ruby/spec/sentry/utils/sample_rand_spec.rb
Due: sentry-ruby

Refine a couple of specs
  sentry-ruby/spec/sentry/transactions/trace_propagation_spec.rb
Due: none

[devcontainer] update node
  .devcontainer/Dockerfile
Due: none

Update e2e workflow
  .github/workflows/e2e_tests.yml
Due: none

Add more e2e coverage for DSC
  spec/apps/rails-mini/app.rb
  spec/apps/svelte-mini/src/main.js
  spec/features/tracing_spec.rb
  spec/support/test_helper.rb
Due: none

Update svelte mini app for e2e
  .devcontainer/.env.example
  .github/workflows/e2e_tests.yml
  spec/apps/svelte-mini/package-lock.json
  spec/apps/svelte-mini/package.json
  spec/apps/svelte-mini/src/App.svelte
  spec/apps/svelte-mini/src/main.js
  spec/apps/svelte-mini/vite.config.js
Due: none

Improve spec
  sentry-ruby/spec/sentry_spec.rb
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

[e2e] clear logged events
  spec/spec_helper.rb
  spec/support/test_helper.rb
Due: none

Improve e2e spec
  spec/features/tracing_spec.rb
Due: none

Propagated sampling rates (#2671)
  .devcontainer/.env.example
  .devcontainer/Dockerfile
  .github/workflows/e2e_tests.yml
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/utils/sample_rand.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/propagation_context/sample_rand_spec.rb
  sentry-ruby/spec/sentry/propagation_context_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transactions/sample_rand_propagation_spec.rb
  sentry-ruby/spec/sentry/transactions/trace_propagation_spec.rb
  sentry-ruby/spec/sentry/utils/sample_rand_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  spec/apps/rails-mini/app.rb
  spec/apps/svelte-mini/package-lock.json
  spec/apps/svelte-mini/package.json
  spec/apps/svelte-mini/src/App.svelte
  spec/apps/svelte-mini/src/main.js
  spec/apps/svelte-mini/vite.config.js
  spec/features/tracing_spec.rb
  spec/spec_helper.rb
  spec/support/test_helper.rb
Due: sentry-ruby

Update sentry trace regexp
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/spec/sentry/propagation_context_spec.rb
Due: sentry-ruby

Update sentry trace regexp (#2678)
  sentry-ruby/lib/sentry/propagation_context.rb
  sentry-ruby/spec/sentry/propagation_context_spec.rb
Due: sentry-ruby

Silence `_perform` method redefinition warning
  sentry-rails/lib/sentry/rails/background_worker.rb
Due: sentry-rails

feat: include otel as custom sampling contex
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
Due: sentry-opentelemetry

[rails] add bin/test
  .devcontainer/run
  .gitignore
  Gemfile.dev
  sentry-rails/Gemfile
  sentry-rails/bin/test
Due: sentry-rails

Add DebugStructuredLogger
  sentry-rails/spec/spec_helper.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/debug_structured_logger.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/debug_structured_logger_spec.rb
  spec/support/test_helper.rb
Due: sentry-ruby

Update Gemfile.dev
  Gemfile.dev
  sentry-rails/Gemfile
Due: sentry-rails

[rails] symlink .rspec
  sentry-rails/.rspec
Due: sentry-rails

Path conditions:
  sentry-ruby: any of: sentry-ruby/, but not: **/spec/**
  sentry-rails: any of: sentry-rails/, but not: **/spec/**
  sentry-sidekiq: any of: sentry-sidekiq/, but not: **/spec/**
  sentry-resque: any of: sentry-resque/, but not: **/spec/**
  sentry-delayed_job: any of: sentry-delayed_job/, but not: **/spec/**
  sentry-opentelemetry: any of: sentry-opentelemetry/, but not: **/spec/**
